Repository mfem/mfem, pull requests merged in 2018-09, with the labels that each got.

#600 Proposed changes to prism-dev [prism-dev-dev]
  CHANGELOG
  examples/ex1.cpp
  examples/ex11p.cpp
  examples/ex1p.cpp
  fem/eltrans.cpp
  fem/eltrans.hpp
  fem/fe.cpp
  fem/fe.hpp
  fem/fe_coll.cpp
  fem/fe_coll.hpp
  fem/fespace.cpp
  fem/geom.cpp
  fem/geom.hpp
  fem/intrules.cpp
  fem/pgridfunc.cpp
  mesh/element.cpp
  mesh/element.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  mesh/tetrahedron.cpp
  mesh/tetrahedron.hpp
  mesh/triangle.cpp
  mesh/triangle.hpp
  mesh/wedge.cpp
  mesh/wedge.hpp
Labels: enhancement, fem

#596 Small tweak in test.mk
  config/test.mk
Labels: bug, building, in-next, minor

#587 ParNCMesh copy constructor, copying of NC ParMesh.
  mesh/mesh.cpp
  mesh/pmesh.cpp
  mesh/pncmesh.cpp
  mesh/pncmesh.hpp
Labels: enhancement, in-next, mesh

#579 Verifying order and dimension arguments in fe_coll [fe-col-order-check-dev]
  fem/fe_coll.cpp
Labels: bug, fem, in-next, minor

#598 Fix the out-of-source build for the miniapps sample runs
  miniapps/electromagnetics/makefile
  miniapps/meshing/makefile
Labels: bug, building, in-next, minor

#607 Adjusting const correctness of Coefficient::Eval methods [coef-eval-const-dev]
  examples/ex10.cpp
  examples/ex10p.cpp
  examples/ex17.cpp
  examples/ex17p.cpp
  fem/bilininteg.cpp
  fem/coefficient.cpp
  fem/coefficient.hpp
  fem/eltrans.cpp
  fem/eltrans.hpp
  fem/fe.cpp
  fem/fe.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  miniapps/electromagnetics/joule_solver.cpp
  miniapps/electromagnetics/joule_solver.hpp
  miniapps/tools/display-basis.cpp
Labels: fem, minor

#605 Preserve the global attribute lists after parallel derefinement [issue-463-fix]
  mesh/mesh.cpp
Labels: bug, in-next, mesh, minor

#601 SidreDataCollection: free memory in `attr_map` [sdc-mem-leak]
  fem/sidredatacollection.cpp
Labels: bug, general, in-next

#572 Adding methods which compute element-wise Lp errors [elementwise-error-dev]
  fem/gridfunc.cpp
  fem/gridfunc.hpp
Labels: enhancement, fem, in-next, minor

#606 Fix an issue in ProjectBdrCoefficient [project-bdr-coeff-fix]
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/pgridfunc.cpp
  fem/pgridfunc.hpp
Labels: bug, fem, in-next
