Repository mfem/mfem, pull requests merged in 2018-10, with the labels that each got.

#617 Additions and modification for #554 [prism-dev-dev-2 -> prism-dev]
  .gitignore
  CHANGELOG
  CMakeLists.txt
  config/cmake/config.hpp.in
  config/config.hpp
  config/config.hpp.in
  config/sample-runs.sh
  data/fichera-mixed-p2.mesh
  data/star-mixed-p2.mesh
  examples/ex1.cpp
  examples/ex11p.cpp
  examples/ex12p.cpp
  examples/ex15.cpp
  examples/ex15p.cpp
  examples/ex1p.cpp
  examples/ex3.cpp
  examples/ex3p.cpp
  examples/ex8p.cpp
  fem/conduitdatacollection.cpp
  fem/fe_coll.cpp
  fem/fe_coll.hpp
  fem/fespace.cpp
  fem/fespace.hpp
  fem/geom.cpp
  fem/geom.hpp
  fem/gridfunc.cpp
  fem/pfespace.cpp
  fem/sidredatacollection.cpp
  fem/sidredatacollection.hpp
  general/array.hpp
  general/error.hpp
  general/hash.hpp
  general/table.hpp
  mesh/element.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/mesh_readers.cpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  mesh/pncmesh.hpp
  mesh/pumi.cpp
  mesh/tetrahedron.cpp
  mesh/tetrahedron.hpp
  mesh/triangle.cpp
  mesh/triangle.hpp
  miniapps/electromagnetics/joule.cpp
  miniapps/electromagnetics/tesla.cpp
  miniapps/electromagnetics/volta.cpp
  miniapps/meshing/extruder.cpp
  miniapps/meshing/makefile
  miniapps/meshing/mesh-explorer.cpp
Labels: mesh

#591 Bring us in compliance with M1 of the XSDK [xsdk-cmake-options-dev]
  config/XSDKDefaults.cmake
  config/cmake/modules/MfemCmakeUtilities.cmake
Labels: building, in-next, minor

#629 Implementing Project method for vector coefficients [pos-vector-basis-dev]
  fem/fe.cpp
  fem/fe.hpp
Labels: enhancement, fem, in-next, minor

#637 Fixed a bug [bugfix-projectGF]
  fem/gridfunc.cpp
Labels: bug, fem, in-next

#633 Workaround for a bug in the Visual Studio 2013 compiler [vs2013-workaround]
  fem/bilininteg.cpp
Labels: Windows, building, fem, in-next

#628 Adding LinearForm::operator=() methods [bugfix-linearform-equal-dev]
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/linearform.cpp
  fem/linearform.hpp
  fem/plinearform.hpp
Labels: bug, enhancement, fem, in-next, minor

#638 Add support for compressed saves in Mesh Explorer [test_gzstream]
  miniapps/meshing/mesh-explorer.cpp
Labels: examples & miniapps, in-next, mesh, minor

#318 Boundary integrals only on indicated boundaries [form_marker_dev]
  fem/linearform.cpp
  fem/linearform.hpp
Labels: enhancement, fem, in-next

#641 Tweak the doxygen documentation for Mesh::UniformRefinement [mesh-doxygen-tweak]
  mesh/mesh.hpp
Labels: documentation, in-next, mesh, minor

#642 Fix an issue in Mesh::LoadPatchTopo introduced in 'prism-dev' [mesh-load-patch-topo-fix]
  mesh/mesh.cpp
Labels: bug, in-next, mesh

#646 Fix a bug in ParMesh::PrintAsOne [print-as-one-fix]
  mesh/pmesh.cpp
Labels: bug, in-next, mesh

#650 Small edits in LICENSE and CHANGELOG
  CHANGELOG
  LICENSE
Labels: documentation, in-next, minor

#656 Add the missing (not implemented) MarkEdge function
  mesh/element.hpp
  mesh/mesh.cpp
  mesh/mesh_readers.cpp
  mesh/triangle.hpp
  mesh/vertex.hpp
Labels: building, in-next, mesh
