Repository mfem/mfem, pull requests merged in 2018-12, with the labels that each got.

#680 Stefanozampini/small additions
  examples/petsc/ex10p.cpp
  examples/petsc/ex1p.cpp
  examples/petsc/ex2p.cpp
  examples/petsc/ex3p.cpp
  examples/petsc/ex4p.cpp
  examples/petsc/ex5p.cpp
  examples/petsc/ex6p.cpp
  examples/petsc/ex9p.cpp
  examples/pumi/ex2.cpp
  fem/coefficient.cpp
  fem/coefficient.hpp
  linalg/petsc.cpp
  linalg/petsc.hpp
Labels: enhancement, in-next, linalg

#686 Fix a bug in Mesh::ReorderElements [mesh-reorder-elem-fix]
  mesh/mesh.cpp
Labels: bug, in-next, mesh

#694 [Okina] Using OCCA kernels [okina-occa]
  CHANGELOG
  config/config.hpp.in
  config/config.mk.in
  config/defaults.mk
  examples/ex1.cpp
  fem/bilinearform.hpp
  fem/kernels/defines.okl
  fem/kernels/kIntDiffusionAssemble.cpp
  fem/kernels/kIntDiffusionMultAdd.cpp
  fem/kernels/oIntDiffusionAssemble.okl
  fem/kernels/oIntDiffusionMultAdd.okl
  fem/pbilinearform.hpp
  general/config.cpp
  general/config.hpp
  general/cuda.cpp
  general/cuda.hpp
  general/kernels/mm.cpp
  general/mm.cpp
  general/mm.hpp
  general/occa.cpp
  general/occa.hpp
  general/okina.hpp
  linalg/kernels/densemat.cpp
  linalg/kernels/vector.cpp
  makefile
Labels: GPU, enhancement

#703 [Okina] Simplified BilinearForm classes [okina-fem-dev]
  CMakeLists.txt
  config/config.hpp.in
  config/config.mk.in
  config/defaults.mk
  examples/ex1.cpp
  examples/ex1p.cpp
  fem/CMakeLists.txt
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  fem/coefficient.hpp
  fem/fe_coll.cpp
  fem/kernels/CMakeLists.txt
  fem/kernels/kGeometry.cpp
  fem/kernels/kGeometry2D.cpp
  fem/kernels/kGeometry3D.cpp
  fem/kernels/kIntDiffusionMultAdd.cpp
  fem/kernels/kLocalToGlobal.cpp
  fem/kfespace.cpp
  fem/kfespace.hpp
  fem/pbilinearPAform.cpp
  fem/pbilinearform.cpp
  fem/pbilinearform.hpp
  fem/pfespace.cpp
  general/CMakeLists.txt
  general/array.cpp
  general/array.hpp
  general/config.cpp
  general/config.hpp
  general/cuda.cpp
  general/cuda.hpp
  general/karray.hpp
  general/kernels/mm.cpp
  general/kernels/mm.hpp
  general/mm.cpp
  general/mm.hpp
  general/occa.cpp
  general/occa.hpp
  general/okina.cpp
  general/okina.hpp
  linalg/densemat.cpp
  linalg/densemat.hpp
  linalg/kernels/CMakeLists.txt
  linalg/kernels/sparsemat.cpp
  linalg/kernels/vector.cpp
  linalg/vector.cpp
  linalg/vector.hpp
  makefile
  mesh/kernels/CMakeLists.txt
  mesh/mesh.cpp
  mesh/mesh.hpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-optimizer.cpp
Labels: fem, hpc

#712 Small improvements in the toys miniapps [snake-dev-tk]
  .gitignore
  miniapps/toys/automata.cpp
  miniapps/toys/life.cpp
  miniapps/toys/makefile
  miniapps/toys/mandel.cpp
  miniapps/toys/rubik.cpp
  miniapps/toys/snake.cpp
Labels: examples & miniapps, minor
