Repository mfem/mfem, pull requests merged in 2018-03, with the labels that each got.

#439 Move ComplexOperator to separate files [agrayver:cmplx-op-dev]
  linalg/CMakeLists.txt
  linalg/complex_operator.cpp
  linalg/complex_operator.hpp
  linalg/linalg.hpp
  linalg/operator.cpp
  linalg/operator.hpp
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
Labels: linalg, minor

#438 Prevent copying and assignments of gzstreams [gzstream-copy-fix]
  general/gzstream.hpp
Labels: bug, general, in-next

#434 Adds ability to define arbitrary attribute fields in SidreDataCollection [tracer-dev]
  fem/datacollection.cpp
  fem/datacollection.hpp
  fem/sidredatacollection.cpp
  fem/sidredatacollection.hpp
  mesh/mesh.cpp
Labels: enhancement, fem, general, in-next

#441 MPI_Waitany check [waitany-check]
  general/communication.cpp
Labels: bug, in-next, minor

#442 Minor changes to be able to derive from GroupCommunicator [gc-private]
  general/communication.hpp
Labels: general, in-next, minor

#433 Add an option for grace-exit [sshiraiwa:graceexit]
  CHANGELOG
  INSTALL
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
  config/config.hpp.in
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  general/error.cpp
  general/error.hpp
  general/version.cpp
  makefile
Labels: enhancement, general, in-next

#394 Add conduit blueprint in-core and i/o support
  .gitignore
  CHANGELOG
  CMakeLists.txt
  INSTALL
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
  config/cmake/modules/FindConduit.cmake
  config/config.hpp.in
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  doc/CodeDocumentation.dox
  fem/CMakeLists.txt
  fem/conduitdatacollection.cpp
  fem/conduitdatacollection.hpp
  fem/datacollection.cpp
  fem/datacollection.hpp
  fem/fem.hpp
  fem/sidredatacollection.cpp
  fem/sidredatacollection.hpp
  general/version.cpp
  makefile
  miniapps/tools/CMakeLists.txt
  miniapps/tools/convert-dc.cpp
  miniapps/tools/load-dc.cpp
  miniapps/tools/makefile
Labels: enhancement, examples & miniapps, fem, in-next

#447 A small fix in the ConduitDataCollection [conduit-dc-fix]
  fem/conduitdatacollection.cpp
Labels: bug, building, fem, in-next

#431 Add GridFunction::ProjectDiscCoefficient with averaging for VectorCoefficients [vec-project-avg]
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/pgridfunc.cpp
  fem/pgridfunc.hpp
Labels: enhancement, fem, in-next

#437 Low-order refined interpolation [lor-interp-dev]
  CHANGELOG
  fem/fe.cpp
  fem/fe.hpp
  fem/fespace.cpp
  fem/fespace.hpp
  fem/gridfunc.hpp
  fem/pfespace.cpp
  fem/pfespace.hpp
  general/array.hpp
  general/communication.cpp
  general/communication.hpp
  linalg/densemat.cpp
  linalg/densemat.hpp
  linalg/handle.cpp
  linalg/handle.hpp
  linalg/operator.cpp
  linalg/operator.hpp
Labels: enhancement, fem, in-next

#455 New method UpdateConstants in class PWConstCoefficient [MC3JMF:master]
  fem/coefficient.hpp
Labels: fem, in-next, minor

#452 [fem] GetLocalInterpolation(coarse to fine) to GetTransferMatrix [gTmtx]
  CHANGELOG
  fem/fe.cpp
  fem/fe.hpp
  fem/fespace.cpp
Labels: building, fem, in-next, minor
