Repository mfem/mfem, pull requests merged in 2018-04, with the labels that each got.

#435 DOI number through DOE Code [doi-dev]
  INSTALL
  README
Labels: documentation, in-next

#475 Suppress a warning ... [warning-fix]
  mesh/pncmesh.cpp
Labels: in-next, mesh, minor

#468 Prevent infinite loop in mesh-explorer.cpp if input fails [mesh-explorer-inf-loop-fix]
  miniapps/meshing/mesh-explorer.cpp
Labels: bug, examples & miniapps, in-next

#469 Update to support hypre 2.14.0 [hypre-memory-macros]
  linalg/hypre.cpp
  linalg/hypre_parcsr.cpp
Labels: enhancement, in-next, linalg

#458 Fix memory leak in HypreParMatrix::Threshold [threshold-leak-fix]
  linalg/hypre.cpp
Labels: bug, in-next, linalg
