Repository mfem/mfem, pull requests merged in 2018-06, with the labels that each got.

#511 Add optional 'refine' parameter to the ParMesh constructor ... [par-mesh-read-fix]
  mesh/pmesh.cpp
  mesh/pmesh.hpp
Labels: enhancement, in-next, mesh

#510 Skip the PUMI tests if the PUMI data directory is not available [pumi-skip-tests]
  config/test.mk
  examples/pumi/makefile
Labels: bug, building, examples & miniapps, in-next

#514 Fixing a few links on the main Doxygen page [doxygen-fix]
  CONTRIBUTING.md
  doc/CodeDocumentation.dox
Labels: documentation, in-next, minor
