Repository mfem/mfem, pull requests merged in 2018-05, with the labels that each got.

#470 Adding Generalized alpha ODE integrator [add-gen-alpha-dev]
  CHANGELOG
  examples/ex10.cpp
  examples/ex10p.cpp
  examples/ex16.cpp
  examples/ex16p.cpp
  linalg/ode.cpp
  linalg/ode.hpp
Labels: enhancement, in-next, linalg, minor

#479 Select the dimension in which the (boundary) coefficients are projected
  fem/gridfunc.cpp
  linalg/densemat.cpp
  linalg/densemat.hpp
Labels: fem, in-next, minor

#465 Add support to specify the names used blueprint results
  fem/conduitdatacollection.cpp
  fem/conduitdatacollection.hpp
Labels: enhancement, general, in-next

#486 Bugfix for VectorCurlCurlIntegrator assemble [vectorcurlcurl-fix]
  fem/bilininteg.cpp
Labels: bug, fem, in-next

#493 Bugfix for handling of SidreDataCollection boundary mesh blueprint index [sidre-dev]
  fem/sidredatacollection.cpp
  fem/sidredatacollection.hpp
Labels: bug, in-next, mesh

#494 Conduit blueprint to MFEM mesh: guard against missing boundary info
  fem/conduitdatacollection.cpp
Labels: bug, in-next, visualization

#497 Fix an issue in the local refinement of simplex meshes [simplex-refine-fix]
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/pmesh.cpp
Labels: bug, in-next, mesh

#500 Fixed assignment of an IntegrationRule in the constructor of NonlinearFormIntegrator
  fem/nonlininteg.hpp
Labels: bug, fem, in-next, minor

#237 Parallel Unstructured Mesh Infrastructure (PUMI) integration [pumi-dev]
  .gitignore
  CHANGELOG
  CMakeLists.txt
  INSTALL
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
  config/config.hpp
  config/config.hpp.in
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  config/makefile
  doc/CodeDocumentation.dox
  examples/CMakeLists.txt
  examples/makefile
  examples/pumi/CMakeLists.txt
  examples/pumi/README
  examples/pumi/ex1.cpp
  examples/pumi/ex1p.cpp
  examples/pumi/ex2.cpp
  examples/pumi/ex6p.cpp
  examples/pumi/makefile
  general/communication.cpp
  general/communication.hpp
  makefile
  mesh/CMakeLists.txt
  mesh/mesh_headers.hpp
  mesh/pmesh.hpp
  mesh/pumi.cpp
  mesh/pumi.hpp
Labels: enhancement, in-next, mesh

#489 Added const qualifier to the solutions in the essential bc elimination methods
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
Labels: fem, in-next, linalg, minor

#499 Improved QuadratureFunction and QuadratureSpace...
  fem/fespace.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
Labels: enhancement, fem, in-next

#487 Improved documentation [docs-dev]
  CHANGELOG
  CMakeLists.txt
  CONTRIBUTING.md
  INSTALL
  README
  doc/CodeDocumentation.conf.in
  doc/web/examples/ex19-domain.png
  doc/web/examples/ex19.png
  doc/web/examples/maxwell.png
  examples/README.html
  examples/ex19.cpp
  examples/ex19p.cpp
  linalg/petsc.cpp
  linalg/petsc.hpp
  makefile
  miniapps/electromagnetics/README.html
  miniapps/meshing/README.html
Labels: building, documentation, help wanted, in-next

#504 Update version to 3.4.1 -- new development version [bump-to-v3.4.1]
  CHANGELOG
  CMakeLists.txt
  doc/CodeDocumentation.conf.in
  makefile
Labels: in-next
