Repository mfem/mfem, pull requests merged in 2018-08, with the labels that each got.

#540 Fix for Tetrahedral Mesh Refinement [conforming-tet-refinement-fix]
  CHANGELOG
  examples/ex13p.cpp
  general/sort_pairs.hpp
  mesh/element.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  mesh/tetrahedron.cpp
  mesh/tetrahedron.hpp
  mesh/triangle.cpp
  mesh/triangle.hpp
Labels: enhancement, in-next, mesh

#567 Removed Walk() from SparseMatrix [remove_walk]
  linalg/sparsemat.hpp
Labels: in-next, linalg, minor

#581 Add dimension checks in the Get and Set methods of IntegrationPoint
  fem/intrules.hpp
Labels: enhancement, fem, in-next, minor
