Repository mfem/mfem, pull requests merged in 2018-11, with the labels that each got.

#508 CMake creates config.mk and installs config.mk and test.mk [cwsmith/cmake_create_config.mk]
  CMakeLists.txt
  config/cmake/modules/MfemCmakeUtilities.cmake
  config/defaults.cmake
  examples/CMakeLists.txt
  examples/ex18.hpp
  examples/petsc/CMakeLists.txt
  examples/pumi/CMakeLists.txt
  examples/sundials/CMakeLists.txt
  makefile
  miniapps/electromagnetics/CMakeLists.txt
  miniapps/meshing/CMakeLists.txt
  miniapps/nurbs/CMakeLists.txt
  miniapps/performance/CMakeLists.txt
Labels: building, enhancement, in-next

#661 Adding Euclid preconditioner wrappers for ILU preconditioning options [vikramsg:master]
  CHANGELOG
  linalg/hypre.cpp
  linalg/hypre.hpp
Labels: enhancement, in-next, linalg

#660 Laghos AMR changes [laghos-amr-dev]
  fem/pfespace.cpp
  fem/pfespace.hpp
  linalg/blockvector.cpp
  linalg/blockvector.hpp
  linalg/vector.cpp
Labels: amr, examples & miniapps, in-next, minor

#590 Coefficients derived from other coefficients [derived-coefs-dev]
  CHANGELOG
  fem/coefficient.cpp
  fem/coefficient.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
Labels: enhancement, fem, in-next

#582 Add ComputeElementFlux method to ElasticityIntegrator [elasticity-flux]
  .gitignore
  CHANGELOG
  doc/CodeDocumentation.dox
  examples/CMakeLists.txt
  examples/ex22.cpp
  examples/ex22p.cpp
  examples/makefile
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/estimators.cpp
  fem/estimators.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/pgridfunc.cpp
  fem/pgridfunc.hpp
Labels: amr, examples & miniapps, fem, in-next

#675 A few small updates [small-updates]
  config/cmake/modules/MfemCmakeUtilities.cmake
  config/sample-runs.sh
  makefile
Labels: building, in-next, minor, testing

#568 Consistent c'tors for [Par][Mixed]BilinearForm/[Par]LinearForm [shared-integ-dev]
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/gridfunc.hpp
  fem/linearform.cpp
  fem/linearform.hpp
  fem/pbilinearform.hpp
  fem/pgridfunc.hpp
  fem/plinearform.hpp
  linalg/vector.hpp
Labels: enhancement, fem, in-next, minor

#674 A few small tweaks related to mesh partitioning [empty-procs-dev]
  fem/pgridfunc.cpp
  mesh/mesh.cpp
  miniapps/meshing/mesh-explorer.cpp
Labels: in-next, mesh, minor
