Repository mfem/mfem, pull requests merged in 2019-06, with the labels that each got.

#940 Fix issue #938
  config/tconfig.hpp
  general/globals.cpp
Labels: bug, in-next, minor

#941 Add const iterators to Array class
  general/array.hpp
Labels: general, in-next, minor

#736 Implement Operator::FormDiscreteOperator() [rectangular-parallel-operator]
  CHANGELOG
  linalg/operator.cpp
  linalg/operator.hpp
Labels: fem, hpc, in-next, minor

#959 Fix reading quadratic hex meshes from cubit [fix-quadratic-cubit-hex]
  mesh/mesh_readers.cpp
Labels: bug, in-next, mesh

#960 Increase default quadrature in vector linear forms [lininteg-quadrature-order]
  fem/lininteg.cpp
Labels: fem, in-next, minor

#963 Fix bug when creating low-order refined meshes in parallel [lor-mesh-bugfix]
  mesh/mesh.cpp
  mesh/mesh.hpp
Labels: bug, in-next, mesh, minor
