Repository mfem/mfem, pull requests merged in 2019-09, with the labels that each got.

#1038 [GPU] Aware MPI kernels [dmpi]
  CHANGELOG
  fem/pfespace.cpp
  fem/pfespace.hpp
  general/array.hpp
  general/communication.cpp
  general/communication.hpp
  general/cuda.cpp
  general/cuda.hpp
  general/device.cpp
  general/device.hpp
Labels: GPU, enhancement, fem, general, hpc, in-next, linalg

#1050 [GPU] Raja Cuda Wrap 2D & 3D using Kernel Policies [raja-wrap]
  CHANGELOG
  fem/bilininteg_diffusion.cpp
  fem/bilininteg_mass.cpp
  general/forall.hpp
Labels: GPU, WIP, enhancement, general, github, in-next

#972 Methods for sparse matrix memory object [artv3/spMatfix]
  general/mem_manager.cpp
  linalg/sparsemat.hpp
Labels: GPU, linalg

#1073 Fix Pconf allows CUDA => DEVICE_MASK
  fem/pfespace.cpp
Labels: GPU, bug, fem, in-next
