Repository mfem/mfem, pull requests merged in 2019-03, with the labels that each got.

#754 [WIP] Okina tensors [okina-tensors]
  examples/ex1p.cpp
  examples/ex6.cpp
  examples/ex6p.cpp
  fem/bilininteg.cpp
  fem/bilininteg_pa.cpp
  fem/fespace_ext.cpp
  fem/geom_pa.cpp
  fem/kernels/diffusion.cpp
  fem/kernels/diffusion.hpp
  fem/kernels/geom.cpp
  fem/kernels/geom.hpp
  fem/kernels/mass.cpp
  fem/kernels/mass.hpp
  general/cuda.hpp
  general/mm.cpp
  general/okina.cpp
  general/okina.hpp
  linalg/densemat.cpp
  linalg/device.hpp
  linalg/kernels/densemat.cpp
  linalg/kernels/densemat.hpp
  linalg/kernels/sparsemat.cpp
  linalg/kernels/vector.cpp
  linalg/kernels/vector.hpp
  linalg/sparsemat.cpp
  linalg/vector.cpp
  makefile
  mesh/kernels/mesh.cpp
Labels: GPU, WIP, enhancement, linalg

#774 Rename ElemRestriction class
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  general/mm.cpp
Labels: fem, minor

#759 Add const to Data method in DenseTensor
  linalg/densemat.hpp
Labels: enhancement, in-next, linalg, minor

#775 Remove abstract methods in fem/bilininteg [okina-bilininteg]
  config/config.mk.in
  config/defaults.mk
  examples/ex1.cpp
  examples/ex1p.cpp
  examples/ex6.cpp
  examples/ex6p.cpp
  examples/makefile
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_ext.cpp
  fem/pfespace.cpp
  general/array.hpp
  general/cuda.cpp
  general/mm.cpp
  general/table.cpp
  linalg/hypre.cpp
  linalg/sparsemat.cpp
  makefile
  mesh/ncmesh.cpp
Labels: WIP, fem, minor

#785 Remap execution modes [matrix-free-remap]
  examples/ex9.cpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
Labels: enhancement, examples & miniapps, fem

#748 Adding point charges to Volta miniapp [volta-point-charge-dev]
  miniapps/electromagnetics/volta.cpp
  miniapps/electromagnetics/volta_solver.cpp
  miniapps/electromagnetics/volta_solver.hpp
Labels: enhancement, examples & miniapps, in-next

#800 Update the LOR-to-HO interface
  CHANGELOG
  fem/fespace.cpp
  fem/fespace.hpp
  miniapps/tools/CMakeLists.txt
  miniapps/tools/lor-transfer.cpp
Labels: enhancement, fem

#794 [okina] Adjustments to Okina's Atomics [artv3/okina/atomic-fix]
  general/cuda.hpp
Labels: GPU, enhancement, hpc

#803 [okina] Cleanup of the okina branch before mfem-4.0 merge [okina-cleanup-dev]
  CHANGELOG
  CONTRIBUTING.md
  config/config.hpp.in
  config/config.mk.in
  config/defaults.mk
  examples/ex1.cpp
  examples/ex1p.cpp
  examples/ex6.cpp
  examples/ex6p.cpp
  examples/makefile
  fem/bilinearform_ext.cpp
  fem/bilininteg_ext.cpp
  fem/bilininteg_ext.hpp
  fem/coefficient.hpp
  fem/diffusion.okl
  general/CMakeLists.txt
  general/config.cpp
  general/config.hpp
  general/cuda.cpp
  general/cuda.hpp
  general/device.cpp
  general/device.hpp
  general/mm.cpp
  general/mm.hpp
  general/occa.cpp
  general/occa.hpp
  general/okina.hpp
  general/openmp.hpp
  general/raja.hpp
  linalg/CMakeLists.txt
  linalg/blockmatrix.cpp
  linalg/densemat.cpp
  linalg/dtensor.hpp
  linalg/linalg.hpp
  linalg/operator.cpp
  linalg/sparsemat.cpp
  linalg/superlu.cpp
  linalg/vector.cpp
  linalg/vector.hpp
  makefile
  mesh/mesh.hpp
  mesh/ncmesh.cpp
  miniapps/electromagnetics/makefile
  miniapps/tools/display-basis.cpp
  miniapps/tools/makefile
  tests/unit/makefile
Labels: GPU, minor

#815 Fall-back atomicAdd + MFEM_CUDA_ARCH [okina-atomic]
  config/defaults.mk
  general/cuda.hpp
Labels: GPU, enhancement

#752 Implement LOR-to-HO transfer operator [lor2ho-dev]
  .gitignore
  CHANGELOG
  doc/CodeDocumentation.dox
  fem/fespace.cpp
  fem/fespace.hpp
  linalg/densemat.hpp
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  miniapps/tools/CMakeLists.txt
  miniapps/tools/lor-transfer.cpp
  miniapps/tools/makefile
Labels: enhancement, fem, in-next

#816 Five small changes to resolve memory leaks [bugfix/memcheck]
  examples/ex9.cpp
  fem/intrules.cpp
  fem/intrules.hpp
  general/table.cpp
  mesh/pncmesh.cpp
  miniapps/electromagnetics/maxwell_solver.cpp
Labels: bug, in-next, minor

#808 Bugfix: delete faces_tbl not otherwise deleted [bugfix/delete-faces-table]
  mesh/pmesh.cpp
Labels: bug, in-next

#801 [okina] GetAll method and enable/disable tracking methods [artv3/okina-mode-switch]
  general/device.hpp
  general/mm.cpp
  general/mm.hpp
Labels: GPU, enhancement

#787 [okina] MM methods to register non-okina pointers [artv3/okina-regPointers]
  general/mm.cpp
  general/mm.hpp
Labels: GPU, hpc

#820 Okina fcoeff [okina-fcoeff]
  fem/bilininteg_ext.cpp
  fem/coefficient.cpp
  fem/coefficient.hpp
  general/cuda.hpp
  general/okina.hpp
  linalg/dtensor.hpp
Labels: GPU, enhancement, fem

#821 Prepend last #defines with MFEM_ [okina-defines]
  fem/bilininteg_ext.cpp
  general/occa.hpp
Labels: enhancement, general
