Repository mfem/mfem, pull requests merged in 2019-12, with the labels that each got.

#892 Adding support for 1D meshes in ParMesh::PrintAsOne [print-as-one-1d-dev]
  mesh/pmesh.cpp
Labels: enhancement, in-next, in-review, low-impact, mesh, minor

#1169 L2_TetrahedronElement ProjectDelta fix [fem-tetra-fix]
  fem/fe.cpp
Labels: bug, fem, in-next, in-review, low-impact, minor

#988 Fix SuperLU interfacing bug with recent hypre version [fix-superlu-hypre2160]
  linalg/superlu.cpp
Labels: bug, in-next, in-review, linalg, low-impact

#895 TMOP + AMR + equal size optimization [tmop-amr-size]
  CHANGELOG
  fem/tmop.cpp
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  miniapps/meshing/amr-quad-q2.mesh
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-optimizer.cpp
Labels: amr, in-next, in-review, low-impact, mesh

#1107 Support for any scalar coefficient in partial assembly operators [drzisga/pa_coeff]
  fem/bilininteg_diffusion.cpp
  fem/bilininteg_mass.cpp
  fem/occa.okl
  tests/unit/fem/test_pa_coeff.cpp
Labels: GPU, enhancement, fem, in-next, in-review, low-impact

#937 Application fixes [gpu/appfixes]
  CMakeLists.txt
  INSTALL
  config/cmake/modules/FindAxom.cmake
  config/defaults.cmake
  config/defaults.mk
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/pgridfunc.cpp
  fem/pgridfunc.hpp
  fem/pnonlinearform.cpp
  fem/sidredatacollection.cpp
  fem/sidredatacollection.hpp
  general/device.hpp
  general/mem_manager.cpp
  general/mem_manager.hpp
  linalg/densemat.cpp
  linalg/hypre.cpp
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
  linalg/vector.cpp
  linalg/vector.hpp
  mesh/mesh.cpp
Labels: GPU, fem, in-next, in-review, linalg, low-impact

#799 Initial TMOP adaptivity interface [tmop-adaptivity]
  CHANGELOG
  fem/CMakeLists.txt
  fem/fem.hpp
  fem/tmop.cpp
  fem/tmop.hpp
  fem/tmop_tools.cpp
  fem/tmop_tools.hpp
  linalg/solvers.cpp
  linalg/solvers.hpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-optimizer.cpp
  miniapps/meshing/square01.mesh
Labels: examples & miniapps, in-next, in-review, low-impact, mesh

#994 Adding charge calculation to Volta mini app [volta-charge-dev]
  fem/lininteg.cpp
  fem/lininteg.hpp
  miniapps/electromagnetics/volta_solver.cpp
  miniapps/electromagnetics/volta_solver.hpp
Labels: enhancement, examples & miniapps, in-next, in-review, low-impact

#1186 Bugfixes for PetscSolvers
  linalg/petsc.cpp
  linalg/petsc.hpp
Labels: bug, enhancement, in-next, in-review, linalg, low-impact

#1109 [Laghos] Optimized SmemPAMassApply3D kernel; add nvtx region in MPI part
  config/defaults.mk
  fem/bilininteg_mass.cpp
  fem/fespace.cpp
  fem/pfespace.cpp
  general/forall.hpp
  linalg/blas.hpp
  linalg/densemat.hpp
  linalg/vector.hpp
Labels: examples & miniapps

#1154 [Laghos] Switch ElementRestriction_Mult from Scatter to Gather
  fem/fespace.cpp
  fem/fespace.hpp
Labels: enhancement, examples & miniapps, hpc

#1193 PA coeff host write in AssemblePA
  fem/bilininteg_diffusion.cpp
  fem/bilininteg_mass.cpp
Labels: GPU, bug, fem, in-next, in-review, low-impact

#1191 Add documentation for Parse() function of OptionsParser
  general/optparser.hpp
Labels: documentation, in-next, in-review, minor

#1087 Added checks in ProductOperator, TripleProductOperator, and RAPOperat…
  linalg/operator.cpp
  tests/unit/linalg/test_operator.cpp
Labels: bug, in-next, in-review, linalg, minor

#1185 Tweak the warning messages in Mesh::GeneratePartitioning() [mesh-partitioning-warning-fix]
  general/globals.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/pmesh.cpp
Labels: in-next, in-review, mesh, minor

#1189 GPU support for L2ElementRestriction
  fem/fespace.cpp
Labels: GPU, fem, in-next, in-review, minor

#616 Interface to HiOp [hiop-dev]
  .gitignore
  CHANGELOG
  CMakeLists.txt
  INSTALL
  config/cmake/config.hpp.in
  config/cmake/modules/FindHIOP.cmake
  config/config.hpp.in
  config/defaults.cmake
  config/defaults.mk
  doc/CodeDocumentation.conf.in
  doc/CodeDocumentation.dox
  examples/CMakeLists.txt
  examples/hiop/CMakeLists.txt
  examples/hiop/ex9.cpp
  examples/hiop/ex9p.cpp
  examples/hiop/makefile
  linalg/CMakeLists.txt
  linalg/hiop.cpp
  linalg/hiop.hpp
  linalg/linalg.hpp
  linalg/solvers.cpp
  linalg/solvers.hpp
  makefile
Labels: enhancement, in-next, in-review, linalg, low-impact

#1165 Add ParaView DataCollection [vtk_vtu]
  .gitignore
  CHANGELOG
  examples/ex5.cpp
  examples/ex5p.cpp
  examples/ex9.cpp
  examples/ex9p.cpp
  examples/makefile
  fem/datacollection.cpp
  fem/datacollection.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
Labels: in-next, in-review, low-impact, mesh

#1127 Interface to the Ginkgo library [ginkgo-interface-dev]
  CHANGELOG
  CMakeLists.txt
  CONTRIBUTING.md
  INSTALL
  config/XSDKDefaults.cmake
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
  config/cmake/modules/MfemCmakeUtilities.cmake
  config/config.hpp.in
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  examples/CMakeLists.txt
  examples/ginkgo/CMakeLists.txt
  examples/ginkgo/ex1.cpp
  examples/ginkgo/makefile
  examples/makefile
  linalg/CMakeLists.txt
  linalg/ginkgo.cpp
  linalg/ginkgo.hpp
  linalg/hiop.cpp
  linalg/linalg.hpp
  makefile
Labels: GPU, hpc, in-next, in-review, linalg, low-impact

#584 Support for complex-valued linear systems [complex-mfem-dev]
  .gitignore
  CHANGELOG
  doc/CodeDocumentation.dox
  examples/CMakeLists.txt
  examples/ex22.cpp
  examples/ex22p.cpp
  examples/makefile
  fem/CMakeLists.txt
  fem/complex_fem.cpp
  fem/complex_fem.hpp
  fem/fem.hpp
  fem/linearform.hpp
  fem/plinearform.hpp
  linalg/complex_operator.cpp
  linalg/complex_operator.hpp
  linalg/operator.hpp
  tests/unit/CMakeLists.txt
  tests/unit/linalg/test_complex_operator.cpp
Labels: enhancement, examples & miniapps, fem, in-next, in-review, linalg, low-impact
