Repository mfem/mfem, pull requests merged in 2019-08, with the labels that each got.

#1010 Add 2d and 3d cuda kernel launcher [pwang234:laghos]
  general/forall.hpp
Labels: GPU, minor

#1003 Setting element number in transformation objects [bugfix/get-bdrelem-face-trans-dev]
  mesh/mesh.cpp
Labels: bug, in-next, mesh, minor

#998 Bugfix eval3d (and Diffusion)
  fem/bilininteg_diffusion.cpp
  fem/fespace.cpp
Labels: bug, in-next, minor

#992 Fix variable names beginning with underscore [variable-names-fix]
  fem/bilininteg_mass.cpp
Labels: bug, building, in-next

#917 Add copy constructor (deep copy data) to HypreParMatrix
  linalg/hypre.cpp
  linalg/hypre.hpp
Labels: in-next, linalg, minor

#714 Minor improvements of BilinearForm and MixedBilinearForm [najlkin:pr6]
  fem/bilinearform.cpp
  fem/bilinearform.hpp
Labels: fem, in-next, minor

#1009 HIP support
  CHANGELOG
  INSTALL
  config/config.hpp.in
  config/config.mk.in
  config/defaults.mk
  general/cuda.cpp
  general/cuda.hpp
  general/device.cpp
  general/device.hpp
  general/forall.hpp
  general/hip.cpp
  general/hip.hpp
  general/mem_manager.cpp
  linalg/vector.cpp
  makefile
Labels: GPU, enhancement, general, hpc, in-next
