Repository mfem/mfem, pull requests merged in 2019-11, with the labels that each got.

#1146 [DRL4AMR] Add metadata arrays and new test function
  examples/makefile
  miniapps/drl4amr/drl4amr.cpp
  miniapps/drl4amr/drl4amr.hpp
  miniapps/drl4amr/drl4amr.py
  miniapps/drl4amr/main.cpp
Labels: WIP, amr

#713 Prisms NC AMR support [nc-prism-dev]
  CHANGELOG
  fem/bilininteg_mass.cpp
  fem/fe.cpp
  fem/fespace.cpp
  fem/fespace.hpp
  fem/pfespace.cpp
  fem/pfespace.hpp
  general/array.hpp
  general/error.hpp
  general/globals.hpp
  general/hash.hpp
  linalg/densemat.hpp
  mesh/element.hpp
  mesh/hexahedron.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  mesh/ncmesh_tables.hpp
  mesh/pncmesh.cpp
  mesh/pncmesh.hpp
  mesh/point.hpp
  mesh/quadrilateral.hpp
  mesh/segment.hpp
  mesh/tetrahedron.hpp
  mesh/triangle.hpp
  mesh/wedge.hpp
Labels: amr, enhancement, in-next, mesh

#936 Fixed boundary attribute marker in LinearForm [najlkin:pr9]
  fem/linearform.cpp
Labels: bug, in-next, minor

#945 Force rebuilding of face nbr data after derefinement [bugfix/derefine-face-nbr]
  mesh/pmesh.cpp
Labels: amr, bug, in-next, mesh

#953 Allow diff vector as insert vector [nurbs-knotinsert-dev]
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/nurbs.cpp
  mesh/nurbs.hpp
Labels: enhancement, in-next, mesh

#965 Petsc shell PC: be sure to destroy any previous data associated with … [stefanozampini/small-fix-pcshell]
  linalg/petsc.cpp
Labels: bug, in-next, minor

#986 Remove const from hostreadwrite [artv3/hostreadwrite-fix]
  general/device.hpp
Labels: GPU, bug, in-next, minor

#1021 Load balancing with custom partitioning [custom-rebalance-dev]
  general/communication.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  mesh/pncmesh.cpp
  mesh/pncmesh.hpp
Labels: amr, enhancement, in-next

#1082 Fix bug for L2 projection on simplices [bugfix-l2proj]
  fem/fespace.cpp
Labels: bug, fem, in-next, minor

#1129 ParNCMesh: call sequential refiner when size of comm == 1 [seq-parncmesh]
  mesh/pncmesh.cpp
Labels: amr, in-next, minor

#1137 Adding SetOperator methods to most HypreSolvers [hypre-set-operator-dev]
  linalg/hypre.cpp
  linalg/hypre.hpp
Labels: enhancement, in-next, linalg

#1143 Small petsc additions [stefanozampini/petsc-additions]
  linalg/petsc.cpp
  linalg/petsc.hpp
Labels: enhancement, in-next, linalg

#1147 Fix the serial build with SUNDIALS [fix-serial-build-sundials]
  linalg/sundials.cpp
Labels: bug, building, in-next

#1150 Add 64bit check for superlu [check-superlu-64bit]
  linalg/superlu.cpp
Labels: bug, in-next, linalg

#1156 L2ElementRestriction for DG spaces and LOR periodic meshes
  CHANGELOG
  fem/fespace.cpp
  fem/fespace.hpp
  mesh/mesh.cpp
Labels: enhancement, in-next, low-impact, mesh
