Repository mfem/mfem, pull requests merged in 2019-05, with the labels that each got.

#887 Augmenting comments related to hypre_ParCSRMatrixSum [mat-add-doc]
  linalg/hypre.hpp
  linalg/hypre_parcsr.hpp
Labels: documentation, linalg, minor

#885 Handle special case where B_offd is empty [bugfix/csr-mat-sum]
  linalg/hypre.hpp
  linalg/hypre_parcsr.cpp
  linalg/hypre_parcsr.hpp
Labels: bug, in-next, linalg, minor

#912 Enable OpenMP foralls with all OMP_MASK'ed devices [occa-omp]
  general/forall.hpp
Labels: bug, general, in-next

#715 Fixed Mesh::GetBdrElementTransformation() collisions with the functions for faces [najlkin:pr7]
  mesh/mesh.cpp
  mesh/mesh.hpp
Labels: fem, in-next, minor

#908 Fix nvcc warnings in make all [compiler-warnings]
  miniapps/electromagnetics/joule.cpp
  miniapps/tools/display-basis.cpp
  tests/unit/fem/test_2d_bilininteg.cpp
  tests/unit/fem/test_calcshape.cpp
  tests/unit/fem/test_intrules.cpp
  tests/unit/linalg/test_blockMatrix.cpp
Labels: building, enhancement, examples & miniapps, in-next, testing

#878 ExchangeFaceNbrData for VectorFE [vfe-dev]
  fem/pbilinearform.cpp
  fem/pfespace.cpp
Labels: bug, fem, in-next

#911 Renamed Example 22 to Example 21 [ex22-rename]
  .gitignore
  CHANGELOG
  doc/CodeDocumentation.dox
  examples/CMakeLists.txt
  examples/ex21.cpp
  examples/ex21p.cpp
  examples/makefile
Labels: examples & miniapps, in-next, minor

#742 Added the gzstream capability to the data collection classes [gzdata-collection-dev]
  fem/datacollection.cpp
  fem/datacollection.hpp
  tests/unit/fem/test_datacollection.cpp
Labels: enhancement, in-next, visualization

#918 XL compiler O3 -qnostrict (1/inf=nan) work-around [inf-reciprocal]
  mesh/mesh_operators.cpp
Labels: in-next, mesh, minor

#756 Stefanozampini/small improvements
  .gitignore
  config/makefile
  examples/ex19.cpp
  examples/ex19p.cpp
  examples/petsc/ex10p.cpp
  examples/petsc/makefile
  examples/petsc/rc_ex10p_jfnk
  examples/petsc/rc_ex10p_mf
  examples/petsc/rc_ex10p_mfop
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/coefficient.cpp
  fem/coefficient.hpp
  fem/fespace.cpp
  fem/gridfunc.cpp
  fem/pgridfunc.cpp
  linalg/hypre.cpp
  linalg/petsc.cpp
  linalg/petsc.hpp
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
  mesh/mesh.cpp
  mesh/pmesh.cpp
  mesh/pncmesh.cpp
  mesh/pncmesh.hpp
Labels: bug, enhancement, in-next, linalg

#921 Mass + diffusion shared memory kernels [shared-kernels]
  fem/CMakeLists.txt
  fem/bilininteg_diffusion.cpp
  fem/bilininteg_ext.cpp
  fem/bilininteg_ext.hpp
  fem/bilininteg_mass.cpp
  general/cuda.hpp
  general/forall.hpp
Labels: GPU, enhancement, fem, in-next

#922 Improve the integration of some of the new GPU classes with existing classes [mesh-ext-additions]
  CHANGELOG
  doc/web/examples/ex20.png
  doc/web/examples/ex21.png
  doc/web/examples/extruded-star.png
  doc/web/examples/lor-transfer.png
  doc/web/examples/toroid-wedge.png
  examples/README.html
  fem/CMakeLists.txt
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_diffusion.cpp
  fem/bilininteg_ext.cpp
  fem/bilininteg_ext.hpp
  fem/bilininteg_mass.cpp
  fem/fe.cpp
  fem/fe.hpp
  fem/fespace.cpp
  fem/fespace.hpp
  fem/intrules.cpp
  fem/intrules.hpp
  fem/occa.okl
  general/cuda.hpp
  general/forall.hpp
  general/occa.hpp
  linalg/petsc.cpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  miniapps/electromagnetics/README.html
  miniapps/meshing/README.html
  miniapps/performance/README.html
Labels: GPU, enhancement

#932 Flexible handling of hypre errors [hypre-errors-dev]
  linalg/hypre.cpp
  linalg/hypre.hpp
Labels: bug, in-next, linalg
