Repository mfem/mfem, pull requests merged in 2020-08, with the labels that each got.

#1596 Ceed Native Diagonal Assembly [jeremy/ceed-diag-dev]
  fem/bilinearform_ext.cpp
  fem/bilininteg.hpp
  fem/bilininteg_diffusion_pa.cpp
  fem/bilininteg_mass_pa.cpp
  fem/libceed/ceed.cpp
  fem/libceed/ceed.hpp
Labels: enhancement, fem, in-next, in-review

#1627 Set MFEM_USE_SIMD=NO by default
  CHANGELOG
  config/defaults.cmake
  config/defaults.mk
Labels: bug, building, in-next, in-review

#1600 CI: add pedantic flags
  .appveyor.yml
  .travis.yml
  linalg/solvers.cpp
  tests/scripts/documentation
Labels: building, enhancement, in-next, in-review, testing

#1658 Minor fix in unit test
  tests/unit/linalg/test_matrix_dense.cpp
Labels: in-next, in-review, minor, testing

#1672 Fix a minor bug in TMOP
  fem/tmop.cpp
Labels: bug, in-next, in-review, mesh, minor

#1598 GPU support for stix miniapp
  CHANGELOG
  examples/ex22.cpp
  examples/ex22p.cpp
  fem/bilinearform.cpp
  fem/bilininteg.hpp
  fem/bilininteg_hcurl.cpp
  fem/bilininteg_vectorfe.cpp
  fem/coefficient.cpp
  fem/coefficient.hpp
  fem/complex_fem.cpp
  fem/complex_fem.hpp
  fem/fespace.cpp
  fem/gridfunc.cpp
  fem/linearform.cpp
  fem/linearform.hpp
  fem/plinearform.cpp
  fem/plinearform.hpp
  general/mem_manager.cpp
  general/mem_manager.hpp
  linalg/complex_operator.cpp
  linalg/complex_operator.hpp
  linalg/hypre.cpp
  linalg/hypre.hpp
  linalg/hypre_parcsr.cpp
  linalg/hypre_parcsr.hpp
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
  miniapps/plasma/cold_plasma_dielectric_solver.cpp
  miniapps/plasma/cold_plasma_dielectric_solver.hpp
  miniapps/plasma/makefile
  miniapps/plasma/stix1d.cpp
  miniapps/plasma/stix2d.cpp
  tests/mem_manager/dangling-aliases.cpp
  tests/mem_manager/makefile
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_assemblediagonalpa.cpp
  tests/unit/fem/test_pa_coeff.cpp
  tests/unit/linalg/test_matrix_hypre.cpp
  tests/unit/linalg/test_matrix_sparse.cpp
Labels: GPU, examples & miniapps

#1686 Update libCEED install git hash
  INSTALL
Labels: bug, in-next, in-review, low-impact, minor

#1660 Fix a bug in Diffusion Element Assembly in 3D.
  fem/bilininteg_diffusion_ea.cpp
  tests/unit/fem/test_assembly_levels.cpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: bug, in-next, in-review

#1674 Update the script branch-history [branch-history-update]
  doc/CodeDocumentation.dox
  doc/makefile
  tests/scripts/branch-history
Labels: enhancement, in-next, in-review, testing

#1633 Add residual monitor for checking for correct handling of essential boundary conditions
  linalg/solvers.cpp
  linalg/solvers.hpp
Labels: in-next, in-review, linalg

#1620 Matrix coefficient support for H(curl) PA.
  examples/ex24.cpp
  examples/ex24p.cpp
  fem/bilininteg.hpp
  fem/bilininteg_hcurl.cpp
  fem/bilininteg_hdiv.cpp
  fem/bilininteg_vectorfe.cpp
  fem/coefficient.cpp
  fem/coefficient.hpp
  tests/unit/fem/test_assemblediagonalpa.cpp
  tests/unit/fem/test_pa_coeff.cpp
Labels: API change, hpc, in-next, in-review

#1618 AbsMult and AbsMultTranspose
  fem/bilinearform.cpp
  linalg/hypre.cpp
  linalg/hypre.hpp
  linalg/hypre_parcsr.cpp
  linalg/hypre_parcsr.hpp
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
  tests/unit/CMakeLists.txt
  tests/unit/linalg/test_matrix_hypre.cpp
  tests/unit/linalg/test_matrix_sparse.cpp
  tests/unit/mesh/test_ncmesh.cpp
Labels: in-next, in-review, linalg

#1489 SpMV with CuSPARSE
  CHANGELOG
  CMakeLists.txt
  config/cmake/modules/MfemCmakeUtilities.cmake
  config/defaults.mk
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
Labels: hpc, in-next, in-review, linalg

#1641 Reset ElementTransformation::EvalState in new situations [eval-state-dev]
  fem/eltrans.hpp
  mesh/mesh.cpp
  mesh/pmesh.cpp
Labels: fem, in-next, in-review, low-impact, mesh

#1571 Adding high order Gmsh support [ho-gmsh-dev]
  CHANGELOG
  data/periodic-annulus-sector.geo
  data/periodic-annulus-sector.msh
  data/periodic-torus-sector.geo
  data/periodic-torus-sector.msh
  mesh/CMakeLists.txt
  mesh/gmsh.cpp
  mesh/gmsh.hpp
  mesh/mesh_readers.cpp
  mesh/vtk.hpp
  miniapps/meshing/mesh-explorer.cpp
Labels: enhancement, in-next, in-review, low-impact, mesh

#1694 Assert that added bilinear form integrators are supported by PA/EA
  fem/bilinearform_ext.cpp
Labels: hpc, in-next, in-review, minor

#1622 Expose more parallelism in some kernels [feature/stitt4/more-work-units]
  fem/bilininteg_diffusion_pa.cpp
  fem/bilininteg_mass_pa.cpp
  fem/quadinterpolator.cpp
Labels: GPU, enhancement, fem, in-next, in-review

#1474 Add CalcHessian for H1-conforming tensor finite elements [h1-hessian-dev]
  fem/fe.cpp
  fem/fe.hpp
Labels: enhancement, fem, in-next, in-review, low-impact

#1638 Mixed meshes in TMOP
  CHANGELOG
  data/square-mixed.mesh
  fem/tmop.cpp
  fem/tmop.hpp
  fem/tmop_tools.cpp
  fem/tmop_tools.hpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-optimizer.cpp
Labels: examples & miniapps, in-next, in-review, mesh

#1706 Okina mmu mflags [okina-mmu-flags]
  general/mem_manager.cpp
Labels: enhancement, general, in-next, in-review, low-impact, minor

#1623 HypreBoomerAMG: allow Ordering::byNODES in systems version
  examples/ex2p.cpp
  linalg/hypre.cpp
  linalg/hypre.hpp
Labels: in-next, in-review, low-impact, minor

#1645 MarkerToList: delete and reset the underlying data object
  fem/fespace.cpp
Labels: GPU, bug, in-next, in-review

#1575 GPU support for complex operators
  CHANGELOG
  examples/ex22.cpp
  examples/ex22p.cpp
  fem/complex_fem.cpp
  fem/complex_fem.hpp
  fem/gridfunc.cpp
  fem/linearform.cpp
  fem/linearform.hpp
  fem/plinearform.cpp
  fem/plinearform.hpp
  linalg/complex_operator.cpp
  linalg/complex_operator.hpp
Labels: GPU, examples & miniapps, in-next, in-review

#1691 Add an option to set or add when using AssembleEA.
  fem/bilinearform_ext.cpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_convection_ea.cpp
  fem/bilininteg_dgtrace_ea.cpp
  fem/bilininteg_diffusion_ea.cpp
  fem/bilininteg_mass_ea.cpp
  fem/bilininteg_transpose_ea.cpp
Labels: enhancement, hpc, in-next, in-review

#1718 Backend::DEBUG to Backend::DEBUG_DEVICE [debug_device]
  CHANGELOG
  general/device.cpp
  general/device.hpp
  general/forall.hpp
  linalg/vector.cpp
Labels: building, general, in-next, in-review

#1685 Improve DenseMatrix error messages
  linalg/densemat.cpp
Labels: documentation, in-next, in-review, low-impact, minor

#1697 Fix crash in ParNCMesh::GetFaceNeighbors [nc-face-neighbors-fix]
  mesh/pncmesh.cpp
Labels: amr, bug, in-next, in-review, mesh

#1705 libCEED - prevent duplicate Ceed objects from MFEM FES
  INSTALL
  fem/libceed/ceed.cpp
  fem/libceed/ceed.hpp
  general/device.cpp
Labels: enhancement, fem, in-next, in-review, minor
