Repository mfem/mfem, pull requests merged in 2020-03, with the labels that each got.

#1325 Contributing change that could go in 4.1 [contributing-sumup-doc]
  CONTRIBUTING.md
Labels: documentation, in-review

#1329 [Fix] SetFromTrueDofs & uninitialized X in ex24p [tdof-fix]
  examples/ex24p.cpp
  fem/gridfunc.cpp
Labels: bug, examples & miniapps, fem, in-next, in-review

#1327 GridFunction::AccumulateAndCountZones bug fix
  fem/gridfunc.cpp
Labels: bug, fem, in-next, in-review

#1207 Partial Assembly for Discontinuous Galerkin
  CHANGELOG
  examples/ex9.cpp
  examples/ex9p.cpp
  fem/CMakeLists.txt
  fem/bilinearform.cpp
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_convection.cpp
  fem/bilininteg_dgtrace.cpp
  fem/coefficient.hpp
  fem/fe_coll.cpp
  fem/fe_coll.hpp
  fem/fem.hpp
  fem/fespace.cpp
  fem/fespace.hpp
  fem/pfespace.cpp
  fem/pfespace.hpp
  fem/pgridfunc.cpp
  fem/plinearform.cpp
  fem/quadinterpolator.cpp
  fem/quadinterpolator.hpp
  fem/restriction.cpp
  fem/restriction.hpp
  linalg/vector.cpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_face_permutation.cpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: GPU, fem, high-impact, hpc, in-next, in-review

#1335 Fix warnings about sign change when 'char' is 'unsigned char' [signed-char-fix]
  mesh/ncmesh.hpp
Labels: in-next, in-review, mesh, minor

#1338 Add gslib to cmake [cmake-gslib]
  CMakeLists.txt
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
  config/cmake/modules/FindGSLIB.cmake
  config/cmake/modules/MfemCmakeUtilities.cmake
  config/defaults.cmake
Labels: bug, building, enhancement, in-next, in-review

#1328 [CEED] Use Strided restricitions instead of Identity restrictions
  INSTALL
  fem/libceed/diffusion.cpp
  fem/libceed/mass.cpp
Labels: hpc, in-review

#1346 mfem-4.1 hotfixes [hotfix-4.1]
  miniapps/electromagnetics/joule.cpp
  miniapps/electromagnetics/joule_solver.hpp
  tests/unit/CMakeLists.txt
  tests/unit/makefile
Labels: bug, building, in-review

#1347 Update version numbers to 4.1.1 -- a new development version [new-dev-version-4.1.1]
  CHANGELOG
  CMakeLists.txt
  doc/CodeDocumentation.conf.in
  makefile
Labels: in-review, releases

#1309 Update branch-history script [branch-history]
  tests/scripts/branch-history
Labels: in-next, in-review, low-impact, minor

#1354 Bug fix: branch-history script
  tests/scripts/branch-history
Labels: bug, in-review

#1303 Modified SLI solver to work w/ non-SPD operator and preconditioner
  CHANGELOG
  linalg/solvers.cpp
Labels: high-impact, in-next, in-review, linalg

#1282 Import Gecko as a single module [gecko-integration2-dev]
  CHANGELOG
  CMakeLists.txt
  NOTICE
  config/XSDKDefaults.cmake
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
  config/cmake/modules/FindGecko.cmake
  config/cmake/modules/MfemCmakeUtilities.cmake
  config/config.hpp.in
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  general/CMakeLists.txt
  general/gecko.cpp
  general/gecko.hpp
  general/version.cpp
  makefile
  mesh/mesh.cpp
  mesh/mesh.hpp
  miniapps/meshing/mesh-explorer.cpp
  tests/unit/mesh/test_mesh.cpp
Labels: building, in-next, in-review, low-impact, mesh

#1266 CMake travis checks
  .travis.yml
  fem/CMakeLists.txt
  tests/unit/fem/test_inversetransform.cpp
Labels: in-next, in-review, low-impact, testing

#1360 Hotfix for sample runs
  examples/ex6.cpp
  examples/ex6p.cpp
  general/zstr.hpp
  miniapps/nurbs/nurbs_ex11p.cpp
Labels: bug, examples & miniapps, in-next, in-review, minor, testing

#1203 Initial Gitlab CI support [gitlab-ci-dev]
  .gitlab-ci.yml
  .gitlab/quartz.yml
  .travis.yml
  CHANGELOG
  CONTRIBUTING.md
Labels: building, in-next, in-review, low-impact, testing

#1362 Improve handling of nodes in LOR meshes [lor-pargridfunction]
  fem/fespace.cpp
  fem/fespace.hpp
  fem/pfespace.cpp
  mesh/mesh.cpp
  mesh/pmesh.cpp
Labels: in-next, in-review, low-impact, mesh

#1290 Adding element types to test_fe.cpp [test-fe-dev]
  tests/unit/fem/test_calcshape.cpp
  tests/unit/fem/test_fe.cpp
Labels: fem, in-next, in-review, low-impact, testing

#1304 Support for simplices with findpts in MFEM
  CHANGELOG
  data/rt-2d-p4-tri.mesh
  fem/gslib.cpp
  fem/gslib.hpp
  miniapps/gslib/field-diff.cpp
  miniapps/gslib/findpts.cpp
  miniapps/gslib/pfindpts.cpp
Labels: enhancement, in-next, in-review, low-impact, mesh

#1286 Adding Tetrahedral Bilinear Integrator Tests [tet-bl-tests-dev]
  fem/bilininteg.hpp
  fem/lininteg.cpp
  fem/lininteg.hpp
  tests/unit/fem/test_3d_bilininteg.cpp
Labels: fem, in-next, in-review, low-impact, testing

#1306 Tetrahedral orientations [ho-tet-ori-dev]
  .gitignore
  CHANGELOG
  doc/CodeDocumentation.dox
  fem/fe_coll.cpp
  fem/fe_coll.hpp
  fem/geom.cpp
  fem/geom.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  miniapps/meshing/CMakeLists.txt
  miniapps/meshing/makefile
  miniapps/meshing/twist.cpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_tet_reorder.cpp
Labels: enhancement, examples & miniapps, fem, in-next, in-review, low-impact

#1369 Update the unit tests makefile [unit-tests-mk-fix]
  tests/unit/makefile
Labels: building, in-next, in-review, minor

#1366 Allow round-off errors in the "Face Permutations" unit test [test-face-perm-fix]
  tests/unit/fem/test_face_permutation.cpp
Labels: bug, in-next, in-review, testing

#1365 Values method for face quad interpolator
  fem/quadinterpolator_face.cpp
  fem/quadinterpolator_face.hpp
Labels: fem, in-next, in-review, minor

#1370 PWConstCoefficient documentation fix [pw-const-doc-fix-dev]
  fem/coefficient.hpp
Labels: documentation, fem, in-next, in-review, low-impact, minor

#1372 Fix nvcc warnings about partially overridden virtual functions [gecko-nvcc-fix]
  general/gecko.hpp
Labels: general, in-next, in-review, minor

#1232 TMOP with FD-based Gradient & Hessian
  CHANGELOG
  fem/gslib.cpp
  fem/gslib.hpp
  fem/nonlinearform.hpp
  fem/tmop.cpp
  fem/tmop.hpp
  fem/tmop_tools.cpp
  fem/tmop_tools.hpp
  linalg/solvers.cpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-optimizer.cpp
Labels: enhancement, fem, in-next, in-review, low-impact, mesh

#1279 Electromagnetics PML example
  .gitignore
  CHANGELOG
  data/l-shape.mesh
  doc/CodeDocumentation.dox
  examples/CMakeLists.txt
  examples/ex25.cpp
  examples/ex25p.cpp
  examples/makefile
Labels: examples & miniapps, in-next, in-review, low-impact

#1374 Fix a bug in test.mk and in the testing of the twist miniapp [test-mk-twist-fix]
  config/test.mk
  miniapps/meshing/makefile
Labels: bug, examples & miniapps, in-next, in-review

#1349 [CEED] Unify and Simplify the integration of PA Integrators using libCEED.
  fem/libceed/ceed.cpp
  fem/libceed/ceed.hpp
  fem/libceed/diffusion.cpp
  fem/libceed/mass.cpp
Labels: fem, hpc, in-next, in-review

#1377 Kernel attributes for CalcEigenvalues and CalcSingularvalue
  linalg/kernels.hpp
Labels: GPU, bug, building, in-next, in-review, linalg

#1364 Adding AttrToMarker function to remove duplicated code [attr-to-marker-dev]
  miniapps/common/mesh_extras.cpp
  miniapps/common/mesh_extras.hpp
  miniapps/electromagnetics/maxwell_solver.cpp
  miniapps/electromagnetics/maxwell_solver.hpp
  miniapps/electromagnetics/tesla_solver.cpp
  miniapps/electromagnetics/tesla_solver.hpp
  miniapps/electromagnetics/volta_solver.cpp
  miniapps/electromagnetics/volta_solver.hpp
Labels: examples & miniapps, in-next, in-review, low-impact

#1188 ADIOS2 output with ParaView visualization, adios2stream and ADIOS2DataCollection
  .gitignore
  CHANGELOG
  CMakeLists.txt
  INSTALL
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
  config/cmake/modules/FindADIOS2.cmake
  config/config.hpp.in
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  examples/ex12p.cpp
  examples/ex16p.cpp
  examples/ex5p.cpp
  examples/ex9p.cpp
  examples/makefile
  fem/CMakeLists.txt
  fem/adios2datacollection.cpp
  fem/adios2datacollection.hpp
  fem/fem.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/pgridfunc.cpp
  fem/pgridfunc.hpp
  general/CMakeLists.txt
  general/adios2stream.cpp
  general/adios2stream.hpp
  general/version.cpp
  linalg/vector.cpp
  linalg/vector.hpp
  makefile
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  mfem.hpp
Labels: enhancement, fem, in-next, in-review, low-impact, mesh

#1387 Bug in TMOP's AdvectorCG.
  fem/tmop_tools.cpp
  fem/tmop_tools.hpp
Labels: bug, in-next, in-review, mesh

#1305 Change Add and ParAdd for hypre matrices to use hypre parcsradd
  linalg/hypre.cpp
Labels: bug, in-next, in-review, linalg
