Repository mfem/mfem, pull requests merged in 2020-01, with the labels that each got.

#1198 HIP fixes for CEED benchmarks
  linalg/vector.cpp
Labels: GPU, bug, building, enhancement, in-next, in-review, linalg, low-impact

#1130 Bug fixes and improvements for SparseMatrix conversion to PetscParMatrix
  linalg/petsc.cpp
  linalg/petsc.hpp
Labels: in-next, in-review, linalg, minor

#1166 Cheap ordering of elements with Hilbert spatial sort [hilbert-sort-dev]
  CHANGELOG
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/ncmesh.hpp
  miniapps/meshing/mesh-explorer.cpp
  tests/unit/mesh/test_mesh.cpp
Labels: amr, enhancement, in-next, in-review, low-impact, mesh

#982 Jacobi preconditioning for partial assembly [feature/okina-jacobi]
  CHANGELOG
  examples/ex1.cpp
  examples/ex1p.cpp
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_diffusion.cpp
  fem/bilininteg_mass.cpp
  fem/pbilinearform.cpp
  fem/pbilinearform.hpp
  linalg/solvers.cpp
  linalg/solvers.hpp
  tests/unit/fem/test_assemblediagonalpa.cpp
  tests/unit/fem/test_operatorjacobismoother.cpp
Labels: GPU, fem, hpc, in-next, in-review, low-impact

#866 [CEED] libCeed integration [yohann/okina-gpu-libceed]
  CHANGELOG
  CMakeLists.txt
  INSTALL
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
  config/cmake/modules/FindlibCEED.cmake
  config/config.hpp.in
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  config/sample-runs.sh
  examples/ex1.cpp
  examples/ex1p.cpp
  examples/ex6.cpp
  examples/ex6p.cpp
  fem/CMakeLists.txt
  fem/bilinearform_ext.cpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_diffusion.cpp
  fem/bilininteg_mass.cpp
  fem/libceed/ceed.cpp
  fem/libceed/ceed.hpp
  fem/libceed/diffusion.cpp
  fem/libceed/diffusion.h
  fem/libceed/diffusion.hpp
  fem/libceed/mass.cpp
  fem/libceed/mass.h
  fem/libceed/mass.hpp
  general/device.cpp
  general/device.hpp
  makefile
Labels: GPU, enhancement, high-impact, hpc, in-next, in-review

#1223 Fix an issue in class OperatorJacobiSmoother [operator-jacobi-fix]
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/pbilinearform.cpp
  fem/pbilinearform.hpp
  fem/pfespace.cpp
  linalg/solvers.cpp
Labels: bug, in-next, in-review, linalg

#1209 Fixed synchronization issue in load-dc miniapp.
  miniapps/tools/load-dc.cpp
Labels: examples & miniapps, in-next, in-review, minor

#1211 Extensions for app developers
  linalg/densemat.hpp
  mesh/mesh.cpp
Labels: in-next, in-review, low-impact

#1167 Add vector mass and vector diffusion PA integrators
  CHANGELOG
  fem/CMakeLists.txt
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/bilininteg.hpp
  fem/bilininteg_vecdiffusion.cpp
  fem/bilininteg_vecmass.cpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: GPU, fem, in-next, in-review, low-impact

#949 Non-conforming tetrahedal refinement [nc-tet-dev]
  CHANGELOG
  examples/ex12p.cpp
  examples/ex13p.cpp
  examples/ex15.cpp
  examples/ex15p.cpp
  fem/fespace.cpp
  fem/fespace.hpp
  fem/pfespace.cpp
  fem/pfespace.hpp
  fem/pgridfunc.cpp
  linalg/densemat.hpp
  makefile
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  mesh/pncmesh.cpp
  mesh/pncmesh.hpp
  mesh/tetrahedron.hpp
Labels: amr, enhancement, in-next, in-review, low-impact, mesh

#1239 GetProlongationMatrix returns IdentityOperator when NRanks ==1 [pfespace-fix]
  fem/bilinearform.cpp
  fem/pfespace.cpp
  fem/pfespace.hpp
  linalg/operator.cpp
  linalg/operator.hpp
Labels: bug, fem, in-next, in-review, linalg

#1236 miniapps-common fix for shared builds [miniapps-common-shared]
  miniapps/electromagnetics/makefile
  miniapps/tools/makefile
Labels: bug, building, examples & miniapps, in-next, in-review

#1234 Fixing issues uncovered by memcheck [complex-fem-memcheck-dev]
  examples/ex22.cpp
  examples/ex22p.cpp
  fem/linearform.hpp
Labels: bug, examples & miniapps, in-next, in-review

#1179 Adding get-values miniapp [get-values-dev]
  .gitignore
  doc/CodeDocumentation.dox
  miniapps/tools/CMakeLists.txt
  miniapps/tools/get-values.cpp
  miniapps/tools/makefile
Labels: examples & miniapps, in-next, in-review, low-impact

#1215 Add indices to integration points. [intpoint-indices-dev]
  fem/intrules.cpp
  fem/intrules.hpp
  tests/unit/fem/test_intrules.cpp
Labels: fem, in-next, in-review, minor

#513 Adding Adams Bashforth time integrator [adams-bashforth-dev]
  CHANGELOG
  linalg/ode.cpp
  linalg/ode.hpp
  tests/unit/CMakeLists.txt
  tests/unit/linalg/test_ode.cpp
Labels: enhancement, in-next, in-review, linalg, low-impact

#1164 Divergence and Gradient integrators as well as PA versions
  CHANGELOG
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_divergence.cpp
  fem/bilininteg_gradient.cpp
  fem/tmop_tools.cpp
  linalg/hypre.cpp
  linalg/hypre.hpp
  linalg/hypre_parcsr.cpp
  linalg/hypre_parcsr.hpp
  linalg/operator.cpp
  linalg/operator.hpp
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
  tests/unit/fem/test_operatorjacobismoother.cpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: fem, hpc, in-next, in-review, low-impact

#1244 Proposed changes to #1229 [binary_file_test-tk2]
  .travis.yml
  CHANGELOG
  tests/scripts/README
  tests/scripts/branch-history
  tests/scripts/git-history
  tests/scripts/git-history.filters
Labels: minor, testing

#1159 Add PA for nonlinear integrators [nlpa-dev]
  CHANGELOG
  fem/CMakeLists.txt
  fem/bilininteg.hpp
  fem/nonlinearform.cpp
  fem/nonlinearform.hpp
  fem/nonlinearform_ext.cpp
  fem/nonlinearform_ext.hpp
  fem/nonlininteg.cpp
  fem/nonlininteg.hpp
  fem/nonlininteg_vectorconvection.cpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: GPU, fem, in-next, in-review, low-impact

#1229 Travis checks, including for the introduction/modification of a binary file [binary_file_test-tk]
  .travis.yml
  CHANGELOG
  config/test.mk
  makefile
  tests/scripts/README
  tests/scripts/branch-history
  tests/scripts/code-style
  tests/scripts/documentation
  tests/scripts/gitignore
  tests/scripts/runtest
  tests/unit/makefile
Labels: github, in-next, in-review, testing

#1252 Change KINSOL behavior to only print on root node [kinsol-par-print]
  linalg/sundials.cpp
Labels: in-next, in-review, minor

#1242 Memory overlap in MPI_Allreduce [load-dc-bugfix-dev]
  miniapps/tools/load-dc.cpp
Labels: bug, examples & miniapps, in-next, in-review, low-impact, minor

#1258 Revert name change in MixedBilinearForm
  fem/bilinearform.hpp
Labels: bug, in-next, in-review

#1265 Add missing files to cmake
  fem/CMakeLists.txt
Labels: bug, building, fem, in-next, in-review

#1253 Adapt FGMRESSolver print behavior
  linalg/solvers.cpp
Labels: bug, in-next, in-review, linalg

#1068 Minor addition to VectorFEMassIntegrator
  fem/bilininteg.cpp
  fem/bilininteg.hpp
Labels: enhancement, fem, in-next, in-review, minor

#914 PA Convection Operator [convection-pa]
  fem/CMakeLists.txt
  fem/bilinearform.hpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_convection.cpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_pa_coeff.cpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: GPU, fem, in-next, in-review, low-impact

#1032 H1 Serendipity Elements - 2D and 3D [serendipity]
  CHANGELOG
  fem/fe.cpp
  fem/fe.hpp
  fem/fe_coll.cpp
  fem/fe_coll.hpp
  miniapps/tools/display-basis.cpp
Labels: enhancement, fem, in-next, in-review, low-impact

#1233 Block ILU(0) preconditioner [bilu0]
  CHANGELOG
  examples/ex10.cpp
  examples/ex10p.cpp
  examples/ex9.cpp
  examples/ex9p.cpp
  linalg/densemat.cpp
  linalg/densemat.hpp
  linalg/solvers.cpp
  linalg/solvers.hpp
  tests/unit/CMakeLists.txt
  tests/unit/linalg/test_densematrix.cpp
  tests/unit/linalg/test_ilu.cpp
Labels: enhancement, in-next, in-review, linalg, low-impact

#1268 PetscBCHandler: fix for -snes_test_jacobian
  linalg/petsc.cpp
  linalg/petsc.hpp
Labels: bug, hpc, in-next, in-review
