Repository mfem/mfem, pull requests merged in 2020-02, with the labels that each got.

#1270 More extensions for Laghos
  fem/fespace.cpp
  fem/fespace.hpp
  fem/pnonlinearform.cpp
  linalg/blas.hpp
Labels: ready-for-review

#1275 Minor Block ILU compilation bugfix
  linalg/solvers.cpp
  linalg/solvers.hpp
Labels: bug, in-next, in-review, linalg, minor

#1231 View boundary attributes in `mesh-explorer` [view-bdr-dev]
  CHANGELOG
  mesh/mesh.cpp
  mesh/mesh.hpp
  miniapps/meshing/mesh-explorer.cpp
Labels: enhancement, examples & miniapps, in-next, in-review, low-impact, mesh

#1251 Bug in pnonlinearform
  fem/pnonlinearform.cpp
Labels: bug, fem, in-next, in-review

#1243 LinearSolve(A,X) convenience method
  CHANGELOG
  linalg/densemat.cpp
  linalg/densemat.hpp
  linalg/matrix.hpp
  tests/unit/linalg/test_densematrix.cpp
Labels: in-next, in-review, linalg, low-impact

#1285 [CEED] Fix the libCEED integration in MFEM due to the interface change.
  fem/libceed/ceed.cpp
  fem/libceed/diffusion.cpp
  fem/libceed/mass.cpp
Labels: GPU, bug, in-next, in-review

#1222 Adding ParMesh::SetAttributes method [para-attr-dev]
  mesh/mesh.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  miniapps/electromagnetics/makefile
  miniapps/electromagnetics/volta_solver.cpp
Labels: bug, in-next, in-review, low-impact, mesh

#1218 Complex dev additions [complex-dev-additions]
  fem/complex_fem.cpp
  fem/complex_fem.hpp
Labels: fem, in-next, in-review, low-impact

#586 Adding the Hessian and Laplacian to the NURBS shapefunctions [laplacian_dev]
  .gitignore
  CHANGELOG
  fem/eltrans.cpp
  fem/eltrans.hpp
  fem/fe.cpp
  fem/fe.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  mesh/nurbs.cpp
  mesh/nurbs.hpp
  miniapps/nurbs/CMakeLists.txt
  miniapps/nurbs/cube-nurbs.mesh
  miniapps/nurbs/makefile
  miniapps/nurbs/nurbs_ex1.cpp
  miniapps/nurbs/nurbs_ex11p.cpp
  miniapps/nurbs/nurbs_ex1p.cpp
Labels: enhancement, fem, in-next, in-review, low-impact

#1289 Adjustments for diffusion template orders
  fem/bilininteg_diffusion.cpp
  general/forall.hpp
Labels: bug, fem, hpc, in-next, in-review

#1278 Small fixes when running a matrix-free code (MATSHELL)
  linalg/petsc.cpp
Labels: bug, enhancement, hpc, in-next, in-review

#1271 Consider the coefficient in the BilinearIntegrator when computing the fluxes in ZienkiewiczZhuEstimator
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/estimators.cpp
  fem/estimators.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/pgridfunc.cpp
  fem/pgridfunc.hpp
Labels: fem, in-next, in-review, minor

#1257 Add AssembleDiagonal to VectorMass and VectorDiffusion
  fem/bilininteg.hpp
  fem/bilininteg_vecdiffusion.cpp
  fem/bilininteg_vecmass.cpp
  tests/unit/fem/test_assemblediagonalpa.cpp
Labels: GPU, fem, in-next, in-review, low-impact

#1259 Add FormRectangularLinearSystem to ParMixedBilinearForm
  fem/bilinearform.hpp
  fem/pbilinearform.cpp
  fem/pbilinearform.hpp
  tests/unit/linalg/test_rectangularmatrix.cpp
  tests/unit/unit_test_main.cpp
Labels: fem, in-next, in-review, low-impact

#1319 Fix an issue in HypreEuclid::SetOperator [hypre-euclid-fix]
  linalg/hypre.cpp
Labels: bug, in-next, in-review, linalg

#1296 ParaView improvements [paraview-improvements]
  .gitignore
  CHANGELOG
  examples/ex5.cpp
  examples/ex5p.cpp
  examples/ex9.cpp
  examples/ex9p.cpp
  examples/makefile
  fem/datacollection.cpp
  fem/datacollection.hpp
  general/CMakeLists.txt
  general/binaryio.cpp
  general/binaryio.hpp
  mesh/CMakeLists.txt
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/vtk.cpp
  mesh/vtk.hpp
Labels: enhancement, in-next, in-review, low-impact, mesh, visualization

#1320 [bug] Fix prolongation [pi-prolong]
  fem/bilinearform.cpp
  linalg/operator.cpp
  linalg/operator.hpp
  tests/unit/CMakeLists.txt
  tests/unit/linalg/test_matrix_block.cpp
  tests/unit/linalg/test_matrix_dense.cpp
  tests/unit/linalg/test_matrix_rectangular.cpp
  tests/unit/linalg/test_matrix_square.cpp
Labels: bug, in-next, in-review, linalg

#1267 Check cout and cerr usage in make style + Improved script messages [make-style-cout-cerr-check]
  .gitignore
  makefile
  tests/scripts/branch-history
  tests/scripts/code-style
  tests/scripts/documentation
  tests/scripts/gitignore
  tests/scripts/runtest
Labels: building, documentation, high-impact, in-next, in-review, testing

#1297 Optional flag to copy row starts/col starts when using ParMult() [parmult_pr]
  linalg/hypre.cpp
  linalg/hypre.hpp
Labels: in-next, in-review, linalg, minor

#1100 [CEED] Non-tensor partial assembly support using libCEED
  examples/ex1.cpp
  examples/ex1p.cpp
  fem/bilinearform_ext.cpp
  fem/fespace.hpp
  fem/libceed/ceed.cpp
  fem/libceed/ceed.hpp
  fem/libceed/diffusion.cpp
  fem/libceed/mass.cpp
Labels: GPU, enhancement, in-next, in-review, low-impact

#476 Add 2nd order time integrator [add-2ndorder-timeint-dev]
  .gitignore
  CHANGELOG
  doc/CodeDocumentation.dox
  examples/CMakeLists.txt
  examples/ex23.cpp
  examples/makefile
  linalg/ode.cpp
  linalg/ode.hpp
  linalg/operator.cpp
  linalg/operator.hpp
  tests/unit/CMakeLists.txt
  tests/unit/linalg/test_ode2.cpp
Labels: enhancement, examples & miniapps, in-next, in-review, linalg

#1321 Introduced sign change in the preconditioners of ex22 and ex22p
  examples/ex22.cpp
  examples/ex22p.cpp
Labels: in-next, in-review, minor

#1323 Fix for surface meshes
  fem/bilininteg.cpp
Labels: bug, fem, in-next, in-review

#1204 Nedelec partial assembly [ndpa-dev]
  CHANGELOG
  examples/CMakeLists.txt
  examples/ex24.cpp
  examples/ex24p.cpp
  examples/ex3.cpp
  examples/ex3p.cpp
  examples/makefile
  fem/CMakeLists.txt
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  fem/bilininteg.hpp
  fem/bilininteg_hcurl.cpp
  fem/fe.cpp
  fem/fe.hpp
  fem/fespace.cpp
  fem/fespace.hpp
  fem/gridfunc.cpp
  linalg/sparsemat.cpp
  tests/unit/fem/test_pa_coeff.cpp
Labels: GPU, enhancement, fem, in-next, in-review, low-impact
