Repository mfem/mfem, pull requests merged in 2020-09, with the labels that each got.

#1560 FindPointsGSLIB support for non-H1 gridfunctions
  .gitignore
  CHANGELOG
  doc/CodeDocumentation.dox
  fem/fe.cpp
  fem/fe.hpp
  fem/gslib.cpp
  fem/gslib.hpp
  fem/tmop_tools.cpp
  fem/tmop_tools.hpp
  miniapps/gslib/field-interp.cpp
  miniapps/gslib/findpts.cpp
  miniapps/gslib/makefile
  miniapps/gslib/pfindpts.cpp
Labels: enhancement, in-next, in-review, mesh

#1632 Ex6[p] diagonal preconditioner for PA
  CHANGELOG
  examples/ex6.cpp
  examples/ex6p.cpp
  miniapps/gslib/field-interp.cpp
Labels: amr, examples & miniapps, in-next, in-review

#1561 Convergence rate tests [convergence-dev]
  .gitignore
  CHANGELOG
  config/sample-runs.sh
  examples/ex6p.cpp
  fem/CMakeLists.txt
  fem/convergence.cpp
  fem/convergence.hpp
  fem/datacollection.cpp
  fem/fem.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/lininteg.cpp
  fem/lininteg.hpp
  fem/pgridfunc.cpp
  fem/pgridfunc.hpp
  tests/convergence/makefile
  tests/convergence/prates.cpp
  tests/convergence/rates.cpp
  tests/par-mesh-format/ex1p.cpp
  tests/par-mesh-format/makefile
Labels: examples & miniapps, fem, in-next, in-review, testing

#1649 On the fly NC mesh initialization [nc-init-dev]
  .gitignore
  CHANGELOG
  doc/CodeDocumentation.dox
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/ncmesh.cpp
  miniapps/meshing/CMakeLists.txt
  miniapps/meshing/makefile
  miniapps/meshing/polar-nc.cpp
Labels: enhancement, examples & miniapps, in-next, in-review, mesh

#1688 Add tests on Lassen in Gitlab CI
  .gitlab-ci.yml
  .gitlab/lassen.yml
  .gitlab/quartz.yml
Labels: GPU, in-next, in-review, testing

#1655 Support additional coefficient options in CurlCurlIntegrator
  examples/ex25.cpp
  examples/ex25p.cpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_hcurl.cpp
  tests/unit/fem/test_assemblediagonalpa.cpp
  tests/unit/fem/test_pa_coeff.cpp
Labels: GPU, enhancement, examples & miniapps, in-next, in-review

#1704 Add element attribute to adios2 bp dataset
  CHANGELOG
  config/cmake/modules/FindADIOS2.cmake
  general/adios2stream.cpp
Labels: general, in-next, in-review

#1584 Shared memory for H(curl) PA
  fem/bilininteg_diffusion_pa.cpp
  fem/bilininteg_hcurl.cpp
  fem/bilininteg_vectorfe.cpp
  tests/unit/CMakeLists.txt
  tests/unit/cunit_test_main.cpp
  tests/unit/fem/test_assemblediagonalpa.cpp
  tests/unit/fem/test_pa_coeff.cpp
  tests/unit/makefile
Labels: hpc, in-next, in-review, testing

#1764 Mesh bug fix and unit test
  mesh/mesh.cpp
  tests/unit/mesh/test_mesh.cpp
Labels: bug, in-next, in-review, mesh

#1751 Add better error messages from SuperLU for invalid parameters [superlu-negative-returncode-dev]
  linalg/superlu.cpp
Labels: in-next, in-review, linalg, minor

#1745 Improve PA advection coefficient handling
  fem/bilininteg_convection_pa.cpp
  fem/bilininteg_dgtrace_pa.cpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: fem, in-next, in-review, minor

#1753 Small bug in fe.cpp prevents building in thread safe mode
  fem/fe.cpp
Labels: bug, in-next, in-review

#1647 Fix mem leak in BlockNonlinearForm
  fem/nonlinearform.cpp
Labels: bug, in-next, in-review

#1754 Bug fix for MixedVectorCurlIntegrator PA
  examples/ex25.cpp
  examples/ex25p.cpp
  fem/bilininteg_hcurl.cpp
  tests/unit/fem/test_pa_coeff.cpp
Labels: bug, in-next, in-review
