Repository mfem/mfem, pull requests merged in 2020-04, with the labels that each got.

#1393 [PR into feature/monitor branch] simplify monitor interface
  examples/ex14p.cpp
  linalg/solvers.cpp
  linalg/solvers.hpp
Labels: WIP

#1391 [barker29/cg-converged-bugfix] add checks for indefinite preconditioner in CGSolver
  linalg/solvers.cpp
  tests/unit/CMakeLists.txt
  tests/unit/linalg/test_cg_indefinite.cpp
Labels: bug, in-next, in-review, linalg, minor

#1342 Add IsoparametricTransformation::SetPointMat, remove FinalizeTransformation [setpointmat-dev]
  fem/bilinearform.hpp
  fem/coefficient.hpp
  fem/eltrans.cpp
  fem/eltrans.hpp
  fem/fespace.cpp
  fem/geom.cpp
  fem/linearform.hpp
  fem/nonlinearform.hpp
  fem/pfespace.cpp
  general/globals.hpp
  mesh/element.hpp
  mesh/hexahedron.hpp
  mesh/mesh.cpp
  mesh/pmesh.cpp
  mesh/point.hpp
  mesh/quadrilateral.hpp
  mesh/segment.hpp
  mesh/tetrahedron.hpp
  mesh/triangle.hpp
  mesh/vertex.hpp
  mesh/wedge.hpp
Labels: API change, in-next, in-review, low-impact, minor

#1411 Add version requirements for some external libraries.
  CONTRIBUTING.md
  INSTALL
Labels: documentation, in-next, in-review, minor

#1419 Resolve deprecation warnings in miniapps [deprecate-warn-dev]
  fem/nonlinearform.hpp
  miniapps/electromagnetics/joule.cpp
  miniapps/electromagnetics/joule_solver.hpp
Labels: in-next, in-review, low-impact

#1097 Multigrid support [drzisga/multigrid]
  CHANGELOG
  doc/CodeDocumentation.dox
  examples/CMakeLists.txt
  examples/ex26.cpp
  examples/ex26p.cpp
  examples/ex7.cpp
  examples/ex7p.cpp
  examples/makefile
  fem/CMakeLists.txt
  fem/bilinearform.hpp
  fem/fem.hpp
  fem/fespace.cpp
  fem/fespace.hpp
  fem/fespacehierarchy.cpp
  fem/fespacehierarchy.hpp
  fem/multigrid.cpp
  fem/multigrid.hpp
  fem/restriction.cpp
  fem/restriction.hpp
  fem/transfer.cpp
  fem/transfer.hpp
  linalg/operator.cpp
  linalg/operator.hpp
  linalg/solvers.cpp
  linalg/solvers.hpp
  tests/unit/fem/test_transfer.cpp
Labels: enhancement, examples & miniapps, fem, high-impact, in-next, in-review

#1394 Combinations of TMOPIntegrators
  fem/tmop.cpp
  fem/tmop.hpp
  fem/tmop_tools.cpp
  fem/tmop_tools.hpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-optimizer.cpp
Labels: in-next, in-review

#1263 Minimal surface example [minimal-surf-dev-rewritten]
  .gitignore
  CHANGELOG
  config/sample-runs.sh
  doc/CodeDocumentation.dox
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_diffusion.cpp
  fem/bilininteg_vecdiffusion.cpp
  fem/quadinterpolator.cpp
  fem/quadinterpolator.hpp
  mesh/mesh.cpp
  miniapps/meshing/CMakeLists.txt
  miniapps/meshing/makefile
  miniapps/meshing/minimal-surface.cpp
  miniapps/meshing/pminimal-surface.cpp
Labels: GPU, examples & miniapps, fem, in-next, in-review

#1433 Navier miniapp compilation with nvcc
  miniapps/navier/makefile
  miniapps/navier/navier_solver.cpp
Labels: GPU, building, enhancement, examples & miniapps, minor, ready-for-review

#1357 Adding example to illustrate boundary conditions [bc-example-dev]
  CHANGELOG
  examples/CMakeLists.txt
  examples/ex27.cpp
  examples/ex27p.cpp
  examples/makefile
  fem/bilininteg.hpp
  fem/lininteg.cpp
  fem/lininteg.hpp
  fem/pfespace.hpp
Labels: examples & miniapps, in-next, in-review, low-impact

#1330 Navier-Stokes miniapp
  .gitignore
  doc/CodeDocumentation.conf.in
  doc/CodeDocumentation.dox
  fem/coefficient.cpp
  makefile
  miniapps/CMakeLists.txt
  miniapps/navier/CMakeLists.txt
  miniapps/navier/box-cylinder.mesh
  miniapps/navier/makefile
  miniapps/navier/navier_3dfoc.cpp
  miniapps/navier/navier_kovasznay.cpp
  miniapps/navier/navier_mms.cpp
  miniapps/navier/navier_shear.cpp
  miniapps/navier/navier_solver.cpp
  miniapps/navier/navier_solver.hpp
  miniapps/navier/navier_tgv.cpp
  miniapps/navier/ortho_solver.cpp
  miniapps/navier/ortho_solver.hpp
Labels: in-next, in-review

#1395 Boundary integral order bug [bdr-int-order-fix]
  fem/bilinearform.cpp
  tests/unit/fem/test_bilinearform.cpp
Labels: bug, fem, in-next, in-review
