Repository mfem/mfem, pull requests merged in 2020-05, with the labels that each got.

#1353 Partial assembly for H(div)
  CHANGELOG
  examples/ex24.cpp
  examples/ex24p.cpp
  examples/ex4.cpp
  examples/ex4p.cpp
  examples/ex5.cpp
  examples/ex5p.cpp
  fem/CMakeLists.txt
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_hcurl.cpp
  fem/bilininteg_hdiv.cpp
  fem/bilininteg_vectorfe.cpp
  fem/fe.cpp
  fem/fe.hpp
  fem/restriction.cpp
  fem/restriction.hpp
  linalg/operator.cpp
  linalg/operator.hpp
  tests/unit/fem/test_assemblediagonalpa.cpp
  tests/unit/fem/test_pa_coeff.cpp
Labels: enhancement, fem, hpc, in-next, in-review, low-impact

#1390 Add IterativeSolverMonitor [feature/monitor]
  CHANGELOG
  examples/ex14p.cpp
  examples/ex19.cpp
  examples/ex19p.cpp
  linalg/solvers.cpp
  linalg/solvers.hpp
Labels: in-next, in-review

#1337 VectorFEMassIntegrator bug fix [matrix-coef-mass-bug-fix]
  fem/bilininteg.cpp
  tests/unit/fem/test_3d_bilininteg.cpp
Labels: bug, fem, in-next, in-review, low-impact, minor

#1455 Minor bugfix in NURBS miniapps [miniapps-nurbs-fix]
  miniapps/meshing/CMakeLists.txt
  miniapps/nurbs/nurbs_ex1.cpp
  miniapps/nurbs/nurbs_ex1p.cpp
Labels: bug, examples & miniapps, in-next, in-review, minor

#1415 Additional interface for FindPointsGSLIB methods and bug fix
  fem/gslib.cpp
  fem/gslib.hpp
  miniapps/gslib/CMakeLists.txt
  miniapps/gslib/field-diff.cpp
  miniapps/gslib/findpts.cpp
  miniapps/gslib/pfindpts.cpp
Labels: bug, in-next, in-review, minor

#1422 Create a HypreParMatrix from blocks
  CHANGELOG
  linalg/hypre.cpp
  linalg/hypre.hpp
  tests/unit/linalg/test_matrix_rectangular.cpp
Labels: enhancement, in-next, in-review, linalg, low-impact

#1448 [barker29/doftoquad-bugfix] minor bug in VectorTensorFiniteElement::GetTensorDofToQuadm
  fem/fe.cpp
Labels: bug, in-next, in-review, minor

#1172 Moving HYPRE memory allocation macros to a common location [hypre-mem-macro-dev]
  linalg/hypre.cpp
  linalg/hypre_parcsr.cpp
  linalg/hypre_parcsr.hpp
Labels: in-next, in-review, linalg, low-impact, minor

#1447 Minor bugfixes [minor-bugfixes]
  fem/datacollection.cpp
  fem/datacollection.hpp
  fem/fespace.cpp
  fem/fespace.hpp
  fem/transfer.cpp
  linalg/densemat.cpp
  linalg/solvers.cpp
  tests/unit/linalg/test_ilu.cpp
Labels: bug, in-next, in-review, low-impact, minor

#1451 Add support for vector FE in ParGridFunction::ExchangeFaceNbrData [gf-exchange-face-nbr-data-fix]
  fem/pgridfunc.cpp
Labels: bug, enhancement, fem, in-next, in-review

#1340 Implement Element Assembly
  CHANGELOG
  examples/ex9.cpp
  examples/ex9p.cpp
  fem/CMakeLists.txt
  fem/bilinearform.cpp
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_convection_ea.cpp
  fem/bilininteg_convection_pa.cpp
  fem/bilininteg_dgtrace_ea.cpp
  fem/bilininteg_dgtrace_pa.cpp
  fem/bilininteg_diffusion_ea.cpp
  fem/bilininteg_diffusion_pa.cpp
  fem/bilininteg_mass_ea.cpp
  fem/bilininteg_mass_pa.cpp
  fem/bilininteg_transpose_ea.cpp
  fem/restriction.cpp
  tests/unit/fem/test_ea_kernels.cpp
Labels: enhancement, fem, hpc, in-next, in-review, low-impact

#1400 Memory wraps for pair of h_ptr/d_ptr [ext-dh-wrap]
  general/mem_manager.cpp
  general/mem_manager.hpp
Labels: enhancement, general, in-next, in-review, minor

#879 Error estimator based on Lp errors [lp-error-est-dev]
  CHANGELOG
  fem/estimators.cpp
  fem/estimators.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  tests/unit/fem/test_1d_bilininteg.cpp
  tests/unit/fem/test_2d_bilininteg.cpp
  tests/unit/fem/test_3d_bilininteg.cpp
Labels: amr, enhancement, fem, in-next, in-review, low-impact, minor

#1194 Generalizing GridFunction::GetValue methods [gf-getvalue-dev]
  CHANGELOG
  examples/ex18.hpp
  fem/bilininteg.cpp
  fem/coefficient.cpp
  fem/coefficient.hpp
  fem/eltrans.cpp
  fem/eltrans.hpp
  fem/fe_coll.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/libceed/ceed.hpp
  fem/lininteg.cpp
  fem/tmop.cpp
  mesh/mesh.cpp
  mesh/pmesh.cpp
  tests/unit/fem/test_face_elem_trans.cpp
  tests/unit/fem/test_get_value.cpp
Labels: fem, high-impact, in-next, in-review

#1456 Adding PA support to ParBilinearForm::TrueAddMult [trueaddmult-pa-dev]
  fem/pbilinearform.cpp
Labels: hpc, in-next, in-review, low-impact

#919 Automatically call BuildDofToArrays() in certain ProjectCoefficient() signatures [builddoftoarrays-dev]
  fem/gridfunc.cpp
  fem/gridfunc.hpp
Labels: enhancement, fem, in-next, in-review, low-impact

#1047 Intrinsic for the high-performance templated operator [x86]
  .travis.yml
  CHANGELOG
  INSTALL
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
  config/cmake/modules/MfemCmakeUtilities.cmake
  config/config.hpp.in
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  config/tconfig.hpp
  fem/adios2datacollection.cpp
  fem/adios2datacollection.hpp
  fem/tbilinearform.hpp
  fem/tbilininteg.hpp
  fem/tcoefficient.hpp
  fem/teltrans.hpp
  fem/tevaluator.hpp
  fem/tfespace.hpp
  general/adios2stream.cpp
  general/adios2stream.hpp
  general/mem_manager.cpp
  general/mem_manager.hpp
  general/tassign.hpp
  general/version.cpp
  general/zstr.hpp
  linalg/kernels.hpp
  linalg/simd.hpp
  linalg/simd/auto.hpp
  linalg/simd/m128.hpp
  linalg/simd/m256.hpp
  linalg/simd/m512.hpp
  linalg/simd/qpx.hpp
  linalg/simd/qpx256.hpp
  linalg/simd/vsx.hpp
  linalg/simd/vsx128.hpp
  linalg/simd/x86.hpp
  linalg/tmatrix.hpp
  linalg/ttensor.hpp
  makefile
  mesh/hexahedron.hpp
  mesh/quadrilateral.hpp
  miniapps/performance/CMakeLists.txt
  miniapps/performance/ex1.cpp
  miniapps/performance/ex1p.cpp
  miniapps/performance/makefile
Labels: enhancement, examples & miniapps, hpc, in-next, in-review

#1352 Using multiple discrete functions with TMOP for adaptivity
  CHANGELOG
  fem/gslib.cpp
  fem/tmop.cpp
  fem/tmop.hpp
  fem/tmop_tools.cpp
  fem/tmop_tools.hpp
  miniapps/meshing/cube.mesh
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/mesh-optimizer.hpp
  miniapps/meshing/pmesh-optimizer.cpp
Labels: enhancement, in-next, in-review, mesh

#1454 Pumi2mfem field transfer updates [pumi2mfem_field_transfer]
  INSTALL
  examples/pumi/ex1.cpp
  examples/pumi/ex1p.cpp
  examples/pumi/ex2.cpp
  examples/pumi/ex6p.cpp
  mesh/pumi.cpp
  mesh/pumi.hpp
Labels: amr, bug, in-next, in-review, low-impact
