Repository mfem/mfem, pull requests merged in 2020-10, with the labels that each got.

#1765 Default implementation of AssembleElementVector and AssembleFaceVector for bilinear integrators [blfi-default-assemble-vector-dev]
  fem/bilininteg.cpp
  fem/bilininteg.hpp
Labels: enhancement, fem, in-next, in-review

#1665 Matrix coefficients for diffusion PA
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_diffusion_pa.cpp
  fem/bilininteg_hcurl.cpp
  fem/bilininteg_vectorfe.cpp
  fem/coefficient.cpp
  fem/coefficient.hpp
  tests/unit/fem/test_assemblediagonalpa.cpp
  tests/unit/fem/test_pa_coeff.cpp
  tests/unit/linalg/test_matrix_square.cpp
Labels: GPU, fem, hpc, in-next, in-review

#1726 Add support for SUNDIALS GPU features [sundials-gpu-dev]
  CHANGELOG
  CMakeLists.txt
  INSTALL
  config/cmake/modules/FindSUNDIALS.cmake
  config/defaults.cmake
  config/defaults.mk
  examples/sundials/ex9.cpp
  examples/sundials/ex9p.cpp
  linalg/hypre.hpp
  linalg/sundials.cpp
  linalg/sundials.hpp
  linalg/vector.cpp
  linalg/vector.hpp
Labels: GPU, enhancement, in-next, in-review, linalg

#1744 Support non-conforming meshes with BlockNonlinearForm and ParBlockNonlinearForm
  CHANGELOG
  examples/ex19.cpp
  examples/ex19p.cpp
  fem/nonlinearform.cpp
  fem/nonlinearform.hpp
  fem/pnonlinearform.cpp
  fem/pnonlinearform.hpp
  general/array.hpp
  linalg/handle.cpp
  linalg/handle.hpp
Labels: amr, bug, in-next, in-review

#1803 Build cuda debug on lassen with O2 to speed up [fix/lassen-debug-ci]
  .gitlab/lassen.yml
Labels: in-next, in-review, testing

#1702 Bug - double ParBlockNonlinearForm::GetEnergy(const Vector &x)
  fem/pnonlinearform.cpp
  fem/pnonlinearform.hpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_blocknonlinearform.cpp
Labels: bug, in-next, in-review

#1724 Fix for STRUMPACK with Hypre >= 21600
  linalg/strumpack.cpp
Labels: WIP, bug, building, comment, in-next, in-review, linalg, question

#1683 Use LEGACYFULL instead of FULL in the documentation.
  fem/bilinearform.hpp
  fem/complex_fem.hpp
  fem/pbilinearform.hpp
Labels: documentation, enhancement, in-next, in-review

#1661 [Discuss] Change function coefficients to use a std::function [stdfunction-dev]
  CHANGELOG
  fem/coefficient.cpp
  fem/coefficient.hpp
Labels: API change, enhancement, in-next, in-review, usage

#1807 Configuration for the Probot Stale GitHub app
  .github/stale.yml
Labels: enhancement, github, in-next, in-review

#1792 libceed - update to v0.7
  INSTALL
Labels: in-next, in-review, minor

#1687 Wrapper for Hypre Flexible GMRES and Parallel ILU [hypre-ilu-dev]
  CHANGELOG
  linalg/hypre.cpp
  linalg/hypre.hpp
  tests/unit/CMakeLists.txt
  tests/unit/linalg/test_hypre_ilu.cpp
Labels: in-next, in-review

#1784 Interface to MKL Parallel Direct Sparse Solver for Clusters
  CHANGELOG
  CMakeLists.txt
  INSTALL
  config/cmake/config.hpp.in
  config/cmake/modules/FindMKL_CPARDISO.cmake
  config/config.hpp
  config/config.hpp.in
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  examples/ex11p.cpp
  examples/makefile
  linalg/CMakeLists.txt
  linalg/cpardiso.cpp
  linalg/cpardiso.hpp
  linalg/linalg.hpp
  makefile
Labels: enhancement, in-next, in-review, linalg

#1785 Add KINSOL JFNK interface
  CHANGELOG
  CMakeLists.txt
  examples/sundials/ex10p.cpp
  linalg/sundials.cpp
  linalg/sundials.hpp
Labels: enhancement, in-next, in-review, linalg

#1802 Fix for reusing HypreSmoother
  linalg/hypre.cpp
Labels: bug, in-next, in-review, linalg

#1787 hypre.hpp: transition to a correct spelling for SetInitialIterate()
  linalg/hypre.hpp
Labels: API change, in-next, in-review, linalg, minor

#1673 Address leaks in SlepcEigenSolver
  examples/petsc/ex11p.cpp
  linalg/slepc.cpp
Labels: bug, in-next, in-review, linalg

#1714 Enable HIP backend in libCEED
  CHANGELOG
  examples/ex1.cpp
  examples/ex1p.cpp
  fem/libceed/ceed.cpp
  fem/libceed/ceed.hpp
  general/device.cpp
  general/device.hpp
  general/error.hpp
  makefile
Labels: GPU, enhancement, in-next, in-review

#1826 Absolute value function 'abs' when argument is of floating point type [tbnlf]
  tests/unit/fem/test_blocknonlinearform.cpp
Labels: in-next, in-review, low-impact, testing

#1819 Minor fixes to amgx:ex1p, adjust amgx defaults
  examples/amgx/amg_pcg.json
  examples/amgx/ex1p.cpp
  linalg/amgxsolver.cpp
Labels: GPU, examples & miniapps, in-next, in-review, linalg, minor

#1749 Unique point matrices in `NCMesh::NCList` [nc-point-mat-index-dev]
  fem/fespace.cpp
  fem/hybridization.cpp
  fem/pfespace.cpp
  fem/pgridfunc.cpp
  mesh/mesh.cpp
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  mesh/pmesh.cpp
  mesh/pncmesh.cpp
Labels: amr, enhancement, in-next, in-review

#1719 Add tests for the libCEED integration in MFEM
  .gitignore
  CHANGELOG
  fem/CMakeLists.txt
  fem/bilinearform.cpp
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_diffusion_mf.cpp
  fem/bilininteg_diffusion_pa.cpp
  fem/bilininteg_mass_mf.cpp
  fem/bilininteg_mass_pa.cpp
  fem/bilininteg_vecdiffusion.cpp
  fem/bilininteg_vecdiffusion_mf.cpp
  fem/bilininteg_vecmass.cpp
  fem/bilininteg_vecmass_mf.cpp
  fem/fespace.cpp
  fem/libceed/ceed.cpp
  fem/libceed/ceed.hpp
  fem/libceed/diffusion.cpp
  fem/libceed/diffusion.h
  fem/libceed/diffusion.hpp
  fem/libceed/mass.cpp
  fem/libceed/mass.h
  fem/libceed/mass.hpp
  general/device.cpp
  tests/unit/CMakeLists.txt
  tests/unit/ceed/test_ceed.cpp
  tests/unit/ceed/test_ceed_main.cpp
  tests/unit/linalg/test_hypre_ilu.cpp
  tests/unit/makefile
Labels: in-next, in-review, testing

#1825 ParaView output of boundary elements and attributes
  CHANGELOG
  fem/datacollection.cpp
  fem/datacollection.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
Labels: in-next, in-review, visualization

#1837 ADIOS2 output switch material to MFEM attribute in CellData
  general/adios2stream.cpp
Labels: general, in-next, in-review, low-impact, visualization

#1847 Fix GLVis issue with subnormals Apple Clang
  fem/datacollection.cpp
  linalg/vector.cpp
  linalg/vector.hpp
Labels: bug, general, visualization
