Repository mfem/mfem, pull requests merged in 2020-11, with the labels that each got.

#1857 Update version numbers to 4.2.1 -- a new development version [new-dev-version-4.2.1]
  CHANGELOG
  CMakeLists.txt
  doc/CodeDocumentation.conf.in
  makefile
Labels: in-next, in-review, minor, releases

#1855 Upgrade from Catch v2.13.0 to v2.13.2
  CHANGELOG
  tests/unit/catch.hpp
Labels: building, in-next, in-review, testing

#1835 Scaled Jacobian plot and locations of bad elements [scaled-jacobian-plot-dev]
  CHANGELOG
  miniapps/meshing/mesh-explorer.cpp
Labels: in-next, in-review, minor, visualization

#964 Added three ESDIRK schemes [RK_solvers]
  CHANGELOG
  linalg/ode.cpp
  linalg/ode.hpp
  tests/unit/linalg/test_ode.cpp
Labels: enhancement, in-next, in-review, linalg

#1788 Interface with the distributed MUMPS solver
  CHANGELOG
  CMakeLists.txt
  INSTALL
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
  config/cmake/modules/FindMUMPS.cmake
  config/config.hpp
  config/config.hpp.in
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  config/get_mumps_version.cpp
  config/makefile
  examples/ex25p.cpp
  linalg/CMakeLists.txt
  linalg/linalg.hpp
  linalg/mumps.cpp
  linalg/mumps.hpp
  makefile
Labels: enhancement, in-next, in-review, linalg

#1805 Implementation of a filter method for Navier
  CHANGELOG
  miniapps/navier/navier_solver.cpp
  miniapps/navier/navier_solver.hpp
Labels: enhancement, examples & miniapps, in-next, in-review

#1856 Point Boundary for 1D Meshes
  mesh/mesh.cpp
  mesh/mesh.hpp
Labels: in-next, in-review, mesh

#1864 Write time and cycle to conduit data collection root file [conduitdc-time-cycle-fix]
  fem/conduitdatacollection.cpp
Labels: bug, general, in-next, in-review

#1828 Cygwin fixes
  config/config.hpp
  fem/bilininteg_vecmass.cpp
  fem/coefficient.cpp
  fem/coefficient.hpp
  fem/lininteg.cpp
  general/text.hpp
  linalg/kernels.hpp
  linalg/vector.hpp
  tests/unit/linalg/test_matrix_block.cpp
  tests/unit/miniapps/test_sedov.cpp
Labels: Windows, building, in-next, in-review

#1804 DG Jump Error Scaling
  fem/convergence.cpp
  fem/convergence.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/pgridfunc.cpp
  fem/pgridfunc.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  tests/convergence/prates.cpp
  tests/convergence/rates.cpp
Labels: fem, in-next, in-review, minor

#1878 Add a deterministic way of computing the dot product with OpenMP
  linalg/vector.cpp
Labels: in-next, in-review, linalg, testing

#1872 Implementing a missed c'tor in CrossCrossCoefficient [cross-cross-dev]
  fem/bilininteg.hpp
  fem/coefficient.cpp
Labels: fem, in-next, in-review, low-impact, minor

#1862 Fix for newer versions of Umpire [new-umpire-fix]
  general/mem_manager.cpp
Labels: GPU, bug, in-next, in-review

#1873 Quadrature function size fix
  fem/gridfunc.cpp
  fem/gridfunc.hpp
Labels: fem, in-next, in-review, minor

#1888 Fixing wedge elements in Mesh::PrintVTK and beam-wedge.vtk [vtk-wedge-fix]
  data/beam-wedge.vtk
  mesh/mesh.cpp
  mesh/vtk.cpp
  mesh/vtk.hpp
Labels: in-next, in-review, low-impact, mesh, minor

#1892 Update secondordertimedep operator comment
  linalg/operator.hpp
Labels: documentation, in-next, in-review, linalg, minor

#1876 Add field-interp to CMake builds.
  miniapps/gslib/CMakeLists.txt
Labels: building, examples & miniapps, in-next, in-review, minor

#1861 Updated mesh quality metrics for TMOP-based mesh optimization
  CHANGELOG
  fem/tmop.cpp
  fem/tmop.hpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/mesh-optimizer.hpp
  miniapps/meshing/pmesh-optimizer.cpp
Labels: in-next, in-review, mesh

#1848 Variable time step algorithm for Navier
  .gitignore
  CHANGELOG
  miniapps/navier/CMakeLists.txt
  miniapps/navier/makefile
  miniapps/navier/navier_kovasznay_vs.cpp
  miniapps/navier/navier_solver.cpp
  miniapps/navier/navier_solver.hpp
Labels: enhancement, examples & miniapps, in-next, in-review, linalg, low-impact

#1854 Derefinement for Bernstein basis
  fem/fe.cpp
  fem/fe.hpp
  tests/unit/fem/test_derefine.cpp
Labels: amr, fem, in-next, in-review

#1877 No-PA device runs fixes
  examples/ex3p.cpp
  linalg/hypre.cpp
  linalg/sparsemat.cpp
Labels: bug, examples & miniapps, in-next, in-review, linalg
