Repository mfem/mfem, pull requests merged in 2021-04, with the labels that each got.

#2151 Fix: New commit in mfem-uberenv that point to working commit in spack
  tests/gitlab/get_mfem_uberenv
Labels: bug, high-priority, in-next, in-review, testing

#2127 Fix backward compatibility with v1.1 mesh format [mesh-v1.1-compat-fix]
  mesh/mesh.cpp
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  mesh/pncmesh.cpp
  mesh/pncmesh.hpp
Labels: amr, bug, in-next, in-review, mesh, visualization

#942 Add very minimal MFEM example [example0]
  .gitignore
  CHANGELOG
  config/sample-runs.sh
  doc/CodeDocumentation.dox
  examples/CMakeLists.txt
  examples/ex0.cpp
  examples/ex0p.cpp
  examples/ex1p.cpp
  examples/makefile
  fem/fespace.cpp
  fem/fespace.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/pgridfunc.cpp
  fem/pgridfunc.hpp
  general/optparser.cpp
  general/optparser.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
Labels: examples & miniapps, in-next, in-review

#1462 Overlapping grids with MFEM
  CHANGELOG
  INSTALL
  fem/gslib.cpp
  fem/gslib.hpp
  fem/pbilinearform.cpp
  fem/pbilinearform.hpp
  miniapps/gslib/CMakeLists.txt
  miniapps/gslib/makefile
  miniapps/gslib/schwarz_ex1.cpp
  miniapps/gslib/schwarz_ex1p.cpp
  miniapps/navier/CMakeLists.txt
  miniapps/navier/fluid-cht.mesh
  miniapps/navier/makefile
  miniapps/navier/navier_cht.cpp
  miniapps/navier/navier_solver.cpp
  miniapps/navier/ortho_solver.cpp
  miniapps/navier/ortho_solver.hpp
  miniapps/navier/solid-cht.mesh
Labels: enhancement, examples & miniapps, fem, in-next, in-review

#2142 libceed - update libCEED headers and version
  INSTALL
  fem/ceed/solvers-atpmg.cpp
  fem/ceed/util.hpp
Labels: building, fem, in-next, in-review

#1731 Extended interface for PANonlinearFormExtention and its gradient [tmopt-split-api]
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/bilininteg_convection_mf.cpp
  fem/ceed/algebraic.cpp
  fem/ceed/algebraic.hpp
  fem/ceed/full-assembly.cpp
  fem/ceed/full-assembly.hpp
  fem/ceed/solvers-atpmg.cpp
  fem/ceed/solvers-atpmg.hpp
  fem/nonlinearform.cpp
  fem/nonlinearform.hpp
  fem/nonlinearform_ext.cpp
  fem/nonlinearform_ext.hpp
  fem/nonlininteg.cpp
  fem/nonlininteg.hpp
  fem/nonlininteg_vectorconvection_mf.cpp
  fem/pbilinearform.cpp
  fem/pbilinearform.hpp
  fem/pnonlinearform.cpp
  linalg/hypre.hpp
  linalg/matrix.hpp
  linalg/operator.cpp
  linalg/operator.hpp
  linalg/solvers.cpp
  linalg/solvers.hpp
  tests/unit/fem/test_sparse_matrix.cpp
  tests/unit/fem/test_var_order.cpp
  tests/unit/mesh/test_pmesh.cpp
Labels: GPU, fem, high-priority, in-next, in-review

#2147 Bug fix: memory leak in HypreParMatrix * Add(), ParAdd()
  linalg/hypre.cpp
Labels: bug, in-next, in-review, minor

#2087 Add option to skip all zeros in SparseMatrix
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
Labels: in-next, in-review, linalg, minor

#2153 Flipping negative dofs in BuildDofToArrays [bugfix/build-dof-to-arrays]
  fem/fespace.cpp
  tests/unit/fem/test_build_dof_to_arrays.cpp
Labels: bug, fem, in-next, in-review, minor

#2107 Fix reading XML VTK meshes with zlib enabled [vtk-xml-fix]
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/mesh_readers.cpp
Labels: bug, in-next, in-review, mesh, minor

#2162 Fixes a bug in pumi.cpp mentioned in #2161 [bugfix/pumi-dev]
  mesh/pumi.cpp
Labels: bug, in-next, in-review

#2114 Allow amgx solver to be used with Hypre BigInt
  general/array.cpp
  linalg/amgxsolver.cpp
  tests/unit/linalg/test_constrainedsolver.cpp
Labels: building, in-next, in-review, linalg

#2146 Use shared actions
  .github/actions/build-mfem/action.yml
  .github/actions/install-hypre/action.yml
  .github/actions/install-metis/action.yml
  .github/actions/upload-coverage/action.yml
  .github/workflows/builds-and-tests.yml
  .github/workflows/mfem-analysis.yml
  .github/workflows/repo-check.yml
Labels: in-next, in-review, testing

#2148 Fix a few issues in DeviceConformingProlongationOperator
  fem/pfespace.cpp
Labels: GPU, bug, fem, in-next, in-review

#2150 Read VTK XML binary data [vtk-read-binary]
  general/binaryio.cpp
  general/binaryio.hpp
  general/tinyxml2.cpp
  general/tinyxml2.h
  mesh/mesh.cpp
  mesh/mesh_readers.cpp
  tests/unit/CMakeLists.txt
  tests/unit/data/quad_append_b64.vtu
  tests/unit/data/quad_append_b64_compress.vtu
  tests/unit/data/quad_append_raw.vtu
  tests/unit/data/quad_append_raw_compress.vtu
  tests/unit/data/quad_ascii.vtu
  tests/unit/data/quad_binary.vtu
  tests/unit/data/quad_binary_compress.vtu
  tests/unit/mesh/test_vtu.cpp
Labels: enhancement, in-next, in-review, mesh

#2165 Fix bug in DenseTensor::Swap [tensor-swap-bugfix]
  linalg/densemat.cpp
  linalg/densemat.hpp
Labels: bug, in-next, in-review, linalg, minor

#2166 Use "set up homebrew" action to update homebrew
  .github/workflows/builds-and-tests.yml
Labels: in-next, in-review, minor, testing

#2129 Change sample runs in ex6p [ex6p-runs2-dev]
  examples/ex6p.cpp
Labels: amr, in-next, in-review, minor

#1866 Small improvements in CEED unit tests [ceed-tests-update]
  makefile
  miniapps/shifted/makefile
  tests/unit/ceed/test_ceed.cpp
  tests/unit/ceed/test_ceed_main.cpp
  tests/unit/makefile
Labels: GPU, in-next, in-review, testing

#2149 Grid transfer for dual fields [transfer-dual-field]
  CHANGELOG
  fem/fespace.cpp
  fem/fespace.hpp
  fem/transfer.cpp
  fem/transfer.hpp
  miniapps/tools/lor-transfer.cpp
Labels: enhancement, fem, high-priority, in-next, in-review

#2104 Caliper
  CHANGELOG
  CMakeLists.txt
  CONTRIBUTING.md
  INSTALL
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
  config/cmake/modules/FindCaliper.cmake
  config/config.hpp.in
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  doc/CodeDocumentation.conf.in
  doc/CodeDocumentation.dox
  examples/CMakeLists.txt
  examples/caliper/CMakeLists.txt
  examples/caliper/ex1.cpp
  examples/caliper/ex1p.cpp
  examples/caliper/makefile
  examples/makefile
  general/CMakeLists.txt
  general/annotation.hpp
  linalg/solvers.cpp
  makefile
  mfem.hpp
Labels: enhancement, examples & miniapps, in-next, in-review

#2179 Copy Nodes GridFunction in trimmer mini app [trimmer-nodes-dev]
  miniapps/meshing/trimmer.cpp
Labels: enhancement, examples & miniapps, in-next, in-review

#2156 Fix error handling with AmgX
  linalg/amgxsolver.cpp
Labels: GPU, in-next, in-review

#2191 Fix for #2144
  fem/nonlinearform.cpp
Labels: bug, fem, in-next, in-review

#2137 DiffusionIntegrator using MatrixCoefficient on 2D surface in 3D mesh (removed wrong commit...)
  .gitignore
  doc/CodeDocumentation.dox
  examples/CMakeLists.txt
  examples/ex29.cpp
  examples/ex29p.cpp
  examples/makefile
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  tests/unit/fem/test_surf_blf.cpp
Labels: fem, in-next, in-review, low-impact

#2202 Fixing a bug introduced in the merge of PR 2137
  examples/ex29.cpp
  examples/ex29p.cpp
Labels: bug, examples & miniapps, high-priority, in-next, in-review

#2207 Fix a bug in Mesh::GeneratePartitioning
  mesh/mesh.cpp
Labels: bug, in-next, in-review, mesh

#2141 CMake fixes for mfem-cmake
  CMakeLists.txt
  config/cmake/modules/FindAMGX.cmake
  config/cmake/modules/FindNetCDF.cmake
  config/defaults.cmake
Labels: building, in-next, in-review

#2186 Testing/bernede1/codecov
  .codecov.yml
  .github/workflows/builds-and-tests.yml
Labels: in-next, in-review, testing
