Repository mfem/mfem, pull requests merged in 2021-07, with the labels that each got.

#2372 Make ND_SegmentElement inherit from VectorTensorFiniteElement [nd-segment-tensor]
  fem/fe.cpp
  fem/fe.hpp
Labels: fem, in-next, in-review, minor

#2074 Bugfix - CoarseToFineMap currently fails for derefinement transform
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  mesh/pncmesh.hpp
Labels: bug, in-next, in-review, mesh

#2370 Changing OperatorChebyshevSmoother to pass-by-reference [op-by-ref-dev]
  examples/ex26.cpp
  examples/ex26p.cpp
  fem/ceed/algebraic.cpp
  linalg/solvers.cpp
  linalg/solvers.hpp
  tests/unit/linalg/test_chebyshev.cpp
Labels: in-next, in-review, linalg, minor

#2396 Bug in the assembly for BlockNonlinearForm
  fem/nonlinearform.cpp
Labels: bug, fem, in-next, in-review

#2394 Fix print in the shifted diffusion miniapp
  miniapps/shifted/diffusion.cpp
Labels: examples & miniapps, in-next, in-review, minor

#2375 Bug fix in ParLinearForm and changing integrator names
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/linearform.cpp
  fem/linearform.hpp
  fem/pbilinearform.cpp
  fem/plinearform.cpp
Labels: bug, in-next, in-review

#2403 DerivativeIntegrator for 1D embedded geometry
  fem/bilininteg.cpp
Labels: fem, in-next, in-review, low-impact

#2392 GitLab CI using mfem/data [mfem-data-unit-tests]
  .gitlab-ci.yml
  .gitlab/lassen.yml
  .gitlab/quartz.yml
  general/binaryio.cpp
  general/binaryio.hpp
  mesh/mesh_readers.cpp
  tests/gitlab/build_and_test
  tests/unit/cunit_test_main.cpp
  tests/unit/makefile
  tests/unit/mesh/test_vtu.cpp
  tests/unit/pcunit_test_main.cpp
  tests/unit/punit_test_main.cpp
  tests/unit/run_unit_tests.hpp
  tests/unit/unit_test_main.cpp
  tests/unit/unit_tests.hpp
Labels: in-next, in-review, mesh, testing

#2397 Remove Travis [testing/bernede1/disable-travis]
  .travis.yml
  CHANGELOG
  CONTRIBUTING.md
Labels: github, in-next, in-review, testing

#2414 Add Github Actions Badges to contributing. [doc/bernede1/workflow-badge]
  CONTRIBUTING.md
Labels: documentation, in-next, in-review, minor

#2069 Add a CI test for Hypre Big Int [testing/bernede1/hypre-bigint]
  .github/workflows/builds-and-tests.yml
  .github/workflows/mfem-analysis.yml
  miniapps/solvers/div_free_solver.cpp
Labels: building, in-next, in-review, testing

#1646 Fix an issue with dangling aliases in the memory manager [mem-dangling-aliases-fix]
  general/mem_manager.cpp
  general/mem_manager.hpp
  linalg/blockoperator.cpp
  linalg/complex_operator.cpp
  tests/mem_manager/dangling-aliases.cpp
  tests/mem_manager/makefile
Labels: bug, general, in-next, in-review

#2203 Tweak FormLinearSystem methods
  .gitignore
  fem/bilinearform.cpp
  fem/gridfunc.cpp
  fem/linearform.cpp
  fem/pnonlinearform.cpp
  general/array.hpp
  general/error.cpp
  general/mem_manager.cpp
  general/mem_manager.hpp
  linalg/blockvector.cpp
  linalg/operator.cpp
  linalg/vector.hpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_bilinearform.cpp
  tests/unit/fem/test_blocknonlinearform.cpp
  tests/unit/general/test_mem.cpp
  tests/unit/makefile
  tests/unit/miniapps/test_debug_device.cpp
  tests/unit/miniapps/test_sedov.cpp
Labels: GPU, bug, in-next, in-review

#2420 Properly delete factorization of SuperLURowLocMatrix
  examples/superlu/ex1p.cpp
  linalg/superlu.cpp
  linalg/superlu.hpp
Labels: bug, in-next, in-review, linalg

#2418 Fix gslib struct declaration
  fem/gslib.cpp
  fem/gslib.hpp
  miniapps/gslib/schwarz_ex1p.cpp
Labels: bug, fem, in-next, in-review

#2427 Fix: scheduling gitlab [fix/scheduling-gitlab]
  .gitlab-ci.yml
  .gitlab/lassen.yml
  .gitlab/quartz.yml
Labels: in-next, in-review, testing

#1492 Support for HYPRE built with CUDA [hypre-cuda-dev]
  .gitignore
  CHANGELOG
  INSTALL
  config/defaults.cmake
  config/defaults.mk
  config/test.mk
  examples/CMakeLists.txt
  examples/ex13p.cpp
  examples/ex19p.cpp
  examples/ex1p.cpp
  examples/ex28p.cpp
  examples/ex2p.cpp
  examples/ex3p.cpp
  examples/ex5.cpp
  examples/ex7p.cpp
  examples/makefile
  fem/complex_fem.cpp
  fem/fe.cpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/nonlinearform.cpp
  fem/pbilinearform.cpp
  fem/pfespace.cpp
  fem/pnonlinearform.cpp
  fem/restriction.cpp
  general/mem_manager.cpp
  general/mem_manager.hpp
  linalg/blockoperator.hpp
  linalg/blockvector.cpp
  linalg/blockvector.hpp
  linalg/complex_operator.cpp
  linalg/hypre.cpp
  linalg/hypre.hpp
  linalg/hypre_parcsr.cpp
  linalg/hypre_parcsr.hpp
  linalg/solvers.cpp
  linalg/vector.cpp
  linalg/vector.hpp
  makefile
  mesh/mesh.cpp
  miniapps/mtop/paramnonlinearform.cpp
  miniapps/mtop/parheat.cpp
  miniapps/mtop/pparamnonlinearform.cpp
  miniapps/navier/navier_tgv.cpp
  miniapps/navier/ortho_solver.cpp
  miniapps/shifted/diffusion.cpp
  miniapps/shifted/makefile
  miniapps/shifted/sbm_aux.hpp
  miniapps/solvers/makefile
  tests/unit/linalg/test_constrainedsolver.cpp
  tests/unit/linalg/test_hypre_ilu.cpp
  tests/unit/linalg/test_matrix_hypre.cpp
  tests/unit/linalg/test_matrix_rectangular.cpp
  tests/unit/mesh/test_vtu.cpp
  tests/unit/miniapps/test_sedov.cpp
  tests/unit/miniapps/test_tmop_pa.cpp
Labels: GPU, enhancement, high-impact, high-priority, hpc, in-next, in-review, linalg

#2344 Autotest improvements [testing/bernede1/autotest-improved]
  .gitlab/quartz.yml
Labels: in-next, in-review, testing

#1709 Add support for FMS in memory conversion and I/O via data collections.
  CHANGELOG
  CMakeLists.txt
  INSTALL
  config/XSDKDefaults.cmake
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
  config/cmake/modules/FindFMS.cmake
  config/config.hpp.in
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  data/star-q3.fms
  fem/CMakeLists.txt
  fem/fem.hpp
  fem/fmsconvert.cpp
  fem/fmsconvert.hpp
  fem/fmsdatacollection.cpp
  fem/fmsdatacollection.hpp
  makefile
  miniapps/tools/convert-dc.cpp
  tests/unit/CMakeLists.txt
  tests/unit/mesh/test_fms.cpp
Labels: enhancement, general, high-priority, in-next, in-review, visualization

#2189 Final changes for mfem-4.3
  CHANGELOG
  CMakeLists.txt
  CONTRIBUTING.md
  INSTALL
  config/defaults.cmake
  doc/CodeDocumentation.conf.in
  examples/CMakeLists.txt
  examples/caliper/README
  fem/bilininteg.hpp
  fem/eltrans.hpp
  fem/fe.hpp
  fem/nonlininteg.hpp
  fem/pfespace.hpp
  general/mem_manager.cpp
  linalg/hypre.cpp
  linalg/hypre_parcsr.cpp
  makefile
  mesh/mesh.cpp
  mesh/mesh.hpp
  miniapps/meshing/polar-nc.cpp
  miniapps/navier/navier_cht.cpp
  miniapps/navier/navier_solver.cpp
  miniapps/solvers/makefile
  tests/gitlab/generate_spack_upstream
  tests/unit/fem/test_datacollection.cpp
  tests/unit/fem/test_derefine.cpp
  tests/unit/fem/test_intrules.cpp
  tests/unit/fem/test_intruletypes.cpp
  tests/unit/fem/test_quadraturefunc.cpp
  tests/unit/fem/test_var_order.cpp
  tests/unit/linalg/test_direct_solvers.cpp
  tests/unit/linalg/test_matrix_block.cpp
  tests/unit/miniapps/test_tmop_pa.cpp
Labels: in-next, in-review, releases

#2437 Update version numbers to 4.3.1 -- a new development version
  CHANGELOG
  CMakeLists.txt
  doc/CodeDocumentation.conf.in
  makefile
Labels: in-next, in-review, releases
