Repository mfem/mfem, pull requests merged in 2021-01, with the labels that each got.

#1955 Document GridFunction::ProjectCoefficient and FiniteElement::Project.
  fem/fe.hpp
  fem/gridfunc.hpp
Labels: documentation, fem, in-next, in-review

#1977 Setting the size of the output vector in MatrixVectorProductCoefficient [bugfix/matvec-coef-dev]
  fem/coefficient.cpp
Labels: bug, fem, in-next, in-review, low-impact, minor

#1950 Fix the shared installation with CUDA and TPL link flags with CUDA
  config/defaults.mk
  makefile
Labels: GPU, bug, building, in-next, in-review

#1818 Adaptive linear rtol for NewtonSolver
  CHANGELOG
  examples/ex10p.cpp
  linalg/solvers.cpp
  linalg/solvers.hpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-optimizer.cpp
Labels: in-next, in-review, linalg, low-impact

#1931 Broadening support for linear interpolators [test-lin-interp-dev]
  CHANGELOG
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/fe.cpp
  fem/fe.hpp
  fem/gridfunc.cpp
  tests/unit/fem/test_lin_interp.cpp
Labels: fem, in-next, in-review, low-impact, testing

#1901 Add documentation for outflow boundary condition in DGTraceIntegrator
  fem/bilininteg.hpp
Labels: documentation, fem, in-next, in-review, low-impact

#1879 Action of HypreSmoother::MultTranspose
  linalg/hypre.cpp
  linalg/hypre.hpp
Labels: in-next, in-review, linalg, low-impact

#1761 PA for GradientInterpolator and IdentityInterpolator
  CHANGELOG
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_gradient.cpp
  fem/bilininteg_hcurl.cpp
  fem/fespace.cpp
  fem/fespace.hpp
  fem/pbilinearform.cpp
  fem/pbilinearform.hpp
  fem/pfespace.cpp
  fem/pfespace.hpp
  fem/restriction.cpp
  fem/restriction.hpp
  linalg/operator.hpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_pa_grad.cpp
  tests/unit/fem/test_pa_idinterp.cpp
Labels: GPU, in-next, in-review

#1965 PA and DG for SumIntegrator and add NonconservativeDGTraceIntegrator [sum-integ-pa]
  examples/ex9.cpp
  examples/ex9p.cpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_diffusion_pa.cpp
  fem/bilininteg_mass_pa.cpp
  fem/lininteg.hpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_sum_bilin.cpp
Labels: fem, in-next, in-review, minor

#1053 [SQUASH-MERGE] AIR solver in Hypre
  CHANGELOG
  examples/ex9p.cpp
  linalg/hypre.cpp
  linalg/hypre.hpp
Labels: examples & miniapps, in-next, in-review, linalg, low-impact

#1940 Add wrapper for FormRectangular functions [wrapper-bform-dev]
  fem/bilinearform.hpp
  fem/pbilinearform.hpp
Labels: enhancement, help wanted, in-next, in-review, minor

#975 Mesh reader support for VTK high order elements [feature/vtk_high_order]
  CHANGELOG
  NOTICE
  doc/CodeDocumentation.conf.in
  fem/fe.cpp
  fem/fe.hpp
  fem/fe_coll.cpp
  fem/geom.cpp
  general/CMakeLists.txt
  general/tinyxml2.cpp
  general/tinyxml2.h
  makefile
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/mesh_readers.cpp
  mesh/vtk.cpp
  mesh/vtk.hpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_lexicographic_ordering.cpp
Labels: enhancement, in-next, in-review, mesh

#1727 Support for VectorCoefficient and MatrixCoefficient with VectorDiffusionIntegrator [wcdawn/nonscalar-VectorDiffusionCoeficient]
  CHANGELOG
  fem/bilininteg.cpp
  fem/bilininteg.hpp
Labels: fem, in-next, in-review

#2010 CuSparseClear for clearing CuSparse Descriptors
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
Labels: GPU, in-next, in-review, linalg, minor

#1906 Add AMD HIP support to CMake build system
  CHANGELOG
  CMakeLists.txt
  config/cmake/config.hpp.in
  config/cmake/modules/FindHIP.cmake
  config/cmake/modules/FindHIP/run_hipcc.cmake
  config/cmake/modules/FindHIP/run_make2cmake.cmake
  config/cmake/modules/MfemCmakeUtilities.cmake
  config/defaults.cmake
  general/CMakeLists.txt
  miniapps/common/CMakeLists.txt
  tests/unit/CMakeLists.txt
Labels: GPU, building, in-next, in-review
