Repository mfem/mfem, pull requests merged in 2021-10, with the labels that each got.

#2558 Testing/bernede1/gitlab revamping
  .gitlab-ci.yml
  .gitlab/README.md
  .gitlab/configs/common.yml
  .gitlab/configs/corona-config.yml
  .gitlab/configs/lassen-config.yml
  .gitlab/configs/quartz-config.yml
  .gitlab/configs/setup-baseline.yml
  .gitlab/configs/setup-build-and-test.yml
  .gitlab/corona-build-and-test.yml
  .gitlab/corona.yml
  .gitlab/lassen-build-and-test.yml
  .gitlab/quartz-baseline.yml
  .gitlab/quartz-build-and-test.yml
  .gitlab/quartz.yml
  .gitlab/scripts/baseline
  .gitlab/scripts/rebaseline
  .gitlab/scripts/report_build_and_test_failure
  .gitlab/scripts/report_build_and_test_success
  .gitlab/scripts/safe_create_rundir
  CONTRIBUTING.md
  tests/gitlab/README.md
Labels: enhancement, in-next, testing, in-review

#2598 Fix bug in CEED integration
  fem/ceed/util.cpp
  tests/unit/ceed/test_ceed.cpp
Labels: bug, fem, in-next, in-review

#2507 Proposed fix for GetCoarseFineMap() for Derefinement in parallel
  fem/fespace.cpp
  fem/tmop_amr.cpp
  mesh/mesh.cpp
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  mesh/pmesh.cpp
  tests/unit/fem/test_derefine.cpp
Labels: bug, in-next, amr, in-review, high-priority
