Repository mfem/mfem, pull requests merged in 2021-02, with the labels that each got.

#2009 Add winsock initialization to socketstream
  general/socketstream.cpp
Labels: Windows, bug, in-next, in-review

#1392 ParNCMesh I/O and new NC mesh format [par-ncmesh-saving-dev]
  .gitignore
  CHANGELOG
  data/amr-hex.mesh
  data/amr-quad.mesh
  data/beam-quad-amr.mesh
  data/fichera-amr.mesh
  examples/ex6p.cpp
  examples/makefile
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/pfespace.cpp
  general/hash.hpp
  linalg/hypre.cpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/mesh_readers.cpp
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  mesh/ncmesh_tables.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  mesh/pncmesh.cpp
  mesh/pncmesh.hpp
  miniapps/electromagnetics/cylinder-hex.mesh
  miniapps/electromagnetics/cylinder-tet.mesh
  miniapps/meshing/amr-quad-q2.mesh
  miniapps/meshing/polar-nc.cpp
Labels: amr, enhancement, examples & miniapps, in-next, in-review

#1732 Add a function to Get the fully-assembled operator in a single SparseMatrix
  fem/bilinearform.hpp
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  fem/fe_coll.cpp
  fem/pbilinearform.cpp
  fem/pbilinearform.hpp
  fem/prestriction.cpp
  fem/prestriction.hpp
  fem/restriction.cpp
  fem/restriction.hpp
  mesh/mesh.cpp
  mesh/pmesh.cpp
  tests/unit/fem/test_sparse_matrix.cpp
Labels: enhancement, in-next, in-review

#1929 Bugfix proposal for issue #1928
  mesh/mesh_readers.cpp
Labels: bug, in-next, in-review, mesh

#1938 Fix issue #1937
  mesh/mesh_readers.cpp
Labels: bug, in-next, in-review, mesh

#1882 ParMesh global indices
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  tests/unit/CMakeLists.txt
  tests/unit/mesh/test_pmesh.cpp
Labels: in-next, in-review, low-impact, mesh

#2012 Fix Intel compiler warnings
  fem/bilininteg.cpp
  general/forall.hpp
Labels: building, in-next, in-review, minor

#2037 Add action to check copyright [ci/bernede1/copyright-2021]
  .github/workflows/repo-check.yml
Labels: documentation, github, in-next, in-review

#2015 Fix usage of HYPRE_Int in hypre.hpp/hypre.cpp [robertchiodi/bugfix/air_hypre_int]
  linalg/hypre.cpp
  linalg/hypre.hpp
Labels: hpc, in-next, in-review, linalg, minor

#1983 Add convective and skew-symmetric integrator for Navier-Stoke equations [NSE-nonlinear-update]
  CHANGELOG
  fem/nonlininteg.cpp
  fem/nonlininteg.hpp
Labels: enhancement, in-next, in-review, low-impact

#1981 Add checks for invalid higher dimensional branching [face-check-dev]
  mesh/mesh.cpp
Labels: in-next, in-review, mesh, minor, testing

#1538 Divergence-free solver [chak/div-free-solver]
  .gitignore
  CHANGELOG
  CONTRIBUTING.md
  linalg/hypre.cpp
  linalg/hypre.hpp
  linalg/solvers.cpp
  linalg/solvers.hpp
  makefile
  miniapps/CMakeLists.txt
  miniapps/solvers/CMakeLists.txt
  miniapps/solvers/README
  miniapps/solvers/anisotropic.bdr
  miniapps/solvers/anisotropic.coeff
  miniapps/solvers/anisotropic.mesh
  miniapps/solvers/block-solvers.cpp
  miniapps/solvers/div_free_solver.cpp
  miniapps/solvers/div_free_solver.hpp
  miniapps/solvers/makefile
Labels: examples & miniapps, in-next, in-review

#2034 List initialization for Array/Vector/DenseMatrix
  general/array.hpp
  linalg/densemat.hpp
  linalg/vector.hpp
  tests/unit/CMakeLists.txt
  tests/unit/general/test_array.cpp
  tests/unit/linalg/test_matrix_dense.cpp
  tests/unit/linalg/test_vector.cpp
Labels: enhancement, general, in-next, in-review, linalg, minor

#1832 Gitlab CI: install dependencies with Spack instead of TPLS repo [feature/testing-with-spack]
  .gitlab-ci.yml
  .gitlab/quartz.yml
  CHANGELOG
  CONTRIBUTING.md
  tests/gitlab/README
  tests/gitlab/build_and_test
  tests/gitlab/generate_spack_upstream
  tests/gitlab/get_mfem_uberenv
Labels: in-next, in-review, testing

#2014 LOR for all element types [lor-all-elements]
  CHANGELOG
  fem/fe.cpp
  fem/fespace.cpp
  fem/fespace.hpp
  mesh/mesh.cpp
  miniapps/tools/lor-transfer.cpp
Labels: enhancement, in-next, in-review, mesh

#1967 Hide SLEPc's 'EPS' type in a namespace
  linalg/petsc.cpp
  linalg/petsc.hpp
  linalg/slepc.hpp
Labels: bug, building, in-next, in-review

#2046 Small bug fix: computation of H1/Hdiv/Hcurl for ParGridFunction
  fem/gridfunc.cpp
Labels: bug, in-next, in-review, minor

#2048 More informative Gmsh error message [gmsh-err-dev]
  mesh/mesh_readers.cpp
Labels: in-next, in-review, low-impact, mesh, minor, usage

#2051 Update the CUDA version requirement
  INSTALL
Labels: GPU, documentation, in-next, in-review

#2018 Proposed updates for PR #1731
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/nonlinearform.cpp
  fem/nonlinearform.hpp
  fem/nonlinearform_ext.cpp
  fem/nonlinearform_ext.hpp
  fem/nonlininteg.cpp
  fem/nonlininteg.hpp
  fem/pbilinearform.cpp
  fem/pbilinearform.hpp
  fem/pnonlinearform.cpp
  linalg/hypre.hpp
  linalg/operator.cpp
  linalg/operator.hpp
  linalg/solvers.cpp
  linalg/solvers.hpp
Labels: TMOP

#2049 Change int to PetscInt to support 64-bit indices in SLEPc
  linalg/slepc.cpp
Labels: bug, in-next, in-review, linalg

#2052 Some fixes related to field-diff.
  fem/gslib.cpp
  miniapps/gslib/field-diff.cpp
Labels: bug, examples & miniapps, in-next, in-review

#1936 segfault in CheckElementOrientation method
  mesh/mesh.cpp
  mesh/mesh.hpp
Labels: bug, in-next, in-review

#2047 Fixes for AmgX solver class memory leaks
  linalg/amgxsolver.cpp
Labels: GPU, in-next, in-review, linalg, minor

#2053 Adjust RAJA teams to be asynchronous
  general/forall.hpp
Labels: GPU, in-next, in-review

#1935 Blockmatrix fix
  examples/ex5.cpp
  examples/ex5p.cpp
  linalg/blockmatrix.cpp
Labels: bug, in-next, in-review, linalg

#2031 Allow first SparseMatrix to not use CUDA
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
Labels: GPU, in-next, in-review, minor
