Repository mfem/mfem, pull requests merged in 2021-09, with the labels that each got.

#2489 Allow reading Gmsh meshes where all elements have attribute zero [gmsh-zero-attributes]
  CHANGELOG
  mesh/mesh_readers.cpp
Labels: enhancement, minor, mesh, in-next, in-review

#2501 fixed MatrixArrayCoefficient::Eval bug
  fem/coefficient.cpp
Labels: bug, minor, fem, in-next, in-review

#2497 Fix MinGW compilation errors
  CHANGELOG
  CMakeLists.txt
  fem/datacollection.cpp
  general/isockstream.cpp
  general/socketstream.cpp
  tests/unit/fem/test_datacollection.cpp
  tests/unit/fem/test_inversetransform.cpp
Labels: in-next, in-review

#2475 atomicAdd for previous versions of CUDA [atmcadd]
  CHANGELOG
  general/backends.hpp
Labels: enhancement, building, in-next, GPU, in-review

#2446 Feature: Jacobi2/3 device
  linalg/sparsemat.cpp
Labels: enhancement, linalg, in-next, GPU, in-review

#2509 Removing unnecessary mass matrix from example 27 [ex27-oversight-dev]
  examples/ex27.cpp
  examples/ex27p.cpp
Labels: minor, examples & miniapps, in-next, low-impact, in-review

#2522 Remove redundant outer loop in GetValues()
  fem/gridfunc.cpp
Labels: bug, in-next, in-review

#2506 Bernede1/astyle 3.1
  .github/workflows/repo-check.yml
  CHANGELOG
  CONTRIBUTING.md
  config/githooks/pre-push
  examples/ex25.cpp
  examples/ex25p.cpp
  fem/bilininteg_diffusion_pa.cpp
  fem/bilininteg_hcurl.cpp
  fem/ceed/solvers-atpmg.cpp
  fem/fe.cpp
  fem/intrules.cpp
  fem/restriction.cpp
  fem/tmop_amr.cpp
  linalg/sundials.cpp
  makefile
  mesh/mesh.cpp
  mesh/ncmesh.cpp
  miniapps/shifted/dist_solver.cpp
  tests/scripts/code-style
  tests/unit/fem/test_doftrans.cpp
  tests/unit/miniapps/test_sedov.cpp
Labels: minor, in-next, documentation, in-review

#2428 Add corona to Gitlab CI, CI hardening, and documentation
  .gitlab-ci.yml
  .gitlab/corona.yml
  .gitlab/quartz.yml
  tests/gitlab/README.md
  tests/gitlab/build_and_test
  tests/gitlab/generate_spack_upstream
  tests/gitlab/get_mfem_uberenv
  tests/gitlab/reproduce-ci-jobs-interactively.md
Labels: building, in-next, testing, in-review

#2530 Update documentation comments for `Mesh::FaceInfo`
  mesh/mesh.cpp
  mesh/mesh.hpp
Labels: mesh, in-next, documentation, in-review

#2472 Adding missing variables when MFEM_THREAD_SAFE is ON [bugfix/thread-safe-dev]
  fem/bilininteg.cpp
  fem/fe.cpp
Labels: bug, minor, fem, in-next, low-impact, in-review

#2517 Fixing HiOp int types
  INSTALL
  linalg/hiop.cpp
  linalg/hiop.hpp
Labels: bug, building, in-next, in-review

#2526 Add a check to prevent bad parallel results on Nedelec NC tets of order >= 2 [nedelec-nc-tet-warning]
  fem/pfespace.cpp
Labels: bug, fem, in-next, in-review

#2520 Fix ProjectBdrCoefficientTangent
  fem/gridfunc.cpp
  tests/unit/fem/test_project_bdr.cpp
Labels: bug, fem, in-next, in-review

#2518 Archive flags update [arflags]
  CHANGELOG
  config/defaults.mk
Labels: bug, enhancement, building, in-next, in-review

#2477 Binder (Jupyter Notebook) Example w/ GLVis
  .binder/environment.yml
  .binder/postBuild
  .binder/update_kernel_env.py
  .gitignore
  CHANGELOG
  CONTRIBUTING.md
  examples/jupyter/README.md
  examples/jupyter/ex.ipynb
Labels: enhancement, in-next, in-review, python

#2553 Use hypre_IntArray
  .gitignore
  linalg/hypre.cpp
Labels: bug, linalg, in-next, releases, in-review

#2424 ParELAG miniapps: AMGe for H(curl) and H(div) [parelag-miniapps-dev]
  .gitignore
  CHANGELOG
  CMakeLists.txt
  CONTRIBUTING.md
  INSTALL
  config/XSDKDefaults.cmake
  config/cmake/MFEMConfig.cmake.in
  config/cmake/modules/FindPARELAG.cmake
  config/cmake/modules/MfemCmakeUtilities.cmake
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  doc/CodeDocumentation.conf.in
  makefile
  miniapps/CMakeLists.txt
  miniapps/parelag/CMakeLists.txt
  miniapps/parelag/MultilevelHcurlHdivSolver.cpp
  miniapps/parelag/MultilevelHcurlSolver_cube_example_parameters.xml
  miniapps/parelag/MultilevelHcurlSolver_pipe_example_parameters.xml
  miniapps/parelag/MultilevelHdivSolver_cube_example_parameters.xml
  miniapps/parelag/MultilevelHdivSolver_pipe_example_parameters.xml
  miniapps/parelag/README
  miniapps/parelag/makefile
Labels: enhancement, examples & miniapps, in-next, in-review

#2566 Fix reading VTK surface meshes [vtk-surface-fix]
  mesh/mesh_readers.cpp
Labels: bug, mesh, in-next, in-review

#2491 Fixes for HYPRE_BIGINT and HYPRE_MIXEDINT
  fem/pfespace.cpp
  linalg/hypre.cpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  tests/unit/mesh/test_pmesh.cpp
Labels: bug, linalg, in-next, in-review

#2279 Add Google benchmarks [google-benchmark]
  .gitignore
  CHANGELOG
  CMakeLists.txt
  INSTALL
  config/XSDKDefaults.cmake
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
  config/cmake/modules/FindBenchmark.cmake
  config/cmake/modules/MfemCmakeUtilities.cmake
  config/config.hpp.in
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  fem/bilininteg.hpp
  makefile
  tests/benchmarks/CMakeLists.txt
  tests/benchmarks/bench.hpp
  tests/benchmarks/bench_ceed.cpp
  tests/benchmarks/bench_tmop.cpp
  tests/benchmarks/bench_vector.cpp
  tests/benchmarks/bench_virtuals.cpp
  tests/benchmarks/makefile
  tests/convergence/prates.cpp
  tests/convergence/rates.cpp
Labels: enhancement, in-next, testing, GPU, in-review

#2505 Compare PRs from forks with mfem/mfem:master
  .github/workflows/repo-check.yml
Labels: minor, in-next, testing, in-review

#2567 Elasticity RB modes - NCMesh
  linalg/hypre.cpp
Labels: bug, fem, in-next, in-review

#2561 Small fix for petsc vectors
  linalg/petsc.cpp
Labels: bug, linalg, in-next, in-review

#2335 Splitting fe.[ch]pp
  CHANGELOG
  CONTRIBUTING.md
  doc/CodeDocumentation.conf.in
  fem/CMakeLists.txt
  fem/fe.cpp
  fem/fe.hpp
  fem/fe/fe_base.cpp
  fem/fe/fe_base.hpp
  fem/fe/fe_fixed_order.cpp
  fem/fe/fe_fixed_order.hpp
  fem/fe/fe_h1.cpp
  fem/fe/fe_h1.hpp
  fem/fe/fe_l2.cpp
  fem/fe/fe_l2.hpp
  fem/fe/fe_nd.cpp
  fem/fe/fe_nd.hpp
  fem/fe/fe_nurbs.cpp
  fem/fe/fe_nurbs.hpp
  fem/fe/fe_pos.cpp
  fem/fe/fe_pos.hpp
  fem/fe/fe_rt.cpp
  fem/fe/fe_rt.hpp
  fem/fe/fe_ser.cpp
  fem/fe/fe_ser.hpp
  makefile
Labels: fem, in-next, in-review

#2580 Do not re-install all the dependencies when CI is running on master
  tests/gitlab/build_and_test
Labels: minor, in-next, testing, in-review

#2578 Improvements to PrintMatlab [print-matlab]
  linalg/blockmatrix.cpp
  linalg/blockmatrix.hpp
  linalg/operator.cpp
  linalg/operator.hpp
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
Labels: minor, linalg, in-next, in-review

#2573 Fix an issue in HypreLOBPCG when HYPRE is built with CUDA
  linalg/hypre.cpp
Labels: bug, linalg, in-next, GPU, in-review
