Repository mfem/mfem, pull requests merged in 2022-03, with the labels that each got.

#2840 Add `ConvectionIntegrator::AddMultTransposePA`.
  CHANGELOG
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  fem/bilininteg.hpp
  fem/bilininteg_convection_pa.cpp
  fem/prestriction.cpp
  fem/restriction.cpp
  tests/unit/fem/test_assembly_levels.cpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: fem, hpc, in-next, in-review

#2794 Add MFEM_VERIFY_KERNEL and MFEM_ASSERT_KERNEL.
  fem/restriction.cpp
  general/error.hpp
Labels: in-next, in-review

#2860 Var-order-transfer-unit-test and non-uniform ConvergenceStudy rates
  fem/convergence.cpp
  fem/convergence.hpp
  tests/unit/fem/test_transfer.cpp
Labels: minor, fem, in-next, in-review

#2856 PA for some more H(curl) integrators
  CHANGELOG
  fem/bilininteg.hpp
  fem/bilininteg_hcurl.cpp
  fem/bilininteg_vectorfe.cpp
  tests/unit/fem/test_pa_coeff.cpp
Labels: fem, in-next, GPU, in-review

#2861 Diffusion PA kernel fix [diffusion_pa_ker_revert]
  fem/bilininteg_diffusion_pa.cpp
  fem/bilininteg_mass_pa.cpp
  tests/unit/fem/test_assembly_levels.cpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: bug, enhancement, in-next, GPU, in-review

#2800 Typo in `test_matrix_rectangular.cpp`
  tests/unit/linalg/test_matrix_rectangular.cpp
Labels: in-next, in-review

#2864 Conduit Blueprint Bugfix
  fem/conduitdatacollection.cpp
  general/forall.hpp
  mesh/mesh.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
Labels: bug, mesh, general, in-next, in-review

#2881 Updated sample runs in ex30 to remove warnings
  examples/ex30.cpp
  examples/ex30p.cpp
Labels: bug, examples & miniapps, in-next, in-review

#1989 Custom basis for 3D HCurl and HDiv in 1D or 2D [lo-dim-em-dev]
  .gitignore
  CHANGELOG
  config/sample-runs.sh
  data/hexagon.mesh
  doc/CodeDocumentation.dox
  examples/CMakeLists.txt
  examples/ex31.cpp
  examples/ex31p.cpp
  examples/ex32p.cpp
  examples/makefile
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/coefficient.cpp
  fem/coefficient.hpp
  fem/fe/fe_base.cpp
  fem/fe/fe_base.hpp
  fem/fe/fe_fixed_order.cpp
  fem/fe/fe_nd.cpp
  fem/fe/fe_nd.hpp
  fem/fe/fe_rt.cpp
  fem/fe/fe_rt.hpp
  fem/fe_coll.cpp
  fem/fe_coll.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/lininteg.cpp
  fem/pgridfunc.cpp
  linalg/hypre.cpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_2d_bilininteg.cpp
  tests/unit/fem/test_r1d_bilininteg.cpp
  tests/unit/fem/test_r2d_bilininteg.cpp
Labels: enhancement, fem, in-next, in-review

#2880 Order 1 DofTransformation bug fix
  fem/doftrans.cpp
Labels: bug, minor, fem, in-next, in-review

#2844 Lapack generalized eigenvalue systems
  linalg/densemat.cpp
  linalg/densemat.hpp
  tests/unit/linalg/test_matrix_dense.cpp
Labels: linalg, in-next, in-review

#2825 Update surface fitting formulation
  CHANGELOG
  fem/tmop.cpp
  fem/tmop.hpp
  fem/tmop_tools.cpp
  fem/tmop_tools.hpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-optimizer.cpp
Labels: mesh, examples & miniapps, in-next, in-review

#2895 Changing expected size of gradient [bugfix/mixed-integ-vdim]
  fem/bilininteg.cpp
  fem/bilininteg.hpp
Labels: bug, fem, in-next, in-review

#2883 Fix indices of face with in `SmemPADGTraceApply3D` and `SmemPADGTraceApplyTranspose3D`.
  fem/bilininteg_dgtrace_pa.cpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: bug, fem, in-next, in-review

#2648 Fix for linear/bilinear form domain integrators with markers
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/linearform.cpp
  fem/linearform.hpp
Labels: bug, mesh, in-next, in-review

#2898 Bug fixes for PA in H(curl)
  fem/bilininteg_hcurl.cpp
  fem/bilininteg_vectorfe.cpp
  tests/unit/fem/test_pa_coeff.cpp
  tests/unit/fem/test_pa_grad.cpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: bug, fem, GPU, ready-for-review

#2569 Update the integration of libCEED to work with current main (libCEEDv0.10).
  INSTALL
  fem/bilininteg_convection_mf.cpp
  fem/ceed/algebraic.cpp
  fem/ceed/coefficient.hpp
  fem/ceed/convection_qf.h
  fem/ceed/diffusion_qf.h
  fem/ceed/full-assembly.cpp
  fem/ceed/mass_qf.h
  fem/ceed/operator.cpp
  fem/ceed/solvers-atpmg.cpp
  fem/ceed/util.cpp
  fem/ceed/util.hpp
Labels: bug, in-next, in-review

#2903 [TMOP] RAJA & HIP out-of-registers-during-register-allocation error workaround
  fem/tmop/tmop_pa_h3s.cpp
Labels: building, GPU, ready-for-review, TMOP

#2904 Remove `tmp` `IntegrationRule` in `SegmentIntegrationRule`.
  fem/intrules.cpp
Labels: building, fem

#2911 Update version numbers to 4.4.1 -- a new development version
  CHANGELOG
  CMakeLists.txt
  doc/CodeDocumentation.conf.in
  makefile
Labels: minor, in-next, releases, in-review

#2918 Don't duplicate unit test output in parallel
  tests/unit/pcunit_test_main.cpp
  tests/unit/punit_test_main.cpp
  tests/unit/run_unit_tests.hpp
Labels: minor, in-next, testing, in-review

#2899 [WIP] bench_nle
  tests/benchmarks/bench_elasticity.cpp
  tests/benchmarks/makefile
Labels: GPU, ready-for-review
