Repository mfem/mfem, pull requests merged in 2022-04, with the labels that each got.

#2078 Updates for Navier
  .gitignore
  miniapps/navier/CMakeLists.txt
  miniapps/navier/makefile
  miniapps/navier/navier_solver.cpp
  miniapps/navier/navier_solver.hpp
  miniapps/navier/navier_tgv.cpp
  miniapps/navier/navier_turbchan.cpp
Labels: examples & miniapps, in-next, in-review

#2804 Fix for HypreParMatrixFromBlocks for square matrices
  linalg/hypre.cpp
  tests/unit/linalg/test_matrix_rectangular.cpp
  tests/unit/linalg/test_matrix_square.cpp
Labels: bug, linalg, in-next, in-review

#2862 Use references instead of pointers inside `ZienkiewiczZhuEstimator` and `L2ZienkiewiczZhuEstimator`
  fem/estimators.cpp
  fem/estimators.hpp
Labels: minor, fem, in-next, in-review

#2836 Make SymmetricMatrixCoefficient inherit from MatrixCoefficient
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/bilininteg_diffusion_pa.cpp
  fem/bilininteg_hcurl.cpp
  fem/bilininteg_vectorfe.cpp
  fem/coefficient.cpp
  fem/coefficient.hpp
  tests/unit/fem/test_assemblediagonalpa.cpp
  tests/unit/fem/test_pa_coeff.cpp
Labels: enhancement, fem, in-next, in-review

#2815 New ZZ error estimator: SERIAL VERSION
  CHANGELOG
  examples/ex6.cpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/estimators.cpp
  fem/estimators.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  tests/unit/fem/test_estimator.cpp
Labels: in-next, amr, in-review

#2935 Optimize PADGTraceSetup{2D,3D}
  fem/bilininteg_dgtrace_pa.cpp
Labels: in-next, in-review

#2866 Optimize `ElementRestriction::FillI` and `ElementRestriction::FillJAndData`.
  fem/restriction.cpp
Labels: enhancement, hpc, in-next, in-review

#2963 Fix shadowing in `restriction.cpp`.
  fem/restriction.cpp
Labels: bug, in-next, testing, in-review, high-priority

#2932 Add support for ParaView output of linear pyramid elements
  mesh/vtk.cpp
  mesh/vtk.hpp
Labels: enhancement, in-next, visualization, in-review

#315 Moonolith-based general interpolation between different meshes [moonolith-dev]
  CHANGELOG
  CMakeLists.txt
  CONTRIBUTING.md
  INSTALL
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
  config/cmake/modules/MfemCmakeUtilities.cmake
  config/config.hpp.in
  config/config.mk.in
  config/defaults.mk
  doc/CodeDocumentation.conf.in
  examples/CMakeLists.txt
  examples/makefile
  examples/moonolith/CMakeLists.txt
  examples/moonolith/README.md
  examples/moonolith/ex1.cpp
  examples/moonolith/ex1p.cpp
  examples/moonolith/ex2p.cpp
  examples/moonolith/example_utils.hpp
  examples/moonolith/makefile
  fem/moonolith/CMakeLists.txt
  fem/moonolith/cut.cpp
  fem/moonolith/cut.hpp
  fem/moonolith/mortarassembler.cpp
  fem/moonolith/mortarassembler.hpp
  fem/moonolith/mortarintegrator.cpp
  fem/moonolith/mortarintegrator.hpp
  fem/moonolith/pmortarassembler.cpp
  fem/moonolith/pmortarassembler.hpp
  fem/moonolith/transfer.cpp
  fem/moonolith/transfer.hpp
  fem/moonolith/transferutils.cpp
  fem/moonolith/transferutils.hpp
  makefile
  mfem.hpp
Labels: enhancement, mesh, fem, in-next, in-review

#2961 Visualize actual domain boundary of parallel meshes
  mesh/pmesh.cpp
  mesh/pmesh.hpp
Labels: enhancement, minor, in-next, in-review

#2912 Add support for mixed forms using libCEED.
  fem/ceed/integrator.hpp
Labels: enhancement, fem, in-next, in-review

#2921 PA transpose for MixedVectorCurlIntegrator
  fem/bilininteg.hpp
  fem/bilininteg_hcurl.cpp
  fem/bilininteg_vectorfe.cpp
  tests/unit/fem/test_pa_coeff.cpp
Labels: bug, in-next, GPU, in-review

#2355 Change move constructor and assignment operator for Memory<T>.
  general/mem_manager.hpp
Labels: enhancement, in-next, GPU, in-review

#2968 Fix TODO item in MixedBilinearForm::FormRectangularSystemMatrix
  fem/bilinearform.cpp
Labels: bug, minor, fem, in-next, in-review

#2868 Spatial white Gaussian noise
  CHANGELOG
  fem/lininteg.cpp
  fem/lininteg.hpp
  linalg/vector.cpp
  linalg/vector.hpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_white_noise.cpp
Labels: enhancement, fem, in-next, in-review

#2832 Spectral fractional PDE in MFEM
  CHANGELOG
  doc/CodeDocumentation.dox
  examples/CMakeLists.txt
  examples/ex17p.cpp
  examples/ex18p.cpp
  examples/ex21p.cpp
  examples/ex22.cpp
  examples/ex24.cpp
  examples/ex27.cpp
  examples/ex29p.cpp
  examples/ex30.cpp
  examples/ex30p.cpp
  examples/ex31p.cpp
  examples/ex32p.cpp
  examples/ex33.cpp
  examples/ex33.hpp
  examples/ex33p.cpp
  examples/makefile
Labels: fem, examples & miniapps, in-next, in-review

#2975 Update Catch to v2.13.9
  tests/unit/catch.hpp
Labels: minor, in-next, testing, in-review
