Repository mfem/mfem, pull requests merged in 2022-05, with the labels that each got.

#2933 Add host read/write methods to table
  general/table.cpp
  general/table.hpp
Labels: in-next, in-review

#2931 Set curl size in GridFunction::GetCurl [gridfunc-getcurl-bugfix-dev]
  fem/gridfunc.cpp
Labels: bug, in-next, in-review

#2892 Add `[CUDA]` to tests that support running on CUDA devices.
  linalg/sparsemat.cpp
  tests/unit/fem/test_assembly_levels.cpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: in-next, testing, GPU, in-review

#2929 Have cmake search for PUMI .dylibs (in addition to .a and .so) [pumi-dylib-dev]
  config/cmake/modules/MfemCmakeUtilities.cmake
Labels: bug, in-next, in-review, cmake

#2568 Linear form GPU extension [linext]
  .gitlab/configs/lassen-config.yml
  .gitlab/configs/quartz-config.yml
  .gitlab/corona-build-and-test.yml
  .gitlab/quartz-build-and-test.yml
  CHANGELOG
  fem/CMakeLists.txt
  fem/linearform.cpp
  fem/linearform.hpp
  fem/linearform_ext.cpp
  fem/linearform_ext.hpp
  fem/lininteg.cpp
  fem/lininteg.hpp
  fem/lininteg_domain.cpp
  fem/lininteg_domain_grad.cpp
  fem/plinearform.cpp
  fem/plinearform.hpp
  mesh/mesh.cpp
  tests/unit/fem/test_linearform_ext.cpp
Labels: enhancement, fem, hpc, in-next, GPU, API change, in-review

#2996 fix VTK ASCII output
  mesh/vtk.hpp
Labels: bug, minor, mesh, in-next, in-review

#2995 Fix strerror handling
  general/zstr.hpp
Labels: bug, general, in-next, in-review

#2966 Batched LOR assembly with GPU support
  CHANGELOG
  doc/CodeDocumentation.conf.in
  fem/CMakeLists.txt
  fem/bilininteg.hpp
  fem/fe/fe_base.hpp
  fem/fem.hpp
  fem/lor/lor.cpp
  fem/lor/lor.hpp
  fem/lor/lor_ads.cpp
  fem/lor/lor_ads.hpp
  fem/lor/lor_ams.cpp
  fem/lor/lor_ams.hpp
  fem/lor/lor_batched.cpp
  fem/lor/lor_batched.hpp
  fem/lor/lor_h1.cpp
  fem/lor/lor_h1.hpp
  fem/lor/lor_nd.cpp
  fem/lor/lor_nd.hpp
  fem/lor/lor_rt.cpp
  fem/lor/lor_rt.hpp
  fem/lor/lor_util.hpp
  fem/pfespace.cpp
  fem/qinterp/eval_by_vdim.cpp
  fem/restriction.hpp
  linalg/hypre.cpp
  linalg/hypre.hpp
  linalg/sparsemat.cpp
  makefile
  miniapps/solvers/lor_solvers.cpp
  miniapps/solvers/plor_solvers.cpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_lor_batched.cpp
Labels: fem, in-next, GPU, high-impact, in-review

#2986 Notification of GLVis visualization pause in Example 10
  examples/ex10.cpp
  examples/ex10p.cpp
Labels: examples & miniapps, in-next, in-review

#2945 Fix tests for gslib miniapps
  config/cmake/modules/FindGSLIB.cmake
  miniapps/gslib/CMakeLists.txt
  miniapps/gslib/makefile
  miniapps/gslib/schwarz_ex1p.cpp
Labels: bug, examples & miniapps, in-next, testing, in-review

#2981 feature: adding demo container and automated builds for mfem
  .github/workflows/build-container.yaml
  CHANGELOG
  README.md
  config/docker/Dockerfile
  config/docker/README.md
Labels: enhancement, building, examples & miniapps, in-next, in-review

#2969 Add ProjectDiv for L2 IntegratedGLL basis
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/fe/fe_l2.cpp
  fem/fe/fe_l2.hpp
  fem/fe/fe_nd.cpp
  fem/fe/fe_rt.cpp
Labels: enhancement, fem, in-next, in-review

#3002 [Simplify] Remove redundant class in ex18
  examples/ex18.cpp
  examples/ex18.hpp
  examples/ex18p.cpp
Labels: fem, in-next, in-review

#3001 Improved repo-check test [repo-check-dev]
  .github/workflows/builds-and-tests.yml
  .github/workflows/mfem-analysis.yml
  .github/workflows/repo-check.yml
Labels: in-next, github, testing, in-review

#2947 A benchmark for the different levels of assembly inspired by the CEED benchmark.
  CHANGELOG
  tests/benchmarks/bench_assembly_levels.cpp
  tests/benchmarks/makefile
Labels: hpc, in-next, testing, in-review

#2973 Windows CI
  .appveyor.yml
  .github/workflows/builds-and-tests.yml
  .github/workflows/mfem-analysis.yml
  CHANGELOG
  CMakeLists.txt
  README.md
  tests/unit/CMakeLists.txt
Labels: building, Windows, in-next, in-review

#3022 Remove conversion warning from `double` to `int`.
  mesh/mesh_operators.hpp
Labels: bug, minor, mesh, in-next, in-review

#3040 Replace `MPI_Session` with `Mpi::Init`
  miniapps/navier/navier_turbchan.cpp
Labels: minor, examples & miniapps, in-next, in-review

#2948 Support for pyramids and mixed meshes for FindPointsGSLIB
  CHANGELOG
  data/tinyzoo-3d.mesh
  fem/gslib.cpp
  fem/gslib.hpp
  miniapps/gslib/findpts.cpp
  miniapps/gslib/pfindpts.cpp
Labels: enhancement, mesh, general, in-next, in-review

#3034 Linear form extension ElementTransformation SetIntPoint fix [linext-tsip]
  fem/lininteg_domain.cpp
  fem/lininteg_domain_grad.cpp
  tests/unit/fem/test_linearform_ext.cpp
Labels: bug, fem, in-next, in-review

#2879 Support for the Algoim library [talgoim]
  .gitignore
  CHANGELOG
  CMakeLists.txt
  INSTALL
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
  config/cmake/modules/FindAlgoim.cmake
  config/cmake/modules/FindBlitz.cmake
  config/cmake/modules/MfemCmakeUtilities.cmake
  config/config.hpp.in
  config/defaults.cmake
  config/defaults.mk
  makefile
  miniapps/shifted/CMakeLists.txt
  miniapps/shifted/integ_algoim.cpp
  miniapps/shifted/integ_algoim.hpp
  miniapps/shifted/lsf_integral.cpp
  miniapps/shifted/makefile
Labels: enhancement, fem, general, examples & miniapps, in-next, in-review

#3004 Disable C4819 warnings for building on Windows using Visual Studio
  CMakeLists.txt
Labels: building, Windows, in-next, in-review
