Repository mfem/mfem, pull requests merged in 2022-11, with the labels that each got.

#3281 Bug fix related to qfunction.cpp
  fem/qfunction.cpp
  fem/qfunction.hpp
Labels: bug, in-next, in-review

#3297 Initalize order in quadrature space base class
  fem/qspace.cpp
Labels: in-next, in-review

#3302 Fix Doxygen formatting for DGDiffusionIntegrator
  fem/bilininteg.hpp
Labels: bug, in-next, documentation, in-review

#3309 PetscLinearSolver: respect command line option for nonzero initial guess
  examples/petsc/rc_ex1p
  linalg/petsc.cpp
  linalg/petsc.hpp
Labels: bug, in-next, in-review, PETSc

#3303 Fix partitioning error for disconnected meshes with METIS 5
  mesh/mesh.cpp
Labels: bug, mesh, in-next, in-review

#3172 Add sorting of sparse matrix when assembled on device.
  examples/ex1.cpp
  examples/ex1p.cpp
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/bilinearform_ext.cpp
  linalg/sparsemat.cpp
  tests/unit/fem/test_fa_determinism.cpp
Labels: hpc, in-next, GPU, in-review

#3317 Fix two issues affecting the miniapps building with HIP enabled
  miniapps/common/makefile
  miniapps/hooke/makefile
Labels: bug, building, examples & miniapps, in-next, GPU, in-review

#3304 Fix some clang 14 warnings
  fem/pfespace.cpp
  general/mem_manager.cpp
  general/zstr.hpp
  mesh/mesh.cpp
  mesh/mesh_readers.cpp
  mesh/ncmesh.cpp
  mesh/pncmesh.cpp
  tests/unit/catch.hpp
  tests/unit/miniapps/test_tmop_pa.cpp
Labels: building, minor, in-next, in-review

#3288 Fix nvcc warnings when HiOp integration is enabled
  linalg/hiop.hpp
Labels: building, in-next, in-review, libraries

#3315 Fixed `common::VisualizeMesh`
  miniapps/common/fem_extras.cpp
  miniapps/common/pfem_extras.cpp
Labels: building, examples & miniapps, in-next, in-review

#3290 Fix a warning with HIP >= 5.2.0
  linalg/sparsemat.hpp
Labels: building, in-next, GPU, in-review

#3278 Resolve compiler warnings in gslib.cpp
  fem/gslib.cpp
Labels: minor, fem, in-next, in-review

#3268 Fast distance solver
  CHANGELOG
  miniapps/shifted/diffusion.cpp
  miniapps/shifted/dist_solver.cpp
  miniapps/shifted/dist_solver.hpp
  miniapps/shifted/distance.cpp
Labels: enhancement, examples & miniapps, in-next, in-review

#3337 GradToCurl fix for vector and scalar valued curl.
  fem/bilininteg.cpp
  linalg/densemat.cpp
  linalg/densemat.hpp
Labels: bug, minor, fem, in-next, in-review

#3306 Fix the building of the unit tests when using Cray HIP compilers
  tests/unit/makefile
Labels: building, in-next, testing, GPU, in-review

#3305 Fix for CMake linking with TPLs built with CUDA relocatable device code (RDC)
  config/cmake/modules/MfemCmakeUtilities.cmake
  tests/unit/CMakeLists.txt
Labels: building, in-next, GPU, in-review, cmake

#3329 Bug fix for VisItDataCollection name parsing
  CHANGELOG
  fem/datacollection.cpp
  fem/datacollection.hpp
  miniapps/tools/convert-dc.cpp
  miniapps/tools/get-values.cpp
  miniapps/tools/load-dc.cpp
  tests/unit/fem/test_datacollection.cpp
Labels: bug, minor, in-next, low-impact, in-review

#3313 Fix minor copy-paste errors in DofTransformation
  fem/doftrans.cpp
Labels: minor, fem, in-next, in-review
