Repository mfem/mfem, pull requests merged in 2022-09, with the labels that each got.

#3159 Remove some now unnecessary if statement
  config/cmake/modules/MfemCmakeUtilities.cmake
Labels: building, minor, in-next, in-review

#3149 BlockMatrix additional utilities
  linalg/blockmatrix.cpp
  linalg/blockmatrix.hpp
  linalg/blockoperator.hpp
  linalg/operator.hpp
  tests/unit/linalg/test_matrix_block.cpp
Labels: enhancement, linalg, in-next, in-review

#3185 Fix the link order of BLAS and LAPACK in CMake
  CMakeLists.txt
Labels: building, in-next, in-review, libraries, cmake

#3183 Bugfix in `linearform`
  fem/linearform.cpp
Labels: bug, in-next, in-review

#3127 Check for consistent diagonal policy in `FABilinearFormExtension::EliminateBC`
  fem/bilinearform.cpp
  fem/bilinearform_ext.cpp
  linalg/sparsemat.cpp
  tests/unit/fem/test_assembly_levels.cpp
Labels: in-next, in-review

#3134 Fix various typos
  INSTALL
  config/cmake/modules/FindENZYME.cmake
  config/defaults.mk
  data/tinyzoo-3d.mesh
  examples/ex27p.cpp
  examples/petsc/ex9p.cpp
  fem/bilinearform.hpp
  fem/ceed/interface/basis.cpp
  fem/ceed/interface/restriction.cpp
  fem/fe_coll.hpp
  fem/fespace.hpp
  fem/lor/lor.hpp
  fem/nonlinearform.hpp
  fem/pfespace.cpp
  fem/pfespace.hpp
  fem/qinterp/det.cpp
  fem/tmop/tmop_pa.hpp
  general/gecko.hpp
  general/socketstream.cpp
  linalg/amgxsolver.hpp
  linalg/auxiliary.cpp
  linalg/blockmatrix.cpp
  linalg/densemat.cpp
  linalg/hypre.cpp
  linalg/hypre.hpp
  linalg/mumps.hpp
  linalg/ode.cpp
  linalg/ode.hpp
  linalg/petsc.hpp
  linalg/tensor.hpp
  mesh/mesh_readers.cpp
  mesh/mesquite.cpp
  miniapps/hooke/preconditioners/diagonal_preconditioner.cpp
  miniapps/shifted/lsf_integral.cpp
  miniapps/tools/get-values.cpp
  tests/unit/fem/test_bilinearform.cpp
  tests/unit/linalg/test_matrix_dense.cpp
Labels: in-next, in-review

#3177 Match ordering in LOR with vdim > 1
  fem/lor/lor.cpp
Labels: bug, fem, in-next, in-review

#3126 Local PCG for DG mass inverse on GPU
  CHANGELOG
  fem/CMakeLists.txt
  fem/bilininteg.hpp
  fem/bilininteg_mass_pa.cpp
  fem/bilininteg_mass_pa.hpp
  fem/dgmassinv.cpp
  fem/dgmassinv.hpp
  fem/dgmassinv_kernels.hpp
  fem/fem.hpp
  fem/kernels.hpp
  general/forall.hpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_dgmassinv.cpp
Labels: enhancement, fem, linalg, in-next, GPU, in-review

#3066 FaceQuadratureSpace
  fem/CMakeLists.txt
  fem/bilininteg_convection_pa.cpp
  fem/bilininteg_dgtrace_pa.cpp
  fem/bilininteg_diffusion_pa.cpp
  fem/bilininteg_gradient.cpp
  fem/bilininteg_hcurl.cpp
  fem/bilininteg_hdiv.cpp
  fem/bilininteg_mass_pa.cpp
  fem/bilininteg_vecdiffusion.cpp
  fem/bilininteg_vectorfe.cpp
  fem/ceed/interface/coefficient.hpp
  fem/coefficient.cpp
  fem/coefficient.hpp
  fem/datacollection.cpp
  fem/datacollection.hpp
  fem/fespace.cpp
  fem/fespace.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/lininteg.cpp
  fem/lininteg_domain.cpp
  fem/lininteg_domain_grad.cpp
  fem/qfunction.cpp
  fem/qfunction.hpp
  fem/qspace.cpp
  fem/qspace.hpp
  fem/quadinterpolator.cpp
  fem/quadinterpolator.hpp
  fem/quadinterpolator_face.cpp
  fem/quadinterpolator_face.hpp
  linalg/symmat.cpp
  linalg/symmat.hpp
  tests/unit/fem/test_pa_coeff.cpp
Labels: fem, in-next, GPU, high-impact, in-review

#2920 SubMesh
  .gitignore
  CHANGELOG
  CONTRIBUTING.md
  fem/ceed/solvers/algebraic.cpp
  fem/fe_coll.hpp
  general/communication.cpp
  general/communication.hpp
  makefile
  mesh/CMakeLists.txt
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/mesh_headers.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  mesh/submesh/psubmesh.cpp
  mesh/submesh/psubmesh.hpp
  mesh/submesh/ptransfermap.cpp
  mesh/submesh/ptransfermap.hpp
  mesh/submesh/submesh.cpp
  mesh/submesh/submesh.hpp
  mesh/submesh/submesh_utils.cpp
  mesh/submesh/submesh_utils.hpp
  mesh/submesh/transfer_category.hpp
  mesh/submesh/transfermap.cpp
  mesh/submesh/transfermap.hpp
  miniapps/CMakeLists.txt
  miniapps/multidomain/CMakeLists.txt
  miniapps/multidomain/makefile
  miniapps/multidomain/multidomain-hex.mesh
  miniapps/multidomain/multidomain.cpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_lor.cpp
  tests/unit/mesh/test_psubmesh.cpp
  tests/unit/mesh/test_submesh.cpp
Labels: enhancement, mesh, in-next, in-review

#3196 Use MFEM's METIS mirror instead of glaros.dtc.umn.edu
  .appveyor.yml
  INSTALL
Labels: building, in-next, in-review

#3201 Fix errors building with libCEED and hypre mixed int
  fem/ceed/solvers/algebraic.cpp
Labels: bug, minor, in-next, in-review

#3178 Improve memory movement in CheckFinite & DenseTensor(k)
  linalg/densemat.hpp
  linalg/vector.hpp
Labels: in-next, GPU, in-review

#3224 Use FaceQuadratureSpace in device boundary linear forms
  fem/lininteg_boundary.cpp
Labels: minor, in-next, in-review

#3133 Support general coefficient types in batched LOR
  CHANGELOG
  fem/lor/lor_batched.cpp
  fem/lor/lor_batched.hpp
  fem/lor/lor_h1.cpp
  fem/lor/lor_h1.hpp
  fem/lor/lor_nd.cpp
  fem/lor/lor_nd.hpp
  fem/lor/lor_rt.cpp
  fem/lor/lor_rt.hpp
  tests/unit/fem/test_lor_batched.cpp
Labels: enhancement, in-next, in-review

#3148 Complex dense matrix
  linalg/CMakeLists.txt
  linalg/complex_densemat.cpp
  linalg/complex_densemat.hpp
  linalg/densemat.cpp
  linalg/densemat.hpp
  linalg/linalg.hpp
  linalg/operator.hpp
  linalg/vector.cpp
  linalg/vector.hpp
  tests/unit/CMakeLists.txt
  tests/unit/linalg/test_complex_dense_matrix.cpp
Labels: enhancement, linalg, in-next, in-review

#3105 Optimize and benchmark nonconforming matrix-free DG.
  fem/bilinearform_ext.cpp
  fem/prestriction.cpp
  fem/prestriction.hpp
  fem/restriction.cpp
  fem/restriction.hpp
  tests/benchmarks/bench_dg_amr.cpp
  tests/benchmarks/makefile
Labels: enhancement, fem, hpc, in-next, in-review

#3152 Additional integrators
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  linalg/densemat.cpp
  tests/unit/fem/test_2d_bilininteg.cpp
  tests/unit/fem/test_3d_bilininteg.cpp
Labels: enhancement, fem, in-next, in-review

#3143 LinearFormExtension fixes
  CHANGELOG
  fem/fespace.cpp
  fem/fespace.hpp
  fem/linearform_ext.cpp
  fem/linearform_ext.hpp
  fem/lininteg_domain.cpp
  fem/restriction.cpp
  fem/restriction.hpp
  tests/unit/fem/test_linearform_ext.cpp
Labels: bug, minor, fem, in-next, GPU, in-review
