Repository mfem/mfem, pull requests merged in 2022-08, with the labels that each got.

#3061 add cublas flag for hypre
  CMakeLists.txt
  config/defaults.mk
Labels: in-next, in-review

#3089 Set Nodes correctly for ParMesh with ParFESpace using SetNodalFESpace
  mesh/mesh.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
Labels: mesh, in-next, in-review

#3035 Save a ParMesh as a serial mesh
  CHANGELOG
  fem/pfespace.cpp
  general/array.hpp
  general/hash.hpp
  general/table.cpp
  general/table.hpp
  linalg/densemat.hpp
  linalg/symmat.hpp
  mesh/mesh.hpp
  mesh/mesh_operators.cpp
  mesh/mesh_operators.hpp
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  mesh/pncmesh.cpp
  mesh/pncmesh.hpp
  tests/unit/general/test_umpire_mem.cpp
Labels: mesh, in-next, in-review

#3123 Minor PA and solver fixes
  fem/bilininteg.hpp
  fem/bilininteg_hdiv.cpp
  fem/linearform.cpp
  linalg/solvers.cpp
Labels: minor, in-next, in-review

#3122 UseDevice in MINRESSolver
  linalg/solvers.cpp
Labels: enhancement, minor, linalg, in-next, GPU, in-review

#3145 Fix ParaView ASCII output
  fem/datacollection.cpp
Labels: bug, minor, in-next, visualization, in-review

#3154 Support vdim in LOR solvers
  fem/lor/lor.cpp
Labels: enhancement, fem, in-next, in-review

#3151 Temporarily disable the FA sample runs in ex1/ex1p
  examples/ex1.cpp
  examples/ex1p.cpp
Labels: examples & miniapps, in-next, testing, in-review

#3155 Windows CI METIS workaround
  .github/workflows/builds-and-tests.yml
  config/vcpkg/ports/metis-mfem/disable-programs.patch
  config/vcpkg/ports/metis-mfem/enable-install.patch
  config/vcpkg/ports/metis-mfem/fix-INT_MIN_define.patch
  config/vcpkg/ports/metis-mfem/fix-gklib-vs14-math.patch
  config/vcpkg/ports/metis-mfem/fix-linux-build-error.patch
  config/vcpkg/ports/metis-mfem/fix-metis-vs14-math.patch
  config/vcpkg/ports/metis-mfem/fix-runtime-install-destination.patch
  config/vcpkg/ports/metis-mfem/install-metisConfig.patch
  config/vcpkg/ports/metis-mfem/portfile.cmake
  config/vcpkg/ports/metis-mfem/vcpkg.json
Labels: building, Windows, in-next, in-review, high-priority

#3039 Compute l2 errors
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/pgridfunc.hpp
Labels: minor, fem, in-next, in-review

#3162 Replace LGTM static analysis with GitHub code scanning
  .github/workflows/build-container.yaml
  .github/workflows/builds-and-tests.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/mfem-analysis.yml
  .github/workflows/repo-check.yml
  doc/CodeDocumentation.conf.in
  fem/tbilininteg.hpp
Labels: in-next, github, testing, in-review

#3161 Minor change in output message in linalg/sparsemat.cpp
  linalg/sparsemat.cpp
Labels: bug, minor, linalg, in-next, in-review

#3175 Fix memory leak in TMOP metric
  fem/tmop.cpp
  linalg/solvers.hpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-optimizer.cpp
Labels: bug, in-next, in-review
