Repository mfem/mfem, pull requests merged in 2022-07, with the labels that each got.

#2814 Nonlinear elasticity example with PA and AD
  .gitignore
  CHANGELOG
  CMakeLists.txt
  CONTRIBUTING.md
  INSTALL
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
  config/cmake/modules/FindENZYME.cmake
  config/cmake/modules/MfemCmakeUtilities.cmake
  config/config.hpp.in
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  general/enzyme.hpp
  linalg/CMakeLists.txt
  linalg/dtensor.hpp
  linalg/dual.hpp
  linalg/tensor.hpp
  makefile
  mfem.hpp
  miniapps/CMakeLists.txt
  miniapps/autodiff/CMakeLists.txt
  miniapps/autodiff/admfem.hpp
  miniapps/autodiff/fdual.hpp
  miniapps/hooke/CMakeLists.txt
  miniapps/hooke/hooke.cpp
  miniapps/hooke/kernels/elasticity_kernels.hpp
  miniapps/hooke/kernels/kernel_helpers.hpp
  miniapps/hooke/makefile
  miniapps/hooke/materials/gradient_type.hpp
  miniapps/hooke/materials/linear_elastic.hpp
  miniapps/hooke/materials/neohookean.hpp
  miniapps/hooke/operators/elasticity_gradient_operator.cpp
  miniapps/hooke/operators/elasticity_gradient_operator.hpp
  miniapps/hooke/operators/elasticity_operator.cpp
  miniapps/hooke/operators/elasticity_operator.hpp
  miniapps/hooke/preconditioners/diagonal_preconditioner.cpp
  miniapps/hooke/preconditioners/diagonal_preconditioner.hpp
  tests/benchmarks/bench_elasticity.cpp
  tests/benchmarks/makefile
  tests/unit/enzyme/compatibility.cpp
Labels: fem, examples & miniapps, in-next, in-review

#3068 Optimized shared memory H(div) mass kernels
  fem/bilininteg.hpp
  fem/bilininteg_diffusion_pa.cpp
  fem/bilininteg_hdiv.cpp
  fem/bilininteg_vectorfe.cpp
  tests/unit/fem/test_assemblediagonalpa.cpp
  tests/unit/fem/test_pa_coeff.cpp
Labels: enhancement, fem, in-next, GPU, in-review

#3033 Generalized coefficient support for H(div) mass integrator
  fem/bilininteg.hpp
  fem/bilininteg_diffusion_pa.cpp
  fem/bilininteg_hdiv.cpp
  fem/bilininteg_vectorfe.cpp
  tests/unit/fem/test_assemblediagonalpa.cpp
  tests/unit/fem/test_pa_coeff.cpp
Labels: in-next, in-review

#3012 adding multistage-build for slimmer container
  .github/workflows/build-container.yaml
  config/docker/Dockerfile
  config/docker/Dockerfile.base
  config/docker/README.md
  config/docker/spack.yaml
Labels: building, in-next, in-review

#3056 Full Assembly BC elimination and HypreParMatrix
  CHANGELOG
  examples/ex1.cpp
  examples/ex1p.cpp
  fem/bilinearform.hpp
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  fem/lor/lor_batched.cpp
  fem/lor/lor_batched.hpp
  fem/pbilinearform.cpp
  fem/pbilinearform.hpp
  linalg/hypre.cpp
  linalg/hypre.hpp
  linalg/operator.hpp
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
  tests/unit/fem/test_assembly_levels.cpp
Labels: in-next, in-review

#3080 Support map type INTEGRAL in PA VectorFEDivergenceIntegrator
  fem/bilininteg.hpp
  fem/bilininteg_hdiv.cpp
  tests/unit/fem/test_pa_coeff.cpp
Labels: enhancement, minor, fem, in-next, in-review

#3102 Fix over-writing fmin race in fem/tmop/tmop_pa_da3.cpp [tmop-da3-race-fix]
  fem/tmop/tmop_pa_da3.cpp
Labels: bug, in-next, GPU, in-review, TMOP

#3106 Use mfem/tpls for vcpkg Metis
  .github/workflows/builds-and-tests.yml
Labels: Windows, in-next, testing, in-review

#3000 Mesh Untangling and worst case quality improvement metrics (TMOP)
  CHANGELOG
  fem/tmop.cpp
  fem/tmop.hpp
  fem/tmop_tools.cpp
  fem/tmop_tools.hpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-optimizer.cpp
Labels: enhancement, mesh, examples & miniapps, in-next, in-review

#2953 Add support for mixed meshes using libCEED.
  CHANGELOG
  examples/ex1.cpp
  examples/ex1p.cpp
  fem/bilinearform_ext.cpp
  fem/bilininteg_convection_mf.cpp
  fem/bilininteg_convection_pa.cpp
  fem/bilininteg_diffusion_mf.cpp
  fem/bilininteg_diffusion_pa.cpp
  fem/bilininteg_mass_mf.cpp
  fem/bilininteg_mass_pa.cpp
  fem/bilininteg_vecdiffusion.cpp
  fem/bilininteg_vecdiffusion_mf.cpp
  fem/bilininteg_vecmass.cpp
  fem/bilininteg_vecmass_mf.cpp
  fem/ceed/integrators/convection/convection.cpp
  fem/ceed/integrators/convection/convection.hpp
  fem/ceed/integrators/diffusion/diffusion.cpp
  fem/ceed/integrators/diffusion/diffusion.hpp
  fem/ceed/integrators/mass/mass.cpp
  fem/ceed/integrators/mass/mass.hpp
  fem/ceed/integrators/nlconvection/nlconvection.cpp
  fem/ceed/integrators/nlconvection/nlconvection.hpp
  fem/ceed/integrators/nlconvection/nlconvection_qf.h
  fem/ceed/interface/basis.cpp
  fem/ceed/interface/basis.hpp
  fem/ceed/interface/coefficient.hpp
  fem/ceed/interface/integrator.hpp
  fem/ceed/interface/interface.hpp
  fem/ceed/interface/mixed_integrator.hpp
  fem/ceed/interface/restriction.cpp
  fem/ceed/interface/restriction.hpp
  fem/ceed/interface/util.cpp
  fem/ceed/interface/util.hpp
  fem/ceed/solvers/algebraic.cpp
  fem/ceed/solvers/algebraic.hpp
  fem/fespace.hpp
  fem/nonlinearform_ext.cpp
  fem/nonlininteg_vectorconvection.cpp
  fem/nonlininteg_vectorconvection_mf.cpp
  tests/unit/ceed/test_ceed.cpp
Labels: enhancement, in-next, in-review, libraries
