Repository mfem/mfem, pull requests merged in 2022-12, with the labels that each got.

#3353 Use renamed functions when libCEED version >= 0.10.2
  fem/ceed/interface/util.cpp
  fem/ceed/solvers/algebraic.cpp
  fem/ceed/solvers/full-assembly.cpp
Labels: bug, minor, in-next, in-review

#3351 [SQUASH MERGE] Fix GitHub CI failures with the new ubuntu-latest
  .github/workflows/build-container.yaml
  .github/workflows/builds-and-tests.yml
  .github/workflows/mfem-analysis.yml
  .github/workflows/repo-check.yml
  config/cmake/modules/MfemCmakeUtilities.cmake
  miniapps/tools/get-values.cpp
Labels: in-next, documentation, github, testing, in-review, cmake

#3287 SuperLU_DIST and STRUMPACK with HYPRE+CUDA
  linalg/cpardiso.cpp
  linalg/mumps.cpp
  linalg/strumpack.cpp
  linalg/superlu.cpp
  makefile
Labels: enhancement, in-next, GPU, in-review

#3333 Various simplifications, tweaks, and fixes for PR #3194
  CHANGELOG
  examples/ex20.cpp
  examples/ex20p.cpp
  fem/doftrans.cpp
  fem/eltrans.cpp
  fem/estimators.cpp
  fem/fe/fe_base.cpp
  fem/fe/fe_base.hpp
  fem/fe/fe_fixed_order.cpp
  fem/fe/fe_h1.cpp
  fem/fe/fe_l2.cpp
  fem/fe/fe_nd.cpp
  fem/fe/fe_pos.cpp
  fem/fe/fe_rt.cpp
  fem/fmsconvert.cpp
  fem/gridfunc.cpp
  fem/lininteg.cpp
  fem/pgridfunc.cpp
  fem/staticcond.cpp
  fem/tmop.hpp
  linalg/constraints.cpp
  linalg/densemat.cpp
  linalg/densemat.hpp
  linalg/solvers.cpp
  linalg/strumpack.cpp
  linalg/vector.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/pmesh.cpp
  miniapps/meshing/minimal-surface.cpp
  miniapps/meshing/pminimal-surface.cpp
  miniapps/solvers/div_free_solver.cpp
  tests/unit/miniapps/test_sedov.cpp
Labels: bug, enhancement, API change

#3294 Include several subdirectories in Doxygen docs
  doc/CodeDocumentation.conf.in
  fem/ceed/interface/restriction.hpp
  fem/ceed/solvers/solvers-atpmg.hpp
  miniapps/hooke/materials/linear_elastic.hpp
  miniapps/hooke/operators/elasticity_operator.hpp
Labels: bug, in-next, documentation, in-review

#3352 Removing global random seed in vector
  linalg/vector.cpp
  linalg/vector.hpp
Labels: minor, in-next, in-review

#3194 Deprecate implicit conversion from `Vector` to `double *`
  CHANGELOG
  fem/fe/fe_base.cpp
  fem/fe/fe_base.hpp
  fem/fe/fe_nd.cpp
  fem/fe/fe_pos.cpp
  fem/fe/fe_rt.cpp
  fem/fmsconvert.cpp
  fem/gridfunc.cpp
  fem/lininteg.cpp
  fem/pgridfunc.cpp
  fem/staticcond.cpp
  linalg/constraints.cpp
  linalg/densemat.cpp
  linalg/densemat.hpp
  linalg/solvers.cpp
  linalg/strumpack.cpp
  linalg/vector.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/pmesh.cpp
  mesh/submesh/ptransfermap.cpp
  miniapps/solvers/div_free_solver.cpp
  tests/unit/fem/test_get_value.cpp
Labels: minor, linalg, in-next, in-review

#3343 Document that Get(Face)GeometricFactors might return stale data
  mesh/mesh.cpp
  mesh/mesh.hpp
Labels: enhancement, mesh, in-next, documentation, in-review

#3132 NCMesh pyramid dev
  CHANGELOG
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  mesh/ncmesh_tables.hpp
  tests/unit/mesh/test_ncmesh.cpp
Labels: in-next, in-review

#3347 Fix hip compilation
  linalg/sparsemat.cpp
Labels: minor, in-next, GPU, in-review

#3322 Exponential limiter integration [tmop_exp_limiter]
  fem/tmop.hpp
  fem/tmop/tmop_pa.cpp
  fem/tmop/tmop_pa_h2s_c0.cpp
  fem/tmop/tmop_pa_h3s_c0.cpp
  fem/tmop/tmop_pa_p2_c0.cpp
  fem/tmop/tmop_pa_p3_c0.cpp
  fem/tmop/tmop_pa_w2_c0.cpp
  fem/tmop/tmop_pa_w3_c0.cpp
  tests/unit/miniapps/test_tmop_pa.cpp
Labels: enhancement, in-next, GPU, in-review, TMOP

#3348 Fix CMake TPLs ordering issue
  CMakeLists.txt
  config/cmake/modules/FindHDF5.cmake
  config/cmake/modules/FindNetCDF.cmake
  config/cmake/modules/MfemCmakeUtilities.cmake
  config/defaults.cmake
  config/defaults.mk
  miniapps/parelag/CMakeLists.txt
Labels: bug, building, in-next, in-review, cmake

#3349 Adding support for map type INTEGRAL in GridFunction::GetNodalValues
  fem/fe/fe_base.hpp
  fem/fe_coll.cpp
  fem/fe_coll.hpp
  fem/gridfunc.cpp
Labels: enhancement, minor, in-next, in-review

#3334 Adding SubMesh support for discontinuous fields with vdim > 1
  mesh/submesh/psubmesh.cpp
  mesh/submesh/submesh_utils.cpp
  tests/unit/mesh/test_submesh.cpp
Labels: bug, minor, mesh, in-next, low-impact, in-review

#3372 Add Enzyme info for allocation mechanisms
  general/error.hpp
  general/mem_manager.hpp
Labels: in-next, in-review

#3373 Modify Delete_ to not return a value
  general/mem_manager.cpp
  general/mem_manager.hpp
Labels: in-next, in-review

#3369 Adds support for optional caliper dependencies to build system
  config/cmake/modules/FindCaliper.cmake
  config/defaults.mk
  examples/caliper/CMakeLists.txt
Labels: in-next, in-review

#3385 Fix GitHub actions failure on MacOS
  .github/workflows/builds-and-tests.yml
Labels: Mac, in-next, github, testing, in-review
