Repository mfem/mfem, pull requests merged in 2022-02, with the labels that each got.

#2790 Fixing title in (p)rates.cpp
  tests/convergence/prates.cpp
  tests/convergence/rates.cpp
Labels: minor, in-next, testing, in-review

#2782 Parallel Unstructured Mesh Infrastructure (PUMI): Attaching Gmsh Physical Entity Tags [cws/pumi-gmsh-phys-ents]
  CMakeLists.txt
  INSTALL
  examples/pumi/ex1p.cpp
  examples/pumi/ex6p.cpp
  mesh/pumi.cpp
Labels: mesh, in-next, in-review

#2535 pumi: update adaptation input object apis
  examples/pumi/ex1p.cpp
  examples/pumi/ex6p.cpp
Labels: WIP, API change

#2750 Add support for Hypre with hip
  .gitlab/lassen-build-and-test.yml
  .gitlab/quartz-build-and-test.yml
  CHANGELOG
  CMakeLists.txt
  INSTALL
  config/cmake/modules/FindHIP.cmake
  config/cmake/modules/FindHIP/run_hipcc.cmake
  config/cmake/modules/FindHIP/run_make2cmake.cmake
  config/cmake/modules/FindHYPRE.cmake
  config/cmake/modules/MfemCmakeUtilities.cmake
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  config/test.mk
  examples/ex19p.cpp
  examples/ex28p.cpp
  fem/complex_fem.cpp
  general/forall.hpp
  general/mem_manager.hpp
  linalg/hypre.cpp
  linalg/hypre.hpp
  linalg/sparsemat.cpp
  miniapps/autodiff/CMakeLists.txt
  miniapps/meshing/CMakeLists.txt
  miniapps/mtop/CMakeLists.txt
  miniapps/navier/CMakeLists.txt
  miniapps/navier/makefile
  miniapps/navier/navier_tgv.cpp
  miniapps/performance/CMakeLists.txt
  miniapps/shifted/CMakeLists.txt
  miniapps/shifted/diffusion.cpp
  miniapps/shifted/makefile
  miniapps/solvers/CMakeLists.txt
  miniapps/solvers/block-solvers.cpp
  miniapps/solvers/makefile
  tests/gitlab/get_mfem_uberenv
  tests/unit/fem/test_eigs.cpp
  tests/unit/linalg/test_constrainedsolver.cpp
  tests/unit/linalg/test_hypre_ilu.cpp
  tests/unit/linalg/test_hypre_vector.cpp
  tests/unit/linalg/test_matrix_hypre.cpp
  tests/unit/miniapps/test_sedov.cpp
  tests/unit/miniapps/test_tmop_pa.cpp
Labels: linalg, in-next, GPU, in-review

#2784 Add hipSPARSE support
  .gitlab/scripts/baseline
  CHANGELOG
  CMakeLists.txt
  config/defaults.mk
  general/cuda.hpp
  general/hip.hpp
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
Labels: linalg, in-next, GPU, in-review

#2769 Replace the terminology for shared non-conforming slave/master
  fem/bilininteg_dgtrace_pa.cpp
  fem/prestriction.cpp
  fem/quadinterpolator_face.cpp
  fem/restriction.cpp
  mesh/mesh.cpp
  mesh/mesh.hpp
Labels: ready-for-review

#2757 Extrapolation miniapp
  .gitignore
  CHANGELOG
  miniapps/common/pfem_extras.cpp
  miniapps/common/pfem_extras.hpp
  miniapps/shifted/CMakeLists.txt
  miniapps/shifted/extrapolate.cpp
  miniapps/shifted/extrapolator.cpp
  miniapps/shifted/extrapolator.hpp
  miniapps/shifted/makefile
  miniapps/shifted/marking.hpp
Labels: examples & miniapps, in-next, in-review

#2735 Visualize QuadratureFunctions in ParaView (with DataCollection support) [paraview-point-cloud]
  CHANGELOG
  fem/datacollection.cpp
  fem/datacollection.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  general/binaryio.hpp
  mesh/mesh.cpp
  mesh/vtk.cpp
  mesh/vtk.hpp
Labels: enhancement, in-next, visualization, in-review

#2770 Variable order transfer operator
  fem/transfer.cpp
  fem/transfer.hpp
  tests/unit/fem/test_transfer.cpp
Labels: fem, in-next, amr, in-review

#2752 Change PA mass kernels to work with map type INTEGRAL [l2-mass-integral-map-type]
  fem/bilininteg_mass_pa.cpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: minor, fem, in-next, in-review

#2753 Scale LOR integrated basis if using map type VALUE [lor-scale-integrated]
  fem/fe/fe_base.cpp
  fem/fe/fe_base.hpp
Labels: minor, fem, in-next, in-review

#2816 Fix device+debug runtime errors
  examples/ex5.cpp
  fem/ceed/algebraic.cpp
  fem/fespace.cpp
  fem/hybridization.cpp
  fem/pbilinearform.cpp
  fem/transfer.cpp
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
  tests/unit/fem/test_pa_coeff.cpp
  tests/unit/fem/test_pa_grad.cpp
  tests/unit/fem/test_pa_idinterp.cpp
Labels: in-next, GPU, in-review

#2195 Add Discontinuous Galerkin Partial Assembly support for NCMesh.
  CHANGELOG
  examples/ex9.cpp
  examples/ex9p.cpp
  fem/bilininteg_dgtrace_pa.cpp
  fem/fespace.cpp
  fem/pfespace.cpp
  fem/prestriction.cpp
  fem/prestriction.hpp
  fem/quadinterpolator_face.cpp
  fem/restriction.cpp
  fem/restriction.hpp
  general/hash.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: fem, hpc, in-next, amr, in-review

#2829 Refactor transfer operator unit tests
  tests/unit/fem/test_lexicographic_ordering.cpp
  tests/unit/fem/test_transfer.cpp
Labels: in-next, in-review

#2826 Stefanozampini/ex2p bddc
  examples/petsc/ex2p.cpp
  examples/petsc/makefile
  examples/petsc/rc_ex2p_bddc
  linalg/petsc.cpp
Labels: usage, linalg, examples & miniapps, in-next, in-review

#2833 Optional copy_to_host for ReleasePADeviceMemory
  fem/tmop.cpp
  fem/tmop.hpp
Labels: minor, in-next, GPU, in-review

#2739 Fixing shadow variables in fem classes [shadow-fem-dev]
  fem/bilinearform.cpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/coefficient.hpp
  fem/datacollection.cpp
  fem/datacollection.hpp
  fem/estimators.hpp
  fem/fe_coll.cpp
  fem/fe_coll.hpp
  fem/fespace.cpp
  fem/geom.cpp
  fem/gridfunc.cpp
  fem/linearform.cpp
  fem/lor.cpp
  fem/nonlinearform.hpp
  fem/nonlininteg.cpp
  fem/pbilinearform.cpp
  fem/pbilinearform.hpp
  fem/pfespace.cpp
  fem/pnonlinearform.cpp
  fem/prestriction.cpp
  fem/restriction.cpp
  fem/staticcond.cpp
  fem/staticcond.hpp
  fem/tbilinearform.hpp
Labels: minor, fem, in-next, documentation, in-review

#2843 Simple kernels for Det1D and Values1D
  fem/qinterp/det.cpp
  fem/qinterp/eval.hpp
  fem/qinterp/eval_by_nodes.cpp
  fem/qinterp/eval_by_vdim.cpp
Labels: linalg, examples & miniapps, in-next, in-review

#2837 Reduce some unit test runtimes
  tests/unit/fem/test_assemblediagonalpa.cpp
  tests/unit/fem/test_assembly_levels.cpp
Labels: minor, in-next, testing, in-review

#1051 Arbitrary order ND and RT bases on Prisms [nd-prism-dev]
  CHANGELOG
  fem/doftrans.cpp
  fem/doftrans.hpp
  fem/fe/fe_nd.cpp
  fem/fe/fe_nd.hpp
  fem/fe/fe_rt.cpp
  fem/fe/fe_rt.hpp
  fem/fe_coll.cpp
  fem/fespace.cpp
  mesh/pmesh.cpp
  miniapps/common/mesh_extras.cpp
  miniapps/tools/display-basis.cpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_3d_bilininteg.cpp
  tests/unit/fem/test_blocknonlinearform.cpp
  tests/unit/fem/test_calccurlshape.cpp
  tests/unit/fem/test_calcdivshape.cpp
  tests/unit/fem/test_calcdshape.cpp
  tests/unit/fem/test_calcvshape.cpp
  tests/unit/fem/test_fe.cpp
  tests/unit/fem/test_get_value.cpp
  tests/unit/fem/test_lin_interp.cpp
  tests/unit/fem/test_linear_fes.cpp
Labels: enhancement, fem, in-next, in-review

#2731 Fixing shadow warnings about "out/err" globals [shadow-out-dev]
  fem/convergence.cpp
  fem/datacollection.cpp
  fem/datacollection.hpp
  fem/eltrans.cpp
  fem/fespace.cpp
  fem/gridfunc.cpp
  fem/pfespace.cpp
  fem/pgridfunc.cpp
  general/array.cpp
  general/array.hpp
  general/communication.cpp
  general/error.cpp
  general/globals.hpp
  general/mem_manager.cpp
  general/optparser.cpp
  general/socketstream.cpp
  general/stable3d.cpp
  general/table.cpp
  linalg/constraints.cpp
  linalg/densemat.cpp
  linalg/hypre.cpp
  linalg/matrix.cpp
  linalg/ode.cpp
  linalg/operator.cpp
  linalg/sparsemat.cpp
  linalg/symmat.cpp
  linalg/vector.cpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/ncmesh.cpp
  mesh/nurbs.cpp
  mesh/pmesh.cpp
  mesh/pncmesh.cpp
  mesh/vtk.cpp
  mesh/vtk.hpp
  miniapps/autodiff/tadvector.hpp
Labels: minor, in-next, documentation, in-review

#2851 Fix boundary attribute number for wedges in Mesh::Make3D
  mesh/mesh.cpp
Labels: bug, minor, mesh, in-next, in-review

#2737 Fixing shadow variables in linalg classes [shadow-linalg-dev]
  linalg/blockoperator.cpp
  linalg/blockoperator.hpp
  linalg/complex_operator.cpp
  linalg/densemat.cpp
  linalg/hypre.cpp
  linalg/hypre_parcsr.cpp
  linalg/ode.cpp
  linalg/solvers.cpp
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
  linalg/vector.cpp
Labels: minor, linalg, in-next, documentation, in-review

#2741 Fixing shadow variables in PA-related classes [shadow-pa-dev]
  fem/bilinearform_ext.cpp
  fem/bilininteg_convection_ea.cpp
  fem/bilininteg_convection_pa.cpp
  fem/bilininteg_dgtrace_pa.cpp
  fem/bilininteg_diffusion_ea.cpp
  fem/bilininteg_diffusion_pa.cpp
  fem/bilininteg_divergence.cpp
  fem/bilininteg_gradient.cpp
  fem/bilininteg_hcurl.cpp
  fem/bilininteg_mass_ea.cpp
  fem/bilininteg_mass_pa.cpp
  fem/bilininteg_vecdiffusion.cpp
  fem/bilininteg_vectorfe.cpp
  fem/nonlininteg_vectorconvection.cpp
Labels: minor, hpc, in-next, documentation, in-review

#2786 Device support for LBFGS
  linalg/solvers.cpp
  linalg/solvers.hpp
  miniapps/meshing/pmesh-optimizer.cpp
Labels: linalg, in-next, GPU, in-review

#2788 Fix issue #2723
  fem/bilininteg_hcurl.cpp
  general/backends.hpp
  general/error.hpp
  mesh/mesh_readers.cpp
Labels: in-next, in-review

#2733 Fixing shadowed variables in fem/fe classes [shadow-fe-dev]
  fem/eltrans.cpp
  fem/eltrans.hpp
  fem/fe/fe_base.cpp
  fem/fe/fe_base.hpp
  fem/fe/fe_fixed_order.cpp
  fem/fe/fe_h1.cpp
  fem/fe/fe_pos.cpp
Labels: minor, fem, in-next, documentation, in-review

#2738 Fixing shadow variables in mesh classes [shadow-mesh-dev]
  mesh/mesh.cpp
  mesh/mesh_operators.hpp
  mesh/mesh_readers.cpp
  mesh/ncmesh.cpp
  mesh/pmesh.cpp
  mesh/pncmesh.cpp
  mesh/pncmesh.hpp
Labels: minor, mesh, in-next, documentation, in-review
