Repository mfem/mfem, pull requests merged in 2023-11, with the labels that each got.

#3899 Unit test for FindPointsGSLIB and a fix for points on element boundaries
  fem/gslib.cpp
  miniapps/gslib/findpts.cpp
  tests/unit/fem/test_gslib.cpp
Labels: mesh, in-next, in-review

#3611 Fix ND elements p>=2 for Parallel Nonconforming meshes with triangular faces
  CHANGELOG
  examples/ex13p.cpp
  examples/ex3.cpp
  examples/ex3p.cpp
  fem/eltrans.cpp
  fem/gridfunc.cpp
  fem/pfespace.cpp
  fem/pfespace.hpp
  fem/pgridfunc.cpp
  general/table.cpp
  mesh/mesh.cpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  mesh/pncmesh.cpp
  mesh/pncmesh.hpp
  tests/unit/fem/test_pa_kernels.cpp
  tests/unit/mesh/test_ncmesh.cpp
Labels: enhancement, in-next, amr, in-review

#3731 fix a bug that occurs when interpolating values from the boundary
  fem/lininteg.cpp
  fem/pgridfunc.hpp
Labels: bug, in-next, in-review

#3934 Updates for newer Ginkgo versions and improvement to Ginkgo OpenMP use
  config/defaults.mk
  linalg/ginkgo.cpp
  linalg/ginkgo.hpp
Labels: linalg, in-next, GPU, in-review, libraries

#3897 Simplify and speed up "Hcurl/Hdiv PA Coefficient" unit tests
  tests/unit/fem/test_pa_coeff.cpp
Labels: in-next, testing, in-review

#3811 Unify Mesh::be_to_face
  fem/bilinearform_ext.cpp
  fem/fespace.cpp
  fem/fmsconvert.cpp
  fem/linearform.cpp
  fem/linearform_ext.cpp
  fem/qspace.cpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/pmesh.cpp
  mesh/pumi.cpp
  mesh/submesh/psubmesh.cpp
  mesh/submesh/submesh.cpp
  miniapps/meshing/minimal-surface.cpp
  miniapps/meshing/pminimal-surface.cpp
  miniapps/shifted/marking.cpp
Labels: enhancement, mesh, in-next, in-review

#3966 Call ResetLazyData for ParMesh undergoing nonconforming refinement
  mesh/pmesh.cpp
Labels: bug, in-next, amr, in-review

#3968 Avoid regenerating header files that haven't changed
  CMakeLists.txt
Labels: building, in-next, in-review, cmake

#3685 Replace deprecated gethostbyname by getaddrinfo
  general/isockstream.cpp
  general/socketstream.cpp
Labels: building, general, in-next, in-review

#3884 Support surface meshes in batched LOR assembly
  CHANGELOG
  fem/CMakeLists.txt
  fem/lor/lor_ams.cpp
  fem/lor/lor_batched.cpp
  fem/lor/lor_h1.hpp
  fem/lor/lor_h1_impl.hpp
  fem/lor/lor_nd.hpp
  fem/lor/lor_nd_impl.hpp
  fem/lor/lor_rt.hpp
  fem/lor/lor_rt_impl.hpp
  fem/lor/lor_util.hpp
  miniapps/solvers/lor_solvers.cpp
  miniapps/solvers/plor_solvers.cpp
  tests/unit/fem/test_lor_batched.cpp
Labels: enhancement, fem, in-next, GPU, in-review

#3524 Complete domain integrator marker support
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/nonlinearform.cpp
  fem/nonlinearform.hpp
  miniapps/meshing/pmesh-fitting.cpp
Labels: minor, fem, in-next, in-review

#3962 Update to TMOP metric - mu_14
  .gitignore
  fem/tmop.cpp
  fem/tmop.hpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-optimizer.cpp
  miniapps/tools/CMakeLists.txt
  miniapps/tools/makefile
  miniapps/tools/tmop-check-metric.cpp
Labels: minor, in-next, in-review, TMOP

#3081 Update STRUMPACK solver interface
  INSTALL
  config/defaults.cmake
  examples/ex11p.cpp
  examples/ex25p.cpp
  examples/petsc/ex11p.cpp
  general/communication.cpp
  general/communication.hpp
  linalg/strumpack.cpp
  linalg/strumpack.hpp
  linalg/superlu.cpp
  miniapps/multidomain/multidomain.cpp
  miniapps/nurbs/nurbs_ex11p.cpp
  tests/unit/linalg/test_direct_solvers.cpp
Labels: enhancement, linalg, in-next, in-review

#3956 Wrong assert code in ParGF::ProjectBdrCoefficient
  fem/pgridfunc.cpp
Labels: bug, in-next, in-review

#3979 Patch for #3685 to resolve issues with GLVis
  general/socketstream.cpp
Labels: bug, in-next, visualization, in-review, high-priority

#3973 Correct `cusparse`, `cublas` linkage for CMake builds with CUDA
  CMakeLists.txt
  config/cmake/modules/FindHYPRE.cmake
  config/defaults.cmake
Labels: minor, in-next, GPU, in-review, cmake

#3875 Fix build failure on riscv64 architecture
  miniapps/performance/CMakeLists.txt
  miniapps/performance/makefile
Labels: enhancement, building, in-next, in-review

#3982 Fix some Cubit warnings
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/mesh_readers.cpp
Labels: minor, mesh, in-next, in-review

#3852 CutIntegrationRules and new example
  CHANGELOG
  doc/CodeDocumentation.dox
  examples/CMakeLists.txt
  examples/ex38.cpp
  examples/makefile
  fem/CMakeLists.txt
  fem/fem.hpp
  fem/intrules_cut.cpp
  fem/intrules_cut.hpp
Labels: enhancement, fem, examples & miniapps, in-next, in-review

#3656 Add $(MFEM_CXXFLAGS) to get_hypre_version and get_mumps_version
  config/makefile
Labels: in-next, in-review

#3901 Fix documentation of `ex23`
  examples/ex23.cpp
Labels: in-next, documentation, in-review

#3772 Minor bugfixes for the BoomerAMG elasticity options
  linalg/hypre.cpp
  linalg/hypre.hpp
Labels: fem, in-next, in-review
