Repository mfem/mfem, pull requests merged in 2023-09, with the labels that each got.

#3613 Remove NULL return in GetFE
  CHANGELOG
  fem/fespace.cpp
  fem/fespace.hpp
Labels: fem, in-next, in-review

#3682 TMOP - option to specify target positions for some nodes
  .gitignore
  CHANGELOG
  fem/tmop.cpp
  fem/tmop.hpp
  fem/tmop_tools.cpp
  fem/tmop_tools.hpp
  miniapps/meshing/CMakeLists.txt
  miniapps/meshing/cube-tet.mesh
  miniapps/meshing/fit-node-position.cpp
  miniapps/meshing/makefile
  miniapps/meshing/pmesh-fitting.cpp
Labels: in-next, in-review, TMOP

#3831 Fix `CMAKE_CUDA_FLAGS` flags for CMake build
  CMakeLists.txt
Labels: bug, minor, in-next, GPU, in-review

#3461 Fix boundary attributes for 2D sub-meshes
  mesh/mesh.cpp
  mesh/submesh/psubmesh.cpp
  mesh/submesh/submesh.cpp
  mesh/submesh/submesh.hpp
  mesh/submesh/submesh_utils.cpp
Labels: mesh, in-next, in-review

#3614 Class for HiOp-specific interfaces
  linalg/hiop.cpp
  linalg/hiop.hpp
Labels: in-next, in-review

#3859 Fix unfilled vdofs in BilinearForm::Assemble when element matrices are pre-computed
  fem/bilinearform.cpp
Labels: fem, in-next, in-review

#3803 Fix GenerateElementDofTable for parallel periodic nurbs [fix-nurbs-eldof-table]
  mesh/nurbs.cpp
  miniapps/nurbs/CMakeLists.txt
  miniapps/nurbs/makefile
  miniapps/nurbs/meshes/square-nurbs.mesh
  miniapps/nurbs/nurbs_ex1p.cpp
Labels: bug, in-next, in-review

#3827 Support surface meshes in QuadratureInterpolator physical derivatives
  data/diag-segment-2d.mesh
  data/diag-segment-3d.mesh
  fem/qinterp/grad.hpp
  fem/qinterp/grad_by_nodes.cpp
  fem/qinterp/grad_by_vdim.cpp
  fem/qinterp/grad_phys_by_nodes.cpp
  fem/qinterp/grad_phys_by_vdim.cpp
  linalg/densemat.cpp
  linalg/kernels.hpp
  tests/unit/fem/test_quadinterpolator.cpp
Labels: enhancement, minor, in-next, GPU, in-review

#3871 ParSubMesh bug fixes
  mesh/submesh/psubmesh.cpp
  tests/unit/mesh/test_psubmesh.cpp
Labels: bug, mesh, in-next, in-review

#3857 Fix check in NURBSExtension::ConnectBoundaries3D [fix-connect-boundaries3d]
  mesh/nurbs.cpp
  miniapps/nurbs/CMakeLists.txt
  miniapps/nurbs/makefile
  miniapps/nurbs/meshes/cube-nurbs.mesh
  miniapps/nurbs/meshes/cube.ref
Labels: bug, mesh, in-next, in-review

#3768 Support PETSc + HIP
  CHANGELOG
  INSTALL
  examples/petsc/CMakeLists.txt
  examples/petsc/ex1p.cpp
  examples/petsc/makefile
  examples/petsc/rc_ex11p_lobpcg_device
  examples/petsc/rc_ex1p_device
  examples/petsc/rc_ex1p_deviceamg
  examples/petsc/rc_ex9p_expl_device
  linalg/petsc.cpp
  linalg/petscinternals.hpp
Labels: in-next, GPU, in-review, PETSc

#3821 Fix bug in FiniteElementSpace::GetRestrictionTransposeOperator
  fem/bilinearform.hpp
  fem/fespace.cpp
  fem/fespace.hpp
  fem/pfespace.cpp
  fem/pfespace.hpp
  tests/unit/fem/test_transfer.cpp
Labels: bug, fem, in-next, amr, in-review

#3792 Support markers with partial assembly
  fem/bilinearform.hpp
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: bug, fem, in-next, in-review

#3600 Fix for using std:: in the dual numbers
  linalg/dual.hpp
Labels: bug, in-next, in-review

#3570 Fix face quadrature function coefficient evaluation
  fem/coefficient.cpp
  fem/qspace.cpp
  fem/qspace.hpp
  tests/unit/fem/test_coefficient.cpp
  tests/unit/fem/test_quadf_coef.cpp
Labels: bug, in-next, in-review

#3400 Topology optimization
  CHANGELOG
  doc/CodeDocumentation.dox
  examples/CMakeLists.txt
  examples/ex37.cpp
  examples/ex37.hpp
  examples/ex37p.cpp
  examples/makefile
Labels: examples & miniapps, in-next, in-review

#3880 Fix Docker builds in CI
  .github/workflows/build-container.yaml
Labels: building, in-next, github, in-review

#3797 Minor StopWatch changes
  general/tic_toc.cpp
  general/tic_toc.hpp
  linalg/auxiliary.hpp
Labels: minor, in-next, in-review

#3662 Vector::Sum on device
  linalg/vector.cpp
  tests/unit/linalg/test_vector.cpp
Labels: minor, in-next, GPU, in-review

#3667 Fix potential UniformRefinement segfault
  fem/fespace.cpp
Labels: bug, in-next, in-review

#3894 Fix the order initialization of some lazy-constructed integration rules
  fem/intrules.cpp
  fem/intrules.hpp
  tests/unit/fem/test_intrules.cpp
Labels: bug, fem, in-next, in-review

#3325 Kdtree
  .gitignore
  CHANGELOG
  fem/CMakeLists.txt
  fem/fem.hpp
  fem/gridfunc.cpp
  fem/kdtree.cpp
  fem/kdtree.hpp
  general/CMakeLists.txt
  general/kdtree.hpp
  mfem.hpp
  miniapps/tools/CMakeLists.txt
  miniapps/tools/makefile
  miniapps/tools/nodal-transfer.cpp
Labels: enhancement, general, in-next, in-review, request-for-comments

#3843 Fix regression bugs associated with parallel tetrahedral meshes from #2920
  mesh/pmesh.cpp
Labels: bug, in-next, in-review

#3841 Final changes for mfem-4.6
  CHANGELOG
  CMakeLists.txt
  CONTRIBUTING.md
  doc/CodeDocumentation.conf.in
  doc/CodeDocumentation.dox
  examples/ex34.cpp
  examples/ex34p.cpp
  examples/ex35p.cpp
  examples/ex36.cpp
  examples/ex36p.cpp
  examples/ex37.cpp
  examples/ex37.hpp
  examples/ex37p.cpp
  fem/bilininteg.hpp
  fem/dgmassinv.cpp
  fem/dgmassinv_kernels.hpp
  fem/doftrans.hpp
  fem/fespace.hpp
  fem/tmop.cpp
  fem/tmop.hpp
  fem/tmop_amr.cpp
  fem/transfer.cpp
  general/forall.hpp
  linalg/vector.cpp
  makefile
  mesh/submesh/transfermap.hpp
  miniapps/dpg/acoustics.cpp
  miniapps/dpg/convection-diffusion.cpp
  miniapps/dpg/diffusion.cpp
  miniapps/dpg/maxwell.cpp
  miniapps/dpg/pacoustics.cpp
  miniapps/dpg/pconvection-diffusion.cpp
  miniapps/dpg/pdiffusion.cpp
  miniapps/dpg/pmaxwell.cpp
  miniapps/dpg/util/blockstaticcond.hpp
  miniapps/dpg/util/complexweakform.hpp
  miniapps/dpg/util/pml.hpp
  miniapps/dpg/util/weakform.hpp
  miniapps/hdiv-linear-solver/change_basis.cpp
  miniapps/hdiv-linear-solver/change_basis.hpp
  miniapps/hdiv-linear-solver/grad_div.cpp
  miniapps/hdiv-linear-solver/hdiv_linear_solver.cpp
  miniapps/meshing/pmesh-fitting.cpp
  miniapps/nurbs/makefile
  miniapps/spde/README.md
  miniapps/spde/spde_solver.cpp
  miniapps/spde/spde_solver.hpp
  miniapps/spde/util.cpp
  miniapps/spde/util.hpp
  miniapps/tools/check-tmop-metric.cpp
  miniapps/tools/get-values.cpp
  miniapps/tools/tmop-metric-magnitude.cpp
Labels: releases, WIP

#3900 Update version numbers to 4.6.1 -- a new development version
  CHANGELOG
  CMakeLists.txt
  doc/CodeDocumentation.conf.in
  makefile
Labels: in-next, releases, in-review
