Repository mfem/mfem, pull requests merged in 2023-04, with the labels that each got.

#3409 Quest for ex20p deterministic output [ex20p-determinism-dev]
  examples/ex20p.cpp
Labels: enhancement, minor, examples & miniapps, in-next, low-impact, in-review

#3444 Support RT VectorFEDomainLFIntegrator on device
  fem/CMakeLists.txt
  fem/lininteg.hpp
  fem/lininteg_vectorfe_domain.cpp
  tests/unit/fem/test_linearform_ext.cpp
Labels: enhancement, fem, in-next, GPU, in-review

#3393 RT FaceRestriction and VectorFEBoundaryFluxLFIntegrator kernels
  .gitlab/quartz-build-and-test.yml
  CHANGELOG
  fem/CMakeLists.txt
  fem/fe/face_map_utils.cpp
  fem/fe/face_map_utils.hpp
  fem/fe/fe_base.cpp
  fem/fe/fe_base.hpp
  fem/fe/fe_nd.cpp
  fem/fe/fe_nd.hpp
  fem/fe/fe_pos.cpp
  fem/fe/fe_pos.hpp
  fem/fe/fe_rt.cpp
  fem/fe/fe_rt.hpp
  fem/fespace.cpp
  fem/fespace.hpp
  fem/linearform.cpp
  fem/linearform.hpp
  fem/lininteg.hpp
  fem/lininteg_boundary_flux.cpp
  fem/pfespace.cpp
  fem/pfespace.hpp
  fem/plinearform.cpp
  fem/plinearform.hpp
  fem/prestriction.cpp
  fem/prestriction.hpp
  fem/restriction.cpp
  fem/restriction.hpp
  mesh/mesh.cpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_face_restriction.cpp
  tests/unit/fem/test_linearform_ext.cpp
Labels: enhancement, in-next, GPU, in-review

#3578 Fix warnings from non-debug build with new Apple-clang
  fem/tmop_tools.cpp
  mesh/mesh.cpp
  mesh/mesh_readers.cpp
  mesh/ncmesh.cpp
  mesh/pncmesh.cpp
  miniapps/toys/rubik.cpp
  tests/unit/fem/test_project_bdr.cpp
Labels: building, in-next, in-review

#3552 Access to HiOp's new_x
  linalg/hiop.cpp
  linalg/solvers.hpp
Labels: enhancement, in-next, in-review

#3202 Expanding documentation related to DoFs [dof-doc-dev]
  fem/fespace.hpp
Labels: in-next, documentation, in-review

#3529 Add 1D NURBS [1D-NURBS-dev]
  data/segment-nurbs.mesh
  fem/fe_coll.cpp
  fem/fe_coll.hpp
  mesh/mesh.cpp
  mesh/nurbs.cpp
  mesh/nurbs.hpp
  miniapps/nurbs/CMakeLists.txt
  miniapps/nurbs/nurbs_ex1.cpp
Labels: enhancement, mesh, in-next, in-review

#3137 Updates to TMOP-based interface and boundary fitting method
  .gitignore
  CHANGELOG
  config/sample-runs.sh
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/pgridfunc.cpp
  fem/pgridfunc.hpp
  fem/tmop.cpp
  fem/tmop.hpp
  fem/tmop_tools.cpp
  fem/tmop_tools.hpp
  miniapps/common/CMakeLists.txt
  miniapps/common/dist_solver.cpp
  miniapps/common/dist_solver.hpp
  miniapps/common/makefile
  miniapps/common/mfem-common.hpp
  miniapps/meshing/CMakeLists.txt
  miniapps/meshing/makefile
  miniapps/meshing/mesh-fitting.hpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/mesh-optimizer.hpp
  miniapps/meshing/pmesh-fitting.cpp
  miniapps/meshing/pmesh-optimizer.cpp
  miniapps/shifted/CMakeLists.txt
  miniapps/shifted/diffusion.cpp
  miniapps/shifted/distance.cpp
  miniapps/shifted/makefile
Labels: mesh, in-next, in-review

#3579 Change Array::MakeRef to use MakeAlias
  general/array.hpp
  general/mem_manager.cpp
  tests/unit/CMakeLists.txt
  tests/unit/makefile
  tests/unit/miniapps/test_debug_device.cpp
Labels: minor, in-next, in-review

#3608 Workaround for the random failures on Windows in GH actions
  .github/workflows/builds-and-tests.yml
Labels: Windows, in-next, github, testing, in-review

#3582 [Github] Serial address sanitizer action
  .github/workflows/mfem-sanitizer.yml
  CHANGELOG
  examples/ex25.cpp
  examples/ex25p.cpp
  fem/bilininteg.hpp
  fem/fespace.cpp
  mesh/ncmesh.cpp
  mesh/submesh/psubmesh.cpp
  miniapps/toys/snake.cpp
  tests/unit/fem/test_1d_bilininteg.cpp
  tests/unit/fem/test_2d_bilininteg.cpp
  tests/unit/fem/test_build_dof_to_arrays.cpp
  tests/unit/fem/test_datacollection.cpp
  tests/unit/fem/test_derefine.cpp
  tests/unit/fem/test_linear_fes.cpp
  tests/unit/linalg/test_chebyshev.cpp
  tests/unit/mesh/test_psubmesh.cpp
  tests/unit/mesh/test_submesh.cpp
Labels: enhancement, building, examples & miniapps, in-next, testing, in-review

#3548 GSLIB support for p-refined meshes.
  CHANGELOG
  fem/gridfunc.hpp
  fem/gslib.cpp
  fem/gslib.hpp
  miniapps/gslib/findpts.cpp
  miniapps/gslib/makefile
Labels: mesh, fem, in-next, in-review

#3621 GitLab CI updates 2023-04
  .gitlab/configs/report-build-and-test.yml
  .gitlab/configs/setup-baseline.yml
  .gitlab/configs/setup-build-and-test.yml
  .gitlab/quartz-baseline.yml
  .gitlab/quartz-build-and-test.yml
  .gitlab/scripts/baseline
  tests/gitlab/build_and_test
  tests/gitlab/get_mfem_uberenv
Labels: in-next, testing, in-review

#3234 DPG miniapps
  .gitignore
  CHANGELOG
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  linalg/blockmatrix.cpp
  linalg/blockvector.cpp
  linalg/blockvector.hpp
  makefile
  miniapps/CMakeLists.txt
  miniapps/dpg/CMakeLists.txt
  miniapps/dpg/acoustics.cpp
  miniapps/dpg/convection-diffusion.cpp
  miniapps/dpg/diffusion.cpp
  miniapps/dpg/makefile
  miniapps/dpg/maxwell.cpp
  miniapps/dpg/meshes/fichera-waveguide.mesh
  miniapps/dpg/meshes/scatter.mesh
  miniapps/dpg/pacoustics.cpp
  miniapps/dpg/pconvection-diffusion.cpp
  miniapps/dpg/pdiffusion.cpp
  miniapps/dpg/pmaxwell.cpp
  miniapps/dpg/util/blockstaticcond.cpp
  miniapps/dpg/util/blockstaticcond.hpp
  miniapps/dpg/util/complexstaticcond.cpp
  miniapps/dpg/util/complexstaticcond.hpp
  miniapps/dpg/util/complexweakform.cpp
  miniapps/dpg/util/complexweakform.hpp
  miniapps/dpg/util/pcomplexweakform.cpp
  miniapps/dpg/util/pcomplexweakform.hpp
  miniapps/dpg/util/pml.cpp
  miniapps/dpg/util/pml.hpp
  miniapps/dpg/util/pweakform.cpp
  miniapps/dpg/util/pweakform.hpp
  miniapps/dpg/util/weakform.cpp
  miniapps/dpg/util/weakform.hpp
  miniapps/hooke/kernels/elasticity_kernels.hpp
  miniapps/hooke/kernels/kernel_helpers.hpp
  miniapps/hooke/materials/neohookean.hpp
Labels: enhancement, fem, examples & miniapps, in-next, in-review

#3510 Set `UseDevice(true)` by default in `QuadratureFunction`
  fem/qfunction.cpp
  fem/qfunction.hpp
  linalg/vector.cpp
  tests/unit/fem/test_quadf_coef.cpp
Labels: minor, in-next, GPU, in-review
