Repository mfem/mfem, pull requests merged in 2023-07, with the labels that each got.

#3750 gslib shadow vars fix
  fem/gslib.cpp
  miniapps/gslib/findpts.cpp
  miniapps/gslib/pfindpts.cpp
  miniapps/gslib/schwarz_ex1p.cpp
Labels: minor, in-next, in-review

#3747 Fix MPI hanging in ParL2FaceRestriction::Mult
  fem/prestriction.cpp
  fem/restriction.cpp
Labels: bug, in-next, in-review

#3764 Fix some minor issues with GetDofToQuad for non-tensor elements
  fem/fe/fe_base.cpp
  fem/fe/fe_base.hpp
Labels: minor, fem, in-next, in-review

#3761 Fix missing `bdr_elem_fos` from #1046
  fem/fespace.cpp
Labels: bug, fem, in-next, in-review

#3615 Add Pardiso solver for SparseMatrix
  CHANGELOG
  CMakeLists.txt
  config/cmake/modules/FindMKL_PARDISO.cmake
  config/config.hpp.in
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  linalg/CMakeLists.txt
  linalg/linalg.hpp
  linalg/pardiso.cpp
  linalg/pardiso.hpp
  makefile
  tests/unit/linalg/test_direct_solvers.cpp
Labels: enhancement, linalg, in-next, in-review

#3771 Fix invalid host pointer access error in GetNode
  mesh/mesh.cpp
Labels: bug, in-next, GPU, in-review

#3776 Bug fix #cmakedefine for MFEM_USE_MKL_PARDISO
  config/cmake/MFEMConfig.cmake.in
  config/cmake/config.hpp.in
Labels: bug, in-next, in-review, cmake

#3217 Grouping Mesh methods in Doxygen [mesh-group-doc-dev]
  mesh/mesh.hpp
Labels: in-next, documentation, in-review

#3788 Remove dependency on `ceed/hash.h` for newer libCEED versions
  fem/ceed/interface/util.hpp
Labels: bug, in-next, in-review, libraries

#3398 Proximal Galerkin method for the obstacle problem
  CHANGELOG
  doc/CodeDocumentation.dox
  examples/CMakeLists.txt
  examples/ex36.cpp
  examples/ex36p.cpp
  examples/makefile
Labels: fem, examples & miniapps, in-next, in-review

#3379 SubMesh for Nedelec and Raviart-Thomas Bases
  .gitignore
  CHANGELOG
  data/fichera-quad-mixed.mesh
  data/fichera-quad.mesh
  data/llnl-p3.mesh
  examples/CMakeLists.txt
  examples/ex34.cpp
  examples/ex34p.cpp
  examples/ex35p.cpp
  examples/makefile
  fem/doftrans.cpp
  fem/doftrans.hpp
  fem/fe/fe_base.hpp
  fem/fe/fe_nd.cpp
  fem/fe/fe_nd.hpp
  fem/fe_coll.cpp
  fem/fe_coll.hpp
  fem/fespace.hpp
  fem/pfespace.cpp
  linalg/hypre.cpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/submesh/psubmesh.cpp
  mesh/submesh/psubmesh.hpp
  mesh/submesh/ptransfermap.cpp
  mesh/submesh/ptransfermap.hpp
  mesh/submesh/submesh.cpp
  mesh/submesh/submesh.hpp
  mesh/submesh/submesh_utils.cpp
  mesh/submesh/transfermap.cpp
  mesh/submesh/transfermap.hpp
  tests/unit/CMakeLists.txt
  tests/unit/linalg/test_hypre_prec.cpp
  tests/unit/mesh/test_face_orientations.cpp
  tests/unit/mesh/test_psubmesh.cpp
  tests/unit/mesh/test_submesh.cpp
Labels: enhancement, mesh, in-next, in-review

#3359 Adding support for empty partitions in AMS and ADS
  linalg/hypre.cpp
  tests/unit/CMakeLists.txt
  tests/unit/linalg/test_hypre_prec.cpp
Labels: minor, linalg, WIP
