Repository mfem/mfem, pull requests merged in 2023-06, with the labels that each got.

#3700 Minor `const` fix for `ParSubMesh`
  mesh/submesh/psubmesh.hpp
Labels: bug, minor, in-next, in-review

#3632 Fully support 1D in QuadratureInterpolator
  fem/qinterp/grad.hpp
  fem/qinterp/grad_by_nodes.cpp
  fem/qinterp/grad_by_vdim.cpp
  fem/qinterp/grad_phys_by_nodes.cpp
  fem/qinterp/grad_phys_by_vdim.cpp
  fem/quadinterpolator.cpp
  tests/unit/fem/test_quadinterpolator.cpp
Labels: minor, in-next, GPU, in-review

#3456 TMOP code improvements
  fem/tmop.cpp
  fem/tmop.hpp
  fem/tmop_amr.cpp
  fem/tmop_tools.cpp
  fem/tmop_tools.hpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-optimizer.cpp
Labels: examples & miniapps, in-next, in-review, TMOP

#3713 Transpose for `VectorDivergenceIntegrator`
  fem/bilininteg.hpp
  fem/bilininteg_divergence.cpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: bug, fem, in-next, in-review

#3434 Measuring mesh quality using geometric parameters used in TMOP
  .gitignore
  CHANGELOG
  doc/CodeDocumentation.dox
  fem/fespace.hpp
  linalg/vector.cpp
  linalg/vector.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  miniapps/meshing/CMakeLists.txt
  miniapps/meshing/makefile
  miniapps/meshing/mesh-quality.cpp
Labels: mesh, examples & miniapps, in-next, in-review, TMOP

#3238 Fix bug in comparing two doubles in knotvector comparison [fix-kv-difference-dev]
  mesh/nurbs.cpp
Labels: bug, mesh, in-next, in-review

#3696 Fix-ups for PowerPC and macOS
  general/mem_manager.cpp
  miniapps/performance/CMakeLists.txt
  miniapps/performance/makefile
Labels: enhancement, building, in-next, in-review

#3699 Allow `HypreParMatrixFromBlocks` with empty local `HypreParMatrix` blocks
  linalg/hypre.cpp
Labels: linalg, in-next, low-impact, in-review

#3437 H(div) saddle-point solvers
  .gitignore
  CHANGELOG
  CONTRIBUTING.md
  doc/CodeDocumentation.conf.in
  fem/dgmassinv.hpp
  fem/restriction.hpp
  makefile
  miniapps/CMakeLists.txt
  miniapps/hdiv-linear-solver/CMakeLists.txt
  miniapps/hdiv-linear-solver/change_basis.cpp
  miniapps/hdiv-linear-solver/change_basis.hpp
  miniapps/hdiv-linear-solver/darcy.cpp
  miniapps/hdiv-linear-solver/discrete_divergence.cpp
  miniapps/hdiv-linear-solver/discrete_divergence.hpp
  miniapps/hdiv-linear-solver/grad_div.cpp
  miniapps/hdiv-linear-solver/hdiv_linear_solver.cpp
  miniapps/hdiv-linear-solver/hdiv_linear_solver.hpp
  miniapps/hdiv-linear-solver/makefile
  miniapps/solvers/lor_mms.hpp
  miniapps/solvers/lor_solvers.cpp
  miniapps/solvers/plor_solvers.cpp
Labels: enhancement, fem, linalg, examples & miniapps, in-next, in-review

#3679 add missing host read in fem/restriction.cpp
  fem/restriction.cpp
Labels: in-next, in-review

#3083 Update SuperLU_DIST solver interface
  config/defaults.cmake
  config/defaults.mk
  examples/superlu/ex1p.cpp
  linalg/superlu.cpp
  linalg/superlu.hpp
  linalg/vector.hpp
  tests/unit/linalg/test_direct_solvers.cpp
Labels: enhancement, linalg, in-next, in-review

#3728 Coordinate Coefficient classes [coord-coef-dev]
  fem/coefficient.cpp
  fem/coefficient.hpp
Labels: minor, fem, in-next, low-impact, in-review

#3749 Hotfix for bug introduced by #3065
  miniapps/spde/generate_random_field.cpp
Labels: bug, minor, in-next, in-review

#3735 Fix bug in field-interp miniapp and CMake build for findpts miniapp
  miniapps/gslib/CMakeLists.txt
  miniapps/gslib/field-interp.cpp
Labels: bug, examples & miniapps, in-next, in-review

#3718 Adding random refinement option to mesh-explorer
  CHANGELOG
  miniapps/meshing/mesh-explorer.cpp
Labels: enhancement, minor, examples & miniapps, in-next, in-review

#3588 Save a ParGridFunction in Serial
  .gitignore
  fem/pgridfunc.cpp
  fem/pgridfunc.hpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_pgridfunc_save_serial.cpp
  tests/unit/makefile
Labels: fem, in-next, in-review

#3539 PA for mass boundary integrator
  fem/bilinearform_ext.cpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/integ/bilininteg_mass_kernels.cpp
  fem/integ/bilininteg_mass_pa.cpp
  fem/restriction.cpp
  fem/restriction.hpp
  tests/scripts/branch-history
  tests/unit/fem/test_assemblediagonalpa.cpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: enhancement, fem, in-next, GPU, in-review

#3668 TMOP - option for integrating over reference element
  fem/tmop.cpp
  fem/tmop.hpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-optimizer.cpp
Labels: in-next, in-review, TMOP
