Repository mfem/mfem, pull requests merged in 2023-10, with the labels that each got.

#3902 Free up disk space to resolve CI errors in test builds
  .github/workflows/build-container.yml
  .github/workflows/builds-and-tests.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/mfem-analysis.yml
  .github/workflows/mfem-sanitizer.yml
  .github/workflows/repo-check.yml
Labels: building, minor, in-next, github, testing, in-review

#3903 Fix missing <cstdint> include for new GCC versions
  general/kdtree.hpp
Labels: bug, minor, in-next, in-review

#3910 Typos
  examples/ex36.cpp
  examples/ex36p.cpp
Labels: minor, examples & miniapps, in-next, documentation, in-review

#3908 Fix integration rule order for prisms for failing check
  fem/intrules.cpp
Labels: bug, minor, in-next, in-review

#3869 Copy all marker arrays when constructing LinearForm with integrators from another LinearForm [lf-constructor-fix]
  fem/linearform.cpp
Labels: minor, fem, in-next, in-review

#3774 Add `FiniteElementCollection::GetVDim` in order to fix a bug with AMS when using `ND_R1D_FECollection` or `ND_R2D_FECollection`
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/fe/fe_base.cpp
  fem/fe/fe_base.hpp
  fem/fe/fe_nd.cpp
  fem/fe/fe_rt.cpp
  fem/fe_coll.cpp
  fem/fe_coll.hpp
  fem/gridfunc.cpp
  fem/lininteg.cpp
  fem/pgridfunc.cpp
  linalg/hypre.cpp
  linalg/hypre.hpp
Labels: bug, fem, linalg, in-next, in-review

#3930 fix typo for MatGetID
  linalg/sundials.cpp
Labels: bug, in-next, in-review

#3919 `ParMesh` constructor improvement
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
Labels: minor, mesh

#3920 Fix potential issue with `ParMesh` and `SetCurvature`
  mesh/pmesh.cpp
Labels: minor, mesh, in-review

#3917 Fix file permissions
  fem/tmop_amr.cpp
  miniapps/meshing/mesh-quality.cpp
Labels: minor, in-next, in-review

#3912 Minor fix in `HypreParVector::GlobalVector()`
  linalg/hypre.cpp
Labels: bug, minor, in-next, in-review

#3932 Add square option to AggregrateError for derefinement
  mesh/mesh.cpp
Labels: enhancement, minor, in-next, in-review

#3926 Fix NC tet edge-face constraint bug
  fem/pfespace.cpp
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  tests/unit/mesh/test_ncmesh.cpp
Labels: bug, in-next, amr, in-review

#3949 hdiv-saddle-point-solver
  fem/coefficient.cpp
  fem/integ/bilininteg_mass_pa.cpp
  fem/qspace.cpp
  fem/qspace.hpp
Labels: fem, in-next, in-review

#3928 Modify TransformedCoefficient to support std::function
  fem/coefficient.cpp
  fem/coefficient.hpp
Labels: minor, fem, in-next, in-review

#3943 Fix integration point transformation from boundary element to face element
  fem/gridfunc.cpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  tests/unit/mesh/test_face_orientations.cpp
  tests/unit/mesh/test_fms.cpp
  tests/unit/mesh/test_mesh.cpp
Labels: bug, mesh, in-next, in-review

#3929 [Bug] Mixed Mesh invalidation of var_face_dofs
  examples/ex15p.cpp
  fem/fespace.cpp
Labels: bug, in-next, in-review

#3577 Fix nurbs print functions [fix-nurbs-PrintFunctions]
  .gitignore
  CHANGELOG
  mesh/nurbs.cpp
  mesh/nurbs.hpp
  miniapps/nurbs/CMakeLists.txt
  miniapps/nurbs/makefile
  miniapps/nurbs/nurbs_printfunc.cpp
Labels: bug, mesh, in-next, in-review
