Repository mfem/mfem, pull requests merged in 2023-05, with the labels that each got.

#3541 Fix bugs in L2ZZErrorEstimator
  fem/gridfunc.cpp
  fem/pgridfunc.cpp
Labels: bug, in-next, in-review

#3226 NURBS patch 2D rotation functions [nurbs 2drot]
  mesh/nurbs.cpp
  mesh/nurbs.hpp
Labels: mesh, in-next, in-review

#3232 NURBS curve interpolation functions and small bug fix [nurbs-interp-dev]
  mesh/nurbs.cpp
  mesh/nurbs.hpp
  miniapps/nurbs/CMakeLists.txt
  miniapps/nurbs/nurbs_curveint.cpp
Labels: bug, mesh, in-next, in-review

#3665 Use v2.4 for MFEM GitHub Actions
  .github/workflows/builds-and-tests.yml
  .github/workflows/mfem-analysis.yml
  .github/workflows/mfem-sanitizer.yml
  miniapps/nurbs/nurbs_ex1.cpp
Labels: in-next, testing, in-review

#3586 Cubic EAMassAssemble3D Performance
  fem/bilininteg_mass_ea.cpp
Labels: fem, in-next, GPU, in-review

#3630 Fixes compilation errors when compiling with gcc-13 on Fedora 38
  general/hash.hpp
  general/mem_manager.cpp
  mesh/vtk.hpp
Labels: in-next, in-review

#3587 Fix bug with NC tetrahedra in ParNCMesh::GetFaceNeighbors
  mesh/mesh.cpp
  mesh/pncmesh.cpp
  tests/unit/mesh/test_ncmesh.cpp
Labels: bug, mesh, in-next, in-review

#3669 Fix GridFunctionCoefficient::Eval
  fem/coefficient.cpp
Labels: bug, fem, in-next, in-review
