Repository mfem/mfem, pull requests merged in 2024-02, with the labels that each got.

#4077 Fix and improvement of the print methods in SparseMatrix
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
  tests/unit/linalg/test_matrix_sparse.cpp
Labels: bug, enhancement, in-next, in-review

#4078 Various minor bug/deficiency fixes
  fem/bilinearform.cpp
  fem/bilininteg.cpp
  fem/coefficient.cpp
  fem/coefficient.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/intrules.cpp
  fem/lininteg.hpp
  fem/pgridfunc.cpp
  fem/pgridfunc.hpp
  linalg/blockoperator.cpp
  linalg/blockoperator.hpp
  linalg/sparsemat.cpp
  mesh/pmesh.hpp
  miniapps/solvers/div_free_solver.cpp
  miniapps/solvers/div_free_solver.hpp
Labels: bug, enhancement, minor, in-next, in-review

#4064 Override AddMult for ConstrainedOperator
  fem/transfer.cpp
  linalg/operator.cpp
  linalg/operator.hpp
Labels: enhancement, in-next, GPU, in-review, request-for-comments

#4066 Add optional tolerance to ElmentTransformation::TransformBack
  fem/eltrans.hpp
Labels: minor, mesh, in-next, in-review

#4053 Solvers dox
  examples/ex37.cpp
  examples/ex37p.cpp
  linalg/amgxsolver.hpp
  linalg/mumps.hpp
  linalg/slepc.hpp
  linalg/solvers.hpp
  linalg/strumpack.hpp
  linalg/superlu.hpp
Labels: in-next, documentation, in-review

#4109 Fix for issue 4107 in ParSubMesh
  mesh/submesh/ptransfermap.cpp
Labels: bug, in-next, in-review

#4040 Implement `MultTranspose` for `ConstrainedOperator`.
  linalg/operator.cpp
  linalg/operator.hpp
  tests/unit/linalg/test_operator.cpp
Labels: enhancement, linalg, in-next, in-review

#3862 Add Bramble-Pasciak solver to the block-solvers miniapp [block-solvers/bramble-pasciak-dev]
  CHANGELOG
  linalg/operator.cpp
  linalg/operator.hpp
  miniapps/solvers/CMakeLists.txt
  miniapps/solvers/README
  miniapps/solvers/block-solvers.cpp
  miniapps/solvers/bramble_pasciak.cpp
  miniapps/solvers/bramble_pasciak.hpp
  miniapps/solvers/darcy_solver.cpp
  miniapps/solvers/darcy_solver.hpp
  miniapps/solvers/div_free_solver.cpp
  miniapps/solvers/div_free_solver.hpp
  miniapps/solvers/makefile
Labels: examples & miniapps, in-next, in-review

#4058 Fix GridFunction::GetNodalValues when the vector has use_dev = true
  fem/gridfunc.cpp
Labels: bug, in-next, GPU, in-review

#4101 Silence partial override warnings from #3806
  fem/bilininteg.hpp
Labels: bug, minor, in-next, GPU, in-review

#4089 Make GeometricFactors::DETERMINANTS work with surface meshes
  fem/qinterp/det.cpp
  fem/quadinterpolator.cpp
  tests/unit/CMakeLists.txt
  tests/unit/mesh/test_geometric_factors.cpp
Labels: mesh, in-next, GPU, in-review

#4003 Fix handling of essential DOFs in GeometricMultigrid
  examples/ex26.cpp
  examples/ex26p.cpp
  fem/ceed/solvers/algebraic.cpp
  fem/multigrid.cpp
  fem/multigrid.hpp
Labels: bug, fem, linalg, in-next, in-review

#4120 In CMake, allow users to configure the C++ standard and some related options
  CMakeLists.txt
Labels: bug, building, in-next, in-review, cmake

#4034 Rename Mesh::GetBdrElementAdjacentElement2 to Mesh::GetBdrElementAdjacentElementWithInverseOrientation
  examples/ex25.cpp
  examples/ex25p.cpp
  fem/fespace.cpp
  fem/geom.cpp
  fem/geom.hpp
  fem/pfespace.cpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/submesh/submesh_utils.cpp
  miniapps/meshing/reflector.cpp
Labels: minor, mesh, in-next, API change, in-review

#4103 Better math in code comments
  .github/workflows/repo-check.yml
  CONTRIBUTING.md
  config/githooks/pre-push
  doc/CodeDocumentation.conf.in
  fem/bilinearform.hpp
  fem/bilininteg.hpp
  fem/coefficient.hpp
  fem/eltrans.hpp
  fem/fe/fe_base.hpp
  fem/gridfunc.hpp
  fem/hybridization.hpp
  fem/lininteg.hpp
  fem/moonolith/mortarintegrator.hpp
  fem/nonlininteg.hpp
  fem/staticcond.hpp
  fem/tfe.hpp
  fem/tmop.hpp
  linalg/constraints.hpp
  linalg/mumps.hpp
  linalg/operator.hpp
  linalg/solvers.hpp
  linalg/sparsemat.hpp
  linalg/strumpack.hpp
  linalg/sundials.hpp
  linalg/superlu.hpp
  miniapps/dpg/util/complexweakform.hpp
  miniapps/dpg/util/weakform.hpp
  miniapps/mtop/mtop_integrators.hpp
  miniapps/navier/navier_solver.hpp
  miniapps/shifted/sbm_solver.hpp
  tests/scripts/documentation
Labels: in-next, documentation, WIP, in-review

#4059 QuadratureFunction::Integrate
  fem/qfunction.cpp
  fem/qfunction.hpp
  fem/qspace.cpp
  fem/qspace.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  tests/unit/fem/test_quadf_coef.cpp
Labels: enhancement, minor, fem, in-next, in-review

#4126 NURBS dof functions [nurbs-helper-dev]
  mesh/nurbs.hpp
Labels: minor, mesh, in-next, in-review

#4134 FindPoints fix for empty partition
  fem/gslib.cpp
Labels: fem, in-next, in-review

#4139 In SmemPAHdivMassApply2D<D1D,Q1D>, fix the case when D1D < Q1D
  fem/integ/bilininteg_hdiv_kernels.hpp
Labels: bug, fem, in-next, GPU, in-review

#4073 Addition of Boundary Integration to `NonlinearForm`s [nlf-boundaryintegrators-dev]
  fem/nonlinearform.cpp
  fem/nonlinearform.hpp
  tests/unit/CMakeLists.txt
  tests/unit/data/holes.mesh
  tests/unit/fem/test_nonlinearform.cpp
Labels: enhancement, fem, in-next, in-review

#4149 Support older doxygen versions to some extend: fix the INPUT_FILTER handling
  doc/CodeDocumentation.conf.in
  fem/hybridization.hpp
Labels: in-next, documentation, in-review
