Repository mfem/mfem, pull requests merged in 2024-11, with the labels that each got.

#4523 Fixed support for HIP managed memory allocation/deallocation in the memory manager
  fem/complex_fem.cpp
  fem/lor/lor_ams.cpp
  general/forall.hpp
  general/mem_manager.cpp
  linalg/hypre.cpp
  linalg/hypre.hpp
  miniapps/meshing/CMakeLists.txt
Labels: bug, in-next, GPU, in-review

#4466 Kernels to compute derivatives of gridfunctions with Lagrange interpolants on collocated points
  fem/kernel_dispatch.hpp
  fem/qinterp/grad.hpp
  fem/qinterp/grad_by_nodes.cpp
  fem/qinterp/grad_by_vdim.cpp
  fem/quadinterpolator.cpp
  fem/quadinterpolator.hpp
  tests/unit/fem/test_col_lag_der.cpp
Labels: fem, in-next, GPU, in-review

#4436 Algoim cut integration port
  CHANGELOG
  INSTALL
  config/defaults.mk
  examples/ex38.cpp
  fem/intrules_cut.cpp
  fem/intrules_cut.hpp
  miniapps/shifted/CMakeLists.txt
  miniapps/shifted/integ_algoim.cpp
  miniapps/shifted/integ_algoim.hpp
  miniapps/shifted/lsf_integral.cpp
  miniapps/shifted/makefile
Labels: enhancement, fem, in-next, in-review

#4408 Device HO to LOR Transfer
  CHANGELOG
  fem/transfer.cpp
  fem/transfer.hpp
  linalg/batched/batched.cpp
  linalg/batched/batched.hpp
  linalg/batched/gpu_blas.cpp
  linalg/batched/gpu_blas.hpp
  linalg/batched/magma.cpp
  linalg/batched/magma.hpp
  linalg/batched/native.cpp
  linalg/batched/native.hpp
  linalg/densemat.hpp
  linalg/kernels.hpp
  miniapps/tools/lor-transfer.cpp
  miniapps/tools/plor-transfer.cpp
  tests/unit/linalg/test_matrix_dense.cpp
Labels: enhancement, in-next, GPU, in-review

#4560 Vector identity interpolator
  fem/bilininteg.hpp
  fem/integ/bilininteg_interp_pa.cpp
Labels: in-next, in-review

#4539 Set NCMesh attributes
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/ncmesh.hpp
Labels: mesh, in-next, amr, in-review

#4469 Add ownership getters + setters for Array-type coefficients
  fem/coefficient.hpp
Labels: enhancement, fem, in-next, in-review

#4548 HypreParMatrix Frobenius Norm
  linalg/hypre.cpp
  linalg/hypre.hpp
Labels: minor, linalg, in-next, in-review

#4528 Add support for SUNDIALS v7
  CHANGELOG
  CMakeLists.txt
  config/cmake/modules/FindSUNDIALS.cmake
  config/defaults.mk
  examples/sundials/ex10.cpp
  examples/sundials/ex10p.cpp
  examples/sundials/ex16.cpp
  examples/sundials/ex16p.cpp
  linalg/sundials.cpp
  linalg/sundials.hpp
  miniapps/adjoint/adjoint_advection_diffusion.cpp
  miniapps/adjoint/cvsRoberts_ASAi_dns.cpp
Labels: enhancement, in-next, in-review, libraries

#4538 Cutint 1d bug
  examples/ex38.cpp
  fem/intrules_cut.cpp
  fem/intrules_cut.hpp
Labels: bug, in-next, in-review

#4588 Add stale.yml
  .github/stale.yml
  .github/workflows/stale.yml
Labels: in-next, github, in-review

#4579 Fix nvcc warnings
  examples/ex38.cpp
Labels: building, minor, in-next, in-review

#4476 SubMesh support for nonconformal AMR
  CHANGELOG
  general/array.hpp
  general/sets.cpp
  general/sets.hpp
  linalg/batched/native.cpp
  mesh/CMakeLists.txt
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/mesh_headers.hpp
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  mesh/ncmesh_tables.hpp
  mesh/pmesh.hpp
  mesh/pncmesh.hpp
  mesh/submesh/ncsubmesh.cpp
  mesh/submesh/ncsubmesh.hpp
  mesh/submesh/pncsubmesh.cpp
  mesh/submesh/pncsubmesh.hpp
  mesh/submesh/psubmesh.cpp
  mesh/submesh/psubmesh.hpp
  mesh/submesh/ptransfermap.hpp
  mesh/submesh/submesh.cpp
  mesh/submesh/submesh.hpp
  mesh/submesh/submesh_utils.cpp
  mesh/submesh/submesh_utils.hpp
  tests/unit/general/test_array.cpp
  tests/unit/mesh/mesh_test_utils.cpp
  tests/unit/mesh/mesh_test_utils.hpp
  tests/unit/mesh/test_ncmesh.cpp
  tests/unit/mesh/test_pmesh.cpp
  tests/unit/mesh/test_psubmesh.cpp
  tests/unit/mesh/test_submesh.cpp
Labels: in-next, amr, in-review

#4592 Update to stale.yml to enable cache, on-demand dispatch, and higher rate limit
  .github/workflows/stale.yml
Labels: in-next, github, in-review

#4576 Ensure kernel specializations are instantiated
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/integ/bilininteg_diffusion_kernels.cpp
  fem/integ/bilininteg_mass_kernels.cpp
  fem/kernel_dispatch.hpp
  fem/quadinterpolator.cpp
  fem/quadinterpolator.hpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: bug, in-next, GPU, in-review

#4585 Fix verbosity levels for NewtonSolver in TMOP miniapps
  fem/tmop_tools.cpp
  linalg/solvers.cpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-fitting.cpp
  miniapps/meshing/pmesh-optimizer.cpp
Labels: mesh, in-next, in-review, TMOP

#4540 Add version of ParGridFunction::GetSerialGridFunction using existing FiniteElementSpace
  fem/pgridfunc.cpp
  fem/pgridfunc.hpp
  tests/unit/fem/test_pgridfunc_save_serial.cpp
Labels: enhancement, minor, in-next, in-review

#4562 Fix part of warnings for MSVC
  fem/fe/face_map_utils.cpp
  fem/integ/bilininteg_diffusion_patch.cpp
  fem/intrules.cpp
  fem/lininteg.hpp
  fem/pfespace.cpp
  fem/restriction.cpp
  general/array.hpp
  general/arrays_by_name.hpp
  general/communication.hpp
  general/globals.cpp
  general/globals.hpp
  general/isockstream.cpp
  general/socketstream.cpp
  linalg/hypre.cpp
  linalg/solvers.cpp
  mesh/mesh.cpp
  mesh/mesh_readers.cpp
  mesh/ncmesh.cpp
  mesh/pncmesh.cpp
  mesh/pncmesh.hpp
  mesh/submesh/submesh_utils.cpp
Labels: building, Windows, in-next, in-review

#4550 fix username std conflict
  miniapps/dpg/convection-diffusion.cpp
  miniapps/dpg/pconvection-diffusion.cpp
Labels: bug, examples & miniapps, in-next, in-review

#4564 Use std::initializer_list for braced-list construction
  general/array.hpp
  linalg/vector.hpp
  tests/unit/general/test_array.cpp
  tests/unit/linalg/test_vector.cpp
Labels: minor, in-next, in-review

#4566 Adding new constructors for NURBS patches
  CHANGELOG
  fem/fespace.cpp
  fem/fespace.hpp
  general/array.cpp
  general/array.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/nurbs.cpp
  mesh/nurbs.hpp
  tests/unit/mesh/test_mesh.cpp
Labels: mesh, fem, general, in-next, in-review
