Repository mfem/mfem, pull requests merged in 2024-07, with the labels that each got.

#4378 clarify FaceRestriction limitations
  fem/fespace.hpp
  fem/restriction.cpp
Labels: in-next, in-review

#4360 Adding SparseMatrix::PrintMathematica member function [print-mathematica-dev]
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
Labels: enhancement, linalg, in-next, low-impact, in-review

#4402 Switch Gitlab CI on Quartz to Ruby
  .gitlab-ci.yml
  .gitlab/README.md
  .gitlab/configs/common.yml
  .gitlab/configs/ruby-config.yml
  .gitlab/configs/setup-baseline.yml
  .gitlab/configs/setup-build-and-test.yml
  .gitlab/ruby-baseline.yml
  .gitlab/ruby-build-and-test.yml
  .gitlab/scripts/baseline
  .gitlab/scripts/rebaseline
Labels: in-next, testing, in-review, CI

#4409 Fix a small bug in Gitlab CI when cleaning up
  .gitlab/configs/ruby-config.yml
  .gitlab/ruby-baseline.yml
  .gitlab/scripts/baseline
Labels: in-next, testing, in-review, CI

#4395 It should be the logical || operator
  linalg/solvers.cpp
Labels: linalg, in-next, in-review

#4401 Use MFEM_VERIFY instead of MFEM_ASSERT inside the solvers
  linalg/solvers.cpp
Labels: linalg, in-next, in-review

#4407 Zero metric in TMOP
  fem/tmop.hpp
Labels: in-next, in-review, TMOP

#4362 Fix energy calculation for surface fitting
  fem/tmop.cpp
Labels: mesh, in-next, in-review

#4252 Improve support for out-of-tree installations
  INSTALL
  examples/amgx/makefile
  examples/caliper/makefile
  examples/ginkgo/makefile
  examples/hiop/makefile
  examples/makefile
  examples/moonolith/makefile
  examples/petsc/makefile
  examples/pumi/makefile
  examples/sundials/makefile
  examples/superlu/makefile
  makefile
  miniapps/adjoint/makefile
  miniapps/autodiff/makefile
  miniapps/common/makefile
  miniapps/dpg/makefile
  miniapps/electromagnetics/makefile
  miniapps/gslib/makefile
  miniapps/hdiv-linear-solver/makefile
  miniapps/hooke/makefile
  miniapps/meshing/makefile
  miniapps/mtop/makefile
  miniapps/multidomain/makefile
  miniapps/navier/makefile
  miniapps/nurbs/makefile
  miniapps/parelag/makefile
  miniapps/performance/makefile
  miniapps/shifted/makefile
  miniapps/solvers/makefile
  miniapps/spde/makefile
  miniapps/tools/makefile
  miniapps/toys/makefile
  miniapps/tribol/makefile
  tests/benchmarks/makefile
  tests/convergence/makefile
  tests/mem_manager/makefile
  tests/par-mesh-format/makefile
  tests/unit/makefile
Labels: enhancement, building, in-next, in-review

#4363 Fix SLEPc linking errors missing PETSc symbols when using `make`
  makefile
Labels: bug, in-next, in-review, PETSc

#4377 Fixes compilation issue when compiling for GPU -- missing header
  mesh/exodus_writer.cpp
Labels: in-next, in-review

#4178 Extend ReadCubit to Add Support For First/Second Order Pyramid and Wedge Elements and Mixed Meshes
  CHANGELOG
  mesh/mesh.hpp
  mesh/mesh_readers.cpp
  tests/unit/CMakeLists.txt
  tests/unit/mesh/test_exodus_reader.cpp
Labels: enhancement, mesh, in-next, in-review

#4414 [BUG] Fixed initialization of embedding geometry
  mesh/mesh.cpp
Labels: bug, mesh, in-next, in-review

#4088 Support for integral finite elements at multiple places
  fem/bilininteg.cpp
  fem/gridfunc.cpp
  fem/transfer.cpp
  fem/transfer.hpp
Labels: enhancement, fem, in-next, low-impact, in-review

#4082 Boundary/face integration in (Mixed)BilinearForm and Hybridization
  CHANGELOG
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/hybridization.cpp
  fem/hybridization.hpp
  fem/lininteg.cpp
  fem/lininteg.hpp
Labels: enhancement, fem, in-next, in-review
