Repository mfem/mfem, pull requests merged in 2024-10, with the labels that each got.

#4480 Add Anderson acceleration and fixed point/Picard options
  examples/sundials/ex10.cpp
  examples/sundials/ex10p.cpp
  linalg/sundials.cpp
  linalg/sundials.hpp
Labels: linalg, examples & miniapps, in-next, in-review

#4123 D(P)G elements support in MixedBilinearForm
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
Labels: enhancement, fem, in-next, in-review

#4461 bug-fix for custom interpolation utility with FindPointsGSLIB
  fem/gslib.cpp
  tests/unit/fem/test_gslib.cpp
Labels: general, in-next, in-review

#4510 Compare PETSc 64bit int also with HYPRE_MIXEDINT
  linalg/handle.cpp
  linalg/petsc.hpp
Labels: in-next, in-review, PETSc

#3480 New ode solver selection mechanism[ab-am-refactor]
  CHANGELOG
  examples/ex10.cpp
  examples/ex10p.cpp
  examples/ex16.cpp
  examples/ex16p.cpp
  examples/ex18.cpp
  examples/ex18p.cpp
  examples/ex23.cpp
  examples/ex9.cpp
  examples/ex9p.cpp
  linalg/ode.cpp
  linalg/ode.hpp
  tests/unit/linalg/test_ode.cpp
  tests/unit/linalg/test_ode2.cpp
Labels: bug, in-next, low-impact, in-review, low-priority
