Repository mfem/mfem, pull requests merged in 2024-04, with the labels that each got.

#4015 TMOP PA diagonal kernels with non-diagonal targets.
  fem/tmop/tmop_pa_h2d.cpp
  fem/tmop/tmop_pa_h3d.cpp
  tests/unit/miniapps/test_tmop_pa.cpp
Labels: bug, in-next, GPU, in-review, TMOP

#4056 Add support for `AssemblyLevel::FULL` for DG on `NCMesh`.
  fem/bilinearform_ext.cpp
  fem/prestriction.cpp
  fem/restriction.cpp
  tests/unit/fem/test_assembly_levels.cpp
Labels: enhancement, fem, in-next, amr, GPU, in-review

#3598 General hyperbolic class and Refactored Ex18, Ex18p
  .gitignore
  CHANGELOG
  examples/ex18.cpp
  examples/ex18.hpp
  examples/ex18p.cpp
  examples/makefile
  fem/CMakeLists.txt
  fem/fem.hpp
  fem/hyperbolic.cpp
  fem/hyperbolic.hpp
  fem/nonlinearform.cpp
  fem/nonlinearform.hpp
Labels: enhancement, fem, examples & miniapps, in-next, in-review

#4044 Named attribute sets
  CHANGELOG
  data/compass.geo
  data/compass.mesh
  data/compass.msh
  examples/CMakeLists.txt
  examples/ex38.cpp
  examples/ex39.cpp
  examples/ex39p.cpp
  examples/makefile
  general/CMakeLists.txt
  general/arrays_by_name.hpp
  mesh/CMakeLists.txt
  mesh/attribute_sets.cpp
  mesh/attribute_sets.hpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/mesh_readers.cpp
  mesh/pmesh.cpp
  mfem.hpp
  tests/unit/CMakeLists.txt
  tests/unit/general/test_array.cpp
  tests/unit/general/test_arrays_by_name.cpp
  tests/unit/makefile
Labels: mesh, in-next, low-impact, in-review

#4113 Boundary attribute transfer to ParSubMesh
  .gitignore
  examples/ex34.cpp
  examples/ex34p.cpp
  mesh/submesh/psubmesh.cpp
  miniapps/multidomain/CMakeLists.txt
  miniapps/multidomain/makefile
  miniapps/multidomain/multidomain_nd.cpp
  miniapps/multidomain/multidomain_rt.cpp
  tests/unit/mesh/test_psubmesh.cpp
Labels: bug, fem, in-next, in-review

#4226 Reverted the change of const qualifiers in BlockOperator
  linalg/blockoperator.cpp
  linalg/blockoperator.hpp
  miniapps/solvers/darcy_solver.cpp
Labels: bug, in-next, API change, in-review

#4135 Require `const HypreParMatrix*` in `HypreParMatrixFromBlocks()`
  linalg/hypre.cpp
  linalg/hypre.hpp
  tests/unit/linalg/test_matrix_rectangular.cpp
  tests/unit/linalg/test_matrix_square.cpp
Labels: linalg, in-next, in-review

#4227 Better GPU Guards in `config.hpp`
  config/config.hpp
Labels: in-next, GPU, in-review

#4225 Fix Pardiso for single precision
  linalg/cpardiso.cpp
  linalg/cpardiso.hpp
  linalg/pardiso.cpp
  linalg/pardiso.hpp
Labels: building, in-next, in-review, libraries

#4203 Changes to support PETSc 3.21 (to be released March 29th) and single precision builds
  CHANGELOG
  INSTALL
  examples/petsc/CMakeLists.txt
  examples/petsc/ex10p.cpp
  examples/petsc/ex11p.cpp
  examples/petsc/ex2p.cpp
  examples/petsc/ex3p.cpp
  examples/petsc/ex4p.cpp
  examples/petsc/ex5p.cpp
  examples/petsc/ex6p.cpp
  examples/petsc/ex9p.cpp
  examples/petsc/makefile
  examples/petsc/rc_ex5p_bddc
  linalg/petsc.cpp
  linalg/petsc.hpp
  linalg/slepc.cpp
  linalg/slepc.hpp
Labels: in-next, in-review, PETSc

#4054 Tribol contact patch test miniapp [tribol-miniapp]
  .gitignore
  CHANGELOG
  CMakeLists.txt
  CONTRIBUTING.md
  INSTALL
  config/XSDKDefaults.cmake
  config/cmake/MFEMConfig.cmake.in
  config/cmake/modules/FindAxom.cmake
  config/cmake/modules/FindConduit.cmake
  config/cmake/modules/FindTribol.cmake
  config/cmake/modules/MfemCmakeUtilities.cmake
  config/config.mk.in
  config/defaults.cmake
  config/defaults.mk
  doc/CodeDocumentation.conf.in
  linalg/hypre.cpp
  makefile
  miniapps/CMakeLists.txt
  miniapps/tribol/CMakeLists.txt
  miniapps/tribol/ContactPatchTest.cpp
  miniapps/tribol/README.md
  miniapps/tribol/axom-gcc-notpl.cmake
  miniapps/tribol/makefile
  miniapps/tribol/tribol-gcc-basictpl.cmake
  miniapps/tribol/two-hex.mesh
Labels: enhancement, examples & miniapps, in-next, in-review

#4206 Fixing `performance_ex1`to work with triangles and tetrahedrons [perf-with-tri-fix]
  fem/tbilinearform.hpp
  fem/teltrans.hpp
Labels: bug, fem, in-next, low-impact, in-review

#4236 Update to newest DenseMatrixSVD
  examples/ex33.cpp
  examples/ex33.hpp
  examples/ex33p.cpp
  examples/ex38.cpp
  tests/unit/linalg/test_matrix_dense.cpp
Labels: minor, linalg, in-next, in-review

#4128 Fix of loading boundary elements of ParMesh from files
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/pmesh.hpp
Labels: bug, mesh, hpc, in-next, in-review

#4214 Fix MUMPS libraries link sequence
  config/cmake/modules/FindMUMPS.cmake
  config/defaults.mk
  makefile
Labels: building, in-next, WIP, in-review, libraries

#3904 Dg diffusion
  CHANGELOG
  examples/ex14.cpp
  examples/ex14p.cpp
  fem/CMakeLists.txt
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/fe/face_map_utils.hpp
  fem/integ/bilininteg_dgdiffusion_pa.cpp
  fem/normal_deriv_restriction.cpp
  fem/normal_deriv_restriction.hpp
  fem/prestriction.cpp
  fem/prestriction.hpp
  fem/qspace.hpp
  fem/restriction.cpp
  fem/restriction.hpp
  general/table.hpp
  mesh/CMakeLists.txt
  mesh/face_nbr_geom.cpp
  mesh/face_nbr_geom.hpp
  tests/unit/fem/test_pa_kernels.cpp
Labels: enhancement, fem, in-next, GPU, in-review

#4243 mfem+amgx: add required header for MPITypeMap
  linalg/amgxsolver.cpp
Labels: in-next, in-review

#1951 Minor bugfixes and improvements
  examples/ex10p.cpp
  examples/petsc/ex10p.cpp
  examples/sundials/ex10p.cpp
  fem/pbilinearform.cpp
  fem/pbilinearform.hpp
  fem/pgridfunc.cpp
  fem/pgridfunc.hpp
  general/array.cpp
  general/array.hpp
  general/tic_toc.cpp
  general/tic_toc.hpp
  linalg/blockoperator.cpp
  linalg/densemat.cpp
  linalg/densemat.hpp
  linalg/hypre.cpp
  linalg/hypre.hpp
  linalg/solvers.cpp
  miniapps/electromagnetics/joule_solver.cpp
  tests/unit/linalg/test_matrix_dense.cpp
Labels: bug, enhancement, in-next, in-review

#4274 Fix the github actions for MacOS on ARM
  .github/workflows/builds-and-tests.yml
  tests/unit/mesh/test_ncmesh.cpp
Labels: in-next, github, in-review, CI
