Repository mfem/mfem, pull requests merged in 2024-03, with the labels that each got.

#4141 Refactoring Ex18 with preassembly option
  examples/ex18.cpp
  examples/ex18.hpp
  examples/ex18p.cpp
  fem/hyperbolic.cpp
  fem/hyperbolic.hpp
Labels: examples & miniapps, ready-for-review

#3648 NURBS refinement by formulas
  CHANGELOG
  data/beam-quad-nurbs-sf.mesh
  data/pipe-nurbs-log.mesh
  data/square-nurbs-pw.mesh
  mesh/CMakeLists.txt
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/mesh_readers.cpp
  mesh/nurbs.cpp
  mesh/nurbs.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  mesh/spacing.cpp
  mesh/spacing.hpp
  miniapps/meshing/mesh-explorer.cpp
  tests/unit/CMakeLists.txt
  tests/unit/linalg/test_matrix_sparse.cpp
  tests/unit/mesh/test_nurbs.cpp
Labels: enhancement, mesh, in-next, in-review

#4084 [Enzyme] Mark additional memmanager fn/vars as inactive
  general/device.hpp
  general/enzyme.hpp
  general/error.hpp
  general/mem_manager.hpp
Labels: enhancement, general, in-next, in-review

#4156 Make IterativeSolver::Dot virtual to enable custom inner products in derived solvers
  linalg/solvers.hpp
Labels: enhancement, linalg, in-next, in-review

#4067 Add attribute marker support for AssembleDiagonalPA
  fem/bilinearform_ext.cpp
  tests/unit/fem/test_assemblediagonalpa.cpp
Labels: bug, minor, fem, in-next, GPU, in-review

#4187 Fix hypre error in block solver
  miniapps/solvers/div_free_solver.cpp
Labels: bug, in-next, in-review

#4173 Avoid some unnecessary memcpys
  fem/integ/bilininteg_mass_ea.cpp
Labels: in-next, GPU, in-review

#4198 Workaround for the sanitizer failures
  .github/workflows/build-container.yml
  .github/workflows/mfem-sanitizer.yml
Labels: in-next, github, testing, in-review

#4121 Update RAJA for v2023.06.00 and beyond
  CHANGELOG
  general/forall.hpp
Labels: building, in-next, in-review

#4199 Update the GitLab "quartz-baseline" pipeline to use the Quartz-specific baseline results
  .gitlab/quartz-baseline.yml
  .gitlab/scripts/baseline
Labels: in-next, testing, in-review, CI

#4211 Fix a synchronization issue with some HypreParMatrix constructors
  linalg/hypre.cpp
  miniapps/meshing/CMakeLists.txt
  miniapps/meshing/pmesh-fitting.cpp
  tests/unit/linalg/test_matrix_hypre.cpp
Labels: bug, linalg, in-next, GPU, in-review

#4151 Broadcast values to other processors to have a consistent GridFunction
  fem/pgridfunc.cpp
  fem/pgridfunc.hpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_project_bdr_par.cpp
Labels: enhancement, fem, in-next, in-review
