Repository mfem/mfem, pull requests merged in 2024-09, with the labels that each got.

#4474 Fix uninitialized variables in pmesh-fitting
  miniapps/meshing/pmesh-fitting.cpp
Labels: examples & miniapps, in-next, in-review, TMOP

#4416 Add `FiniteElementSpace::BuildDofToBdrArrays()` and Minor Doc Clarification
  fem/fespace.cpp
  fem/fespace.hpp
  fem/gridfunc.cpp
  tests/unit/fem/test_build_dof_to_arrays.cpp
Labels: minor, fem, in-next, documentation, in-review

#4487 Make reader comply with CUBIT output
  mesh/mesh_readers.cpp
Labels: bug, mesh, in-next, in-review

#4448 Remove MesquiteSmooth which is not implemented
  mesh/mesh.hpp
Labels: mesh, in-next, in-review

#4489 Adding PrintMathematica to dense linear algebra objects [print-mathematica-dev2]
  linalg/densemat.cpp
  linalg/densemat.hpp
  linalg/sparsemat.cpp
  linalg/sparsemat.hpp
  linalg/vector.cpp
  linalg/vector.hpp
Labels: enhancement, linalg, in-next, low-impact, in-review

#4493 Update petsc examples with missing device initializations
  examples/petsc/ex10p.cpp
  examples/petsc/ex2p.cpp
  examples/petsc/ex3p.cpp
  examples/petsc/ex4p.cpp
  examples/petsc/ex5p.cpp
  examples/petsc/ex6p.cpp
  linalg/handle.cpp
  linalg/petsc.cpp
Labels: bug, examples & miniapps, in-next, in-review, PETSc

#4500 Fix memory leak in Vector move assignment
  linalg/vector.cpp
Labels: bug, in-next, in-review

#3138 Runtime dispatch for SMEM GPU kernels
  .gitignore
  CHANGELOG
  fem/CMakeLists.txt
  fem/bilininteg.hpp
  fem/integ/bilininteg_diffusion_kernels.cpp
  fem/integ/bilininteg_diffusion_kernels.hpp
  fem/integ/bilininteg_diffusion_pa.cpp
  fem/integ/bilininteg_mass_kernels.cpp
  fem/integ/bilininteg_mass_kernels.hpp
  fem/integ/bilininteg_mass_pa.cpp
  fem/kernel_dispatch.hpp
  fem/kernel_reporter.hpp
  fem/qinterp/det.cpp
  fem/qinterp/dispatch.hpp
  fem/qinterp/eval.hpp
  fem/qinterp/eval_by_nodes.cpp
  fem/qinterp/eval_by_vdim.cpp
  fem/qinterp/grad.hpp
  fem/qinterp/grad_by_nodes.cpp
  fem/qinterp/grad_by_vdim.cpp
  fem/qinterp/grad_phys_by_nodes.cpp
  fem/qinterp/grad_phys_by_vdim.cpp
  fem/quadinterpolator.cpp
  fem/quadinterpolator.hpp
  miniapps/hdiv-linear-solver/change_basis.cpp
Labels: in-next, GPU, in-review

#4356 Elimination of essential DOFs/BCs in MixedBilinearForm
  examples/ex36.cpp
  examples/ex8.cpp
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  miniapps/solvers/block-solvers.cpp
Labels: enhancement, fem, in-next, in-review
