Repository mfem/mfem, pull requests merged in 2025-03, with the labels that each got.

#4452 Increase minimum Ginkgo version to 1.9.0
  CMakeLists.txt
  INSTALL
  config/defaults.mk
  linalg/ginkgo.cpp
  linalg/ginkgo.hpp
Labels: building, linalg, in-next, in-review

#4731 Fixes for GLVis support of RT/ND_R1/2D elements.
  examples/ex31.cpp
  examples/ex31p.cpp
  examples/ex32p.cpp
  fem/gridfunc.cpp
  mesh/mesh.cpp
Labels: bug, visualization, ready-for-review

#4730 Fix construction of 2D submeshes with internal boundaries [4729-submesh-fix]
  mesh/submesh/submesh_utils.cpp
Labels: bug, mesh, in-next, in-review

#4733 Fixed ex19(p) to not duplicate the last printout.
  examples/ex19.cpp
  examples/ex19p.cpp
Labels: bug, minor, in-review

#4483 Allow IterativeSolverMonitor to indicate early convergence
  CHANGELOG
  examples/ex19.cpp
  examples/ex19p.cpp
  linalg/solvers.cpp
  linalg/solvers.hpp
Labels: linalg, in-next, in-review

#4726 Bug fix for printing BilinearForm [blf-print]
  fem/bilinearform.hpp
  linalg/matrix.hpp
  tests/unit/fem/test_bilinearform.cpp
Labels: bug, in-next, in-review

#4694 TMOP - solve for displacements
  fem/tmop.cpp
  fem/tmop.hpp
  fem/tmop/tmop_pa.cpp
  fem/tmop/tmop_pa_h2s_c0.cpp
  fem/tmop/tmop_pa_h3s_c0.cpp
  fem/tmop/tmop_pa_p2_c0.cpp
  fem/tmop/tmop_pa_p3_c0.cpp
  fem/tmop/tmop_pa_w2_c0.cpp
  fem/tmop/tmop_pa_w3_c0.cpp
  fem/tmop_tools.cpp
  fem/tmop_tools.hpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-fitting.cpp
  miniapps/meshing/pmesh-optimizer.cpp
Labels: in-next, in-review, TMOP, new baseline

#4702 VectorDivergenceIntegrator on surface meshes
  fem/bilininteg.cpp
  fem/bilininteg.hpp
Labels: fem, in-next, in-review

#4743 Fix MPI data types
  fem/gslib.cpp
  fem/pfespace.cpp
  fem/plinearform.cpp
  general/communication.hpp
  linalg/hypre.cpp
  mesh/pmesh.cpp
  mesh/pncmesh.cpp
  miniapps/shifted/diffusion.cpp
  miniapps/shifted/marking.cpp
  miniapps/tools/load-dc.cpp
Labels: bug, in-next, in-review

#4737 fix for #4732
  config/cmake/modules/FindHYPRE.cmake
Labels: bug, building, in-next, in-review, cmake

#4755 Small additions in `SLISolver` and `OperatorChebyshevSmoother`
  linalg/dual.hpp
  linalg/operator.cpp
  linalg/solvers.cpp
  linalg/solvers.hpp
  linalg/sparsemat.cpp
Labels: linalg, in-next, in-review

#4486 Method of Moving Asymptotes
  CHANGELOG
  linalg/CMakeLists.txt
  linalg/linalg.hpp
  linalg/mma.cpp
  linalg/mma.hpp
  tests/unit/CMakeLists.txt
  tests/unit/linalg/test_mma.cpp
Labels: enhancement, linalg, in-next, in-review

#4460 Arbitrary order bases on Pyramids [pyramid-dev]
  CHANGELOG
  data/equilateral-pyramid.mesh
  data/fichera-mixed-16.mesh
  data/inline-pyramid.mesh
  fem/CMakeLists.txt
  fem/bilininteg.cpp
  fem/doftrans.cpp
  fem/doftrans.hpp
  fem/eltrans.cpp
  fem/fe/fe_base.cpp
  fem/fe/fe_base.hpp
  fem/fe/fe_fixed_order.cpp
  fem/fe/fe_fixed_order.hpp
  fem/fe/fe_h1.cpp
  fem/fe/fe_h1.hpp
  fem/fe/fe_l2.cpp
  fem/fe/fe_l2.hpp
  fem/fe/fe_nd.cpp
  fem/fe/fe_nd.hpp
  fem/fe/fe_pos.cpp
  fem/fe/fe_pos.hpp
  fem/fe/fe_pyramid.cpp
  fem/fe/fe_pyramid.hpp
  fem/fe/fe_rt.cpp
  fem/fe/fe_rt.hpp
  fem/fe_coll.cpp
  fem/fe_coll.hpp
  fem/fespace.cpp
  fem/intrules.cpp
  mesh/mesh.cpp
  mesh/pyramid.hpp
  miniapps/common/mesh_extras.cpp
  miniapps/tools/display-basis.cpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_3d_bilininteg.cpp
  tests/unit/fem/test_calccurlshape.cpp
  tests/unit/fem/test_calcdivshape.cpp
  tests/unit/fem/test_calcdshape.cpp
  tests/unit/fem/test_calcshape.cpp
  tests/unit/fem/test_calcvshape.cpp
  tests/unit/fem/test_domain_int.cpp
  tests/unit/fem/test_fe.cpp
  tests/unit/fem/test_fe_compatibility.cpp
  tests/unit/fem/test_fe_fixed.cpp
  tests/unit/fem/test_fe_symmetry.cpp
  tests/unit/fem/test_get_value.cpp
  tests/unit/fem/test_intrules.cpp
  tests/unit/fem/test_lin_interp.cpp
  tests/unit/fem/test_poly1d.cpp
Labels: enhancement, fem, in-next, in-review

#4038 Parallel p-refinement
  .gitignore
  CHANGELOG
  examples/ex6p.cpp
  examples/makefile
  fem/complex_fem.cpp
  fem/fespace.cpp
  fem/fespace.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  fem/kdtree.hpp
  fem/pfespace.cpp
  fem/pfespace.hpp
  fem/pgridfunc.cpp
  fem/pgridfunc.hpp
  fem/restriction.cpp
  fem/tmop_tools.cpp
  fem/transfer.cpp
  fem/transfer.hpp
  general/communication.hpp
  mesh/mesh_operators.cpp
  mesh/mesh_operators.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  mesh/pncmesh.cpp
  mesh/pncmesh.hpp
  miniapps/gslib/findpts.cpp
  miniapps/meshing/CMakeLists.txt
  miniapps/meshing/hpref.cpp
  miniapps/meshing/hpref_serial.cpp
  miniapps/meshing/makefile
  miniapps/meshing/ref321.cpp
  tests/unit/fem/test_transfer.cpp
  tests/unit/fem/test_var_order.cpp
Labels: fem, in-next, amr, in-review

#4691 Small fixes for (ND,RT)_R(1,2)D visualization [issue_4403]
  fem/fe_coll.cpp
  fem/fe_coll.hpp
  fem/gridfunc.cpp
  mesh/mesh.cpp
Labels: bug, in-next, visualization, in-review

#4738 External macros
  fem/kernel_dispatch.hpp
  general/cuda.hpp
  general/hip.hpp
Labels: bug, enhancement, general, in-next, in-review

#4746 Support Umpire with external FMT
  config/defaults.mk
Labels: building, in-next, in-review

#4764 Fix dereferencing LOR markers
  fem/lor/lor.cpp
Labels: bug, in-next, in-review

#4666 Bug fix and improvements to (Par)TransferMap
  mesh/submesh/ptransfermap.cpp
  mesh/submesh/ptransfermap.hpp
  mesh/submesh/transfermap.cpp
  mesh/submesh/transfermap.hpp
Labels: bug, enhancement, in-next, in-review

#4660 Reduction framework
  general/backends.hpp
  general/cuda.hpp
  general/forall.hpp
  general/hip.hpp
  general/reducers.hpp
  linalg/vector.cpp
  linalg/vector.hpp
  tests/unit/CMakeLists.txt
  tests/unit/general/test_reduction.cpp
Labels: enhancement, in-next, GPU, in-review

#4571 GPU hybridization
  CHANGELOG
  examples/ex4.cpp
  examples/ex4p.cpp
  fem/CMakeLists.txt
  fem/bilinearform.cpp
  fem/bilinearform.hpp
  fem/bilinearform_ext.cpp
  fem/bilinearform_ext.hpp
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/fe/face_map_utils.hpp
  fem/fespace.cpp
  fem/hybridization.cpp
  fem/hybridization.hpp
  fem/hybridization_ext.cpp
  fem/hybridization_ext.hpp
  fem/integ/bilininteg_hdiv_ea.cpp
  fem/integ/bilininteg_mass_ea.cpp
  fem/integ/bilininteg_mass_kernels.hpp
  fem/integ/bilininteg_mass_pa.cpp
  fem/integ/bilininteg_trace_jump_ea.cpp
  fem/pbilinearform.cpp
  fem/pfespace.cpp
  fem/restriction.cpp
  fem/restriction.hpp
  general/forall.hpp
  linalg/batched/native.cpp
  linalg/densemat.cpp
  linalg/densemat.hpp
  linalg/kernels.hpp
  miniapps/hdiv-linear-solver/grad_div.cpp
  tests/unit/fem/test_assembly_levels.cpp
  tests/unit/fem/test_bilinearform.cpp
Labels: in-next, GPU, in-review
