Repository mfem/mfem, pull requests merged in 2025-05, with the labels that each got.

#4828 Extra TMOP PA energy kernels.
  fem/tmop.cpp
  fem/tmop.hpp
  fem/tmop/tmop_pa.cpp
  fem/tmop/tmop_pa_w2.cpp
  fem/tmop/tmop_pa_w3.cpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-optimizer.cpp
  tests/unit/miniapps/test_tmop_pa.cpp
Labels: in-next, GPU, in-review, high-priority, TMOP

#4814 Support 1D in DGMassInverse
  fem/dgmassinv.cpp
  fem/dgmassinv.hpp
  fem/dgmassinv_kernels.hpp
  fem/integ/bilininteg_mass_kernels.hpp
  fem/integ/bilininteg_mass_pa.cpp
  fem/kernel_dispatch.hpp
  tests/unit/fem/test_dgmassinv.cpp
Labels: enhancement, minor, fem, in-next, in-review

#4806 Fix mfem4.8 about petsc config
  config/cmake/modules/ResolveCompilerPaths.cmake
Labels: building, in-next, in-review, libraries, PETSc

#4849 TMOP PA 2D kernel for size adaptivity
  fem/tmop/tmop_pa_da3.cpp
Labels: in-next, in-review, TMOP

#3837 Fixes for `mfem::Device`
  general/device.cpp
  general/device.hpp
Labels: in-next, GPU, in-review, high-priority

#4838 make some subvector functions work on device
  CHANGELOG
  linalg/vector.cpp
  linalg/vector.hpp
  miniapps/dpg/convection-diffusion.cpp
Labels: in-next, GPU, in-review
