Repository mfem/mfem, pull requests merged in 2025-10, with the labels that each got.

#4975 Add support to hypre-3.0
  CMakeLists.txt
  config/cmake/modules/FindHYPRE.cmake
  linalg/hypre.cpp
  linalg/hypre.hpp
  linalg/hypre_parcsr.cpp
  linalg/hypre_parcsr.hpp
Labels: linalg, in-next, in-review, libraries

#4684 Updates for the branch `woptim/leverage-radiuss-ci`
  .gitlab-ci.yml
  .gitlab/README.md
  .gitlab/custom-jobs-and-variables.yml
  .gitlab/jobs/ruby.yml
  .gitlab/jobs/tioga.yml
  .gitlab/scripts/report_build_and_test
  .gitlab/subscribed-pipelines.yml
  tests/gitlab/README.md
  tests/gitlab/build_and_test
  tests/gitlab/build_and_test_setup
  tests/gitlab/generate_spack_upstream
  tests/gitlab/reproduce-ci-jobs-interactively.md
Labels: WIP

#5015 Avoid int overflow for large VTU meshes
  mesh/mesh_readers.cpp
Labels: bug, mesh, in-next, in-review

#5048 Add ClosedGL to Quadrature1D::CheckOpen and remove redundant conditions
  fem/fe_coll.cpp
  fem/intrules.cpp
Labels: enhancement, in-next, in-review
