Repository mfem/mfem, pull requests merged in 2025-01, with the labels that each got.

#4643 Array move constructor fix
  general/array.hpp
  general/mem_manager.hpp
Labels: minor, in-next, in-review

#4647 Rename getenv wrapper to GetEnv
  fem/kernel_reporter.hpp
  general/device.cpp
  general/globals.cpp
  general/globals.hpp
  general/mem_manager.cpp
  general/socketstream.cpp
Labels: Windows, minor, in-next, in-review

#4619 TMOP correction for background grids
  fem/fespace.cpp
  fem/fespace.hpp
  fem/tmop.cpp
  fem/tmop.hpp
  fem/tmop_tools.cpp
  fem/tmop_tools.hpp
Labels: bug, mesh, in-next, in-review

#4650 Use 'concurrency' in GitHub CI instead of external action
  .github/workflows/builds-and-tests.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/mfem-analysis.yml
  .github/workflows/mfem-sanitizer.yml
  .github/workflows/repo-check.yml
Labels: in-next, in-review, CI

#4621 CMake: fix an issue when finding PETSc
  config/cmake/modules/FindPackageMultipass.cmake
Labels: building, in-next, in-review, cmake, PETSc

#4574 PetscContainerSetUserDestroy -> PetscContainerSetCtxDestroy
  linalg/petsc.cpp
Labels: in-next, in-review, PETSc

#4513 Improvements of general hyperbolic framework
  CHANGELOG
  fem/hyperbolic.cpp
  fem/hyperbolic.hpp
Labels: enhancement, fem, in-next, in-review

#4522 AD implementation for selected TMOP metrics
  CHANGELOG
  fem/tmop.cpp
  fem/tmop.hpp
  linalg/densemat.hpp
  miniapps/meshing/mesh-optimizer.cpp
  miniapps/meshing/pmesh-optimizer.cpp
  miniapps/tools/tmop-check-metric.cpp
  miniapps/tools/tmop-metric-magnitude.cpp
Labels: mesh, in-next, in-review, TMOP, new baseline

#4572 Bug in VectorDiffusionIntegrator::AssembleElementVector.
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  tests/unit/fem/test_1d_bilininteg.cpp
Labels: bug, fem, in-next, in-review

#4598 Move VectorDim, CurlDim to FiniteElementSpace (Redo)
  fem/fespace.cpp
  fem/fespace.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
Labels: minor, fem, in-next, in-review

#4668 Fix bug in KnotVector initialization to enable nonopen knot vectors
  mesh/nurbs.cpp
Labels: bug, mesh, in-next, in-review

#4649 Compute derivatives in FaceQuadratureInterpolator, compute Jacobian matrices in FaceGeometricFactors
  fem/quadinterpolator_face.cpp
  mesh/mesh.cpp
  mesh/mesh.hpp
  tests/unit/mesh/test_geometric_factors.cpp
Labels: bug, fem, in-next, in-review

#4484 Do not remove internal boundaries when loading a gmsh periodic mesh
  mesh/mesh_readers.cpp
Labels: mesh, in-next, in-review

#4637 Fix element visualization in Mesh Explorer
  miniapps/meshing/mesh-explorer.cpp
Labels: bug, minor, examples & miniapps, in-next, visualization, in-review

#4610 Allow reading exodus block/boundary names into corresponding attribute sets
  .gitignore
  mesh/mesh_readers.cpp
  tests/unit/mesh/test_exodus_reader.cpp
Labels: in-next, in-review

#4652 😵‍💫 New toy miniapp: Spiral
  .gitignore
  CHANGELOG
  miniapps/meshing/makefile
  miniapps/toys/CMakeLists.txt
  miniapps/toys/makefile
  miniapps/toys/spiral.cpp
Labels: examples & miniapps, in-next, visualization, in-review
