Repository mfem/mfem, pull requests merged in 2025-09, with the labels that each got.

#4937 bugfix for 4935
  fem/fe_coll.cpp
Labels: bug, in-next, in-review

#4985 Memory manager: debug-mode tweak
  general/mem_manager.cpp
Labels: bug, minor, general, in-next, in-review

#4980 Minor improvements to `FindPointsGSLIB`
  fem/gslib.cpp
  fem/gslib.hpp
Labels: fem, in-next, in-review

#4819 Improved FindPointsGSLIB interface
  CHANGELOG
  fem/gslib.cpp
  fem/gslib.hpp
  fem/tmop_tools.hpp
  miniapps/gslib/field-diff.cpp
  miniapps/gslib/field-interp.cpp
  miniapps/gslib/findpts.cpp
  miniapps/gslib/pfindpts.cpp
  miniapps/gslib/schwarz_ex1.cpp
  miniapps/gslib/schwarz_ex1p.cpp
Labels: enhancement, general, in-next, in-review

#4906 Anisotropic hexahedral refinement without conflicts
  CHANGELOG
  general/hash.hpp
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  mesh/pncmesh.cpp
  mesh/pncmesh.hpp
  miniapps/meshing/phpref.cpp
Labels: in-next, amr, in-review

#4968 [BUG] Fixed cloning of RT trace and DG interface FE collections
  fem/fe_coll.cpp
  fem/fe_coll.hpp
Labels: bug, fem, in-next, in-review

#4907 Boundary integration in the hyperbolic framework
  CHANGELOG
  fem/hyperbolic.cpp
  fem/hyperbolic.hpp
Labels: fem, in-next, in-review

#5020 Github CI fix for metric 55
  fem/tmop.cpp
  fem/tmop.hpp
Labels: in-next, in-review, TMOP

#5002 Fix fetched METIS builds w/ gcc 14+
  config/cmake/modules/FindMETIS.cmake
Labels: enhancement, building, in-next, in-review, cmake

#3807 Nonconforming NURBS patches
  CHANGELOG
  data/nc-nurbs3d.mesh
  data/nc3-nurbs.mesh
  examples/ex1.cpp
  fem/fespace.hpp
  fem/gridfunc.cpp
  fem/gridfunc.hpp
  general/array.cpp
  general/array.hpp
  mesh/CMakeLists.txt
  mesh/mesh.cpp
  mesh/mesh.hpp
  mesh/mesh_readers.cpp
  mesh/ncmesh.cpp
  mesh/ncmesh.hpp
  mesh/ncnurbs.cpp
  mesh/ncnurbs.hpp
  mesh/nurbs.cpp
  mesh/nurbs.hpp
  mesh/pmesh.cpp
  mesh/pmesh.hpp
  mesh/spacing.cpp
  mesh/spacing.hpp
  miniapps/meshing/mesh-explorer.cpp
  tests/unit/mesh/test_nurbs.cpp
Labels: mesh, in-next, in-review

#4561 CMake improvements
  CMakeLists.txt
  config/cmake/MFEMConfig.cmake.in
  config/cmake/modules/FindHYPRE.cmake
  config/cmake/modules/MfemCmakeUtilities.cmake
Labels: in-next, in-review, cmake

#4834 GPU Assembly of LOR DG Preconditioner
  fem/CMakeLists.txt
  fem/bilininteg.hpp
  fem/fe/face_map_utils.hpp
  fem/lininteg.hpp
  fem/lor/lor_batched.cpp
  fem/lor/lor_batched.hpp
  fem/lor/lor_dg.hpp
  fem/lor/lor_dg_impl.hpp
  fem/pfespace.hpp
  miniapps/solvers/lor_solvers.cpp
  miniapps/solvers/plor_solvers.cpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/make_permuted_mesh.cpp
  tests/unit/fem/make_permuted_mesh.hpp
  tests/unit/fem/test_face_permutation.cpp
  tests/unit/fem/test_lor_batched.cpp
  tests/unit/fem/test_lor_dg.cpp
  tests/unit/linalg/test_same_matrices.hpp
Labels: enhancement, fem, in-next, GPU, in-review

#4999 Add `SetEssentialTrueDofs` to `(Par)BlockNonlinearForm`
  fem/nonlinearform.cpp
  fem/nonlinearform.hpp
  fem/pnonlinearform.cpp
  fem/pnonlinearform.hpp
Labels: usage, minor, in-next, in-review
