Repository mfem/mfem, pull requests merged in 2025-02, with the labels that each got.

#4557 Integrator base class unifying logic for selecting IntegrationRule
  CHANGELOG
  fem/CMakeLists.txt
  fem/bilininteg.cpp
  fem/bilininteg.hpp
  fem/ceed/interface/mixed_integrator.hpp
  fem/integrator.cpp
  fem/integrator.hpp
  fem/intrules.cpp
  fem/intrules.hpp
  fem/lininteg.cpp
  fem/lininteg.hpp
  fem/lor/lor.cpp
  fem/nonlininteg.cpp
  fem/nonlininteg.hpp
Labels: enhancement, fem, in-next, in-review

#4670 Updates to ex40
  examples/ex40.cpp
  examples/ex40p.cpp
Labels: examples & miniapps, in-next, in-review

#4680 Fix missing override on STRUMPKACKSolverBase::ArrayMult
  linalg/strumpack.hpp
Labels: minor, in-next, in-review

#3605 Update debug unit test with SIGBUS error
  tests/unit/makefile
  tests/unit/miniapps/test_debug_device.cpp
Labels: enhancement, in-next, testing, in-review

#4675 BlockLowerTriangularPreconditioner GPU support
  CHANGELOG
  fem/bilinearform.cpp
  fem/linearform.cpp
  fem/nonlinearform.cpp
  linalg/blockoperator.cpp
  linalg/densemat.cpp
  linalg/solvers.cpp
  linalg/sparsemat.cpp
  tests/unit/CMakeLists.txt
  tests/unit/fem/test_1d_bilininteg.cpp
  tests/unit/fem/test_block_operators.cpp
  tests/unit/fem/test_derefine.cpp
  tests/unit/fem/test_face_permutation.cpp
  tests/unit/fem/test_face_restriction.cpp
  tests/unit/fem/test_linear_fes.cpp
  tests/unit/fem/test_quadf_coef.cpp
  tests/unit/fem/test_white_noise.cpp
  tests/unit/mesh/mesh_test_utils.cpp
  tests/unit/mesh/test_geometric_factors.cpp
  tests/unit/mesh/test_ncmesh.cpp
Labels: bug, linalg, in-next, GPU, in-review

#4646 Support full assembly on highly connected meshes
  fem/restriction.cpp
  fem/restriction.hpp
  tests/unit/fem/test_assembly_levels.cpp
Labels: enhancement, in-next, GPU, in-review

#4707 Restore TMOP skew metric
  CHANGELOG
  fem/tmop.cpp
  fem/tmop.hpp
Labels: mesh, in-next, in-review, TMOP

#4669 Add support for H(div) spaces in class QuadratureInterpolator
  CHANGELOG
  fem/CMakeLists.txt
  fem/fespace.hpp
  fem/qinterp/eval_hdiv.cpp
  fem/qinterp/eval_hdiv.hpp
  fem/quadinterpolator.cpp
  fem/quadinterpolator.hpp
  mesh/mesh.hpp
  tests/unit/fem/test_quadinterpolator.cpp
Labels: fem, in-next, GPU, in-review

#4717 Expose MFEM_USE_HIP on cmake
  config/cmake/MFEMConfig.cmake.in
Labels: building, in-next, GPU, in-review, cmake

#4721 Suppress a warning from `icpc`
  fem/qinterp/eval_hdiv.hpp
Labels: in-next, in-review, CI

#4712 Fix typo in SumIntegrator::AddMultMF / AddMultTransposeMF
  fem/bilininteg.cpp
Labels: bug, linalg, in-next, in-review

#4716 macos single precision build fix
  config/makefile
  fem/tmop.cpp
  linalg/dual.hpp
Labels: building, in-next, in-review

#4706 Address some subtle bugs in the changed Newmark integration method.
  linalg/ode.cpp
Labels: bug, linalg, in-next, in-review

#4704 Spiral transformation
  miniapps/common/mesh_extras.cpp
  miniapps/common/mesh_extras.hpp
  miniapps/meshing/mesh-explorer.cpp
Labels: minor, mesh, in-next, in-review
